<div class="mb-5">
  <div class="row mb-2">
    <div class="col-6">
      <span class="text-body-2-regular text-neutral-90"> Nombre de local </span>
    </div>
    <div class="col-6">
      <span class="text-body-2-regular text-neutral-90">
        Nombre de transportista
      </span>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-6">
      <app-local-filter></app-local-filter>
    </div>
    <div class="col-6">
      <app-carrier-filter></app-carrier-filter>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex align-items-center">
      <app-switch backgroundClass="bg-secondary-60">
        <span class="text-body-2-regular text-neutral-90">
          Buscar transportistas disponibles en otros locales.
        </span>
      </app-switch>
    </div>
  </div>
</div>
