<app-account-card>
    <ng-container account-card-title>Recupera tu contraseña</ng-container>
    <ng-container account-card-content>

        <div class="recover-password-caption text-center mb-7">
            <p class="text-subtitle-1 text-gray-6 mb-4">Revisa el código enviado a </p>
            <p class="text-subtitle-2 text-gray-6 mb-0">{{emailMasked}}</p>
        </div>


        <form [formGroup]="recoverPasswordCodeForm.form$"
              (ngSubmit)="formSubmitted()"
              [class.container-loader]="submitForm">

            <div class="user mb-10">
                <app-form-field>
                    <app-form-field-label>Código enviado a tu usuario</app-form-field-label>
                    <app-input formControlName="code"
                               labelClass="d-block"
                               id="code"
                               placeholder="Escribe aquí el código">
                    </app-input>
                    <ng-container *ngIf="!!recoverPasswordCodeForm.codeControl.hasWrongDataError">
                        <app-form-field-error>{{recoverPasswordCodeForm.codeControl.controlError}}</app-form-field-error>
                    </ng-container>
                </app-form-field>
            </div>


            <div class="submit mb-4">
                <app-button [disabled]="recoverPasswordCodeForm.form$.invalid"
                            innerClass="w-100"
                            appearance="primary"
                            behavior="submit">
                    Validar código
                </app-button>
            </div>

            <div class="cancel">
                <app-button (click)="formCancel()"
                            innerClass="w-100"
                            appearance="secondary"
                            behavior="button">
                    Cancelar
                </app-button>
            </div>

        </form>

    </ng-container>
</app-account-card>
