@import "src/sass/variables"
@import "src/sass/mixins/text.mixin"
@import "src/sass/mixins/display.mixin"

.paginator
  @include d-flex-vertical-center

  .previous-button,
  .next-button
    cursor: pointer
    user-select: none
    display: inline-flex

    &.disabled
      pointer-events: none
      opacity: .3

  .paginator-index-list
    display: flex
    height: 25px

    .paginator-index-container
      display: flex
      transition: transform 0.2s
      overflow: hidden

    .index-list-container
      display: flex
      transition: transform 0.2s
      max-width: 120px

  .paginator-index
    width: 25px
    height: 25px
    margin: 0 2.5px
    border-radius: $border-radius-round
    color: $gray-5
    @include text-body-2-regular
    @include d-flex-center
    display: inline-flex
    cursor: pointer
    user-select: none
    flex: 0 0 auto

    &.active-index
      background-color: $primary
      color: $white
