.text-input-container {
  width: 100%;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .text-input-label {
    width: 100%;
    font-size: 12px;
  }

  .text-input {
    height: 37px;
    width: 100%;
    padding-left: 6px;

    &--s {
      height: 32px;
    }

    &--m {
      height: 36px;
    }

    &--l {
      height: 40px;
    }
  }

  .text-input-error {
    width: 100%;
  }
}

.dn {
  .text-input-label {
    display: none;
  }
}
