<section class="timeout-error d-flex-center">
    <div class="content text-center">
        <app-icon svgName="empty-orders"
                  svgWidth="200px"></app-icon>
        <h1 class="text-h4 mt-5 mb-5">¡Oh, no! </h1>
        <p class="text-body-1-regular text-gray-6 mb-5">
            El sistema está tardando más de lo normal, <br> te invitamos a ingresar en unos minutos.</p>
        <p class="mb-0">
            <app-button appearance="primary"
                        (clicked)="tryAgainEvent()">Intentar de nuevo</app-button>
        </p>
    </div>
</section>
