<section class="operations-capacity-express pt-6 pt-md-8 pb-8 pb-md-15">
  <div class="row mb-2">
    <div class="col">
      <app-back-router-simple class="back"></app-back-router-simple>
    </div>
  </div>

  <div class="row mb-0 mb-md-3">
    <div class="col">
      <h1 class="text-h5 text-black mb-4">
        Edición de capacidad e interval time flexible
      </h1>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="expressIntervalTime">
    <div class="col-12 col-xlg-8">
      <app-op-intervals-step-set-express
        [drugStoreCode]="drugStoreCode"
        [drugStoreName]="drugStoreName"
      ></app-op-intervals-step-set-express>
    </div>
  </div>
</section>
