<app-button
  [innerClass]="'button-action-icon ' + innerClass"
  [inlineStyle]="inlineStyle"
  [disabled]="disabled"
  [class.whole]="iconStyle === 'whole'"
  [class.edge]="iconStyle === 'edge'"
  [class.edge-table]="iconStyle === 'edge-table'"
  (clicked)="clicked.emit($event)">
  <span class="d-inline-flex">
    <app-icon class="button-action-icon"
              [fontName]="iconName"
              [svgName]="svgName"
              fontSize="16px"
              [svgWidth]="svgWidth"
              fontColor="white"></app-icon>
  </span>
</app-button>
