<div *appRouterAccess="routerPath.order">
  <app-sidenav-route-expansion
    [disableChildren]="!sidenav?.opened"
    [routePathOptions]="{exact: sidenav?.opened}"
    [routePath]="routerPath.order"
    [routeText]="sidenavRouting.name"
    [routeIcon]="sidenavRouting.iconMenu">

    <app-sidenav-route
      *appRouterAccess="routerPath.orderRecords"
      [routePathOptions]="{exact: false}"
      [routePath]="[routerPath.orderRecords]"
      routeText="Historial de pedidos">
    </app-sidenav-route>

  </app-sidenav-route-expansion>

</div>
