.content-text
  text-overflow: ellipsis
  overflow: hidden

  ::ng-deep.mat-tooltip-trigger
    display: block
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

.mat-select-panel.select-component .option-container
  max-height: 100px !important
