<app-accordion-information svgName="avatar"  title="Información del cliente" [expanded]="true">
  <div class="row">
    <div class="col-6">
      <table>
        <tr>
          <td>Nombre y apellido:</td>
          <td>Esther Rojas Castro</td>
        </tr>
        <tr>
          <td>Documento:</td>
          <td>DNI 15627322</td>
        </tr>
        <tr>
          <td>RUC:</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Razón social:</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Teléfono:</td>
          <td>970890778</td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table>
        <tr>
          <td>Correo:</td>
          <td>ecastro@gmail.com</td>
        </tr>
        <tr>
          <td>Dirección:</td>
          <td>Av. Ejercito, 670 - Miraflores</td>
        </tr>
        <tr>
          <td>Coordenadas:</td>
          <td>
            <a href="https://maps.google.com/?q=-12.0607882, -77.1417395" target="_blank"
               class="text-secondary text-body-2-bold">
              -12.0607882, -77.1417395
            </a>
          </td>
        </tr>
        <tr>
          <td>Referencia:</td>
          <td>-</td>
        </tr>
      </table>
    </div>
  </div>
</app-accordion-information>
