<app-accordion-information
  svgName="avatar"
  title="Información del cliente"
  [expanded]="true"
>
  <div class="row">
    <div class="col-6">
      <table>
        <tr>
          <td>Nombre y apellido:</td>
          <td>{{ dataClient.fullName | nombre }}</td>
        </tr>
        <tr>
          <td>Doc. Identidad:</td>
          <td>{{ dataClient.documentNumber | nombre }}</td>
        </tr>
        <tr>
          <td>RUC:</td>
          <td>{{ dataClient.ruc | nombre }}</td>
        </tr>
        <tr>
          <td>Razón social:</td>
          <td>{{ dataClient.businessName | nombre }}</td>
        </tr>
        <tr>
          <td>Teléfono:</td>
          <td>{{ dataClient.phone | nombre }}</td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table>
        <tr>
          <td>Correo:</td>
          <td>{{ dataClient.email | nombre }}</td>
        </tr>
        <tr>
          <td>Dirección:</td>
          <td>{{ dataClient.address | nombre }}</td>
        </tr>
        <tr>
          <td>Coordenadas:</td>
          <td>
            <ng-container *ngIf="dataClient.coordinates; else noCoordinates">
              <a
                [href]="'https://maps.google.com/?q=' + dataClient.coordinates"
                target="_blank"
                class="text-secondary text-body-2-bold"
              >
                {{ dataClient.coordinates }}
              </a>
            </ng-container>
            <ng-template #noCoordinates>-</ng-template>
          </td>
        </tr>
        <tr>
          <td>Referencia:</td>
          <td>{{ dataClient.reference }}</td>
        </tr>
      </table>
    </div>
  </div>
  <hr class="mb-6 text-gray-3" />
  <p class="text-body-2-bold text-gray-7 mb-3">Retiro en tienda por tercero</p>
  <div class="row">
    <div class="col-6">
      <table>
        <tr>
          <td>Nombre y apellido:</td>
          <td>{{ dataClient.personToPickup.fullName }}</td>
        </tr>
        <tr>
          <td>Doc. Identidad:</td>
          <td>{{ dataClient.personToPickup.documentNumber }}</td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table>
        <tr>
          <td>Correo:</td>
          <td>{{ dataClient.personToPickup.email }}</td>
        </tr>
        <tr>
          <td>Teléfono:</td>
          <td>{{ dataClient.personToPickup.phoneNumber }}</td>
        </tr>
      </table>
    </div>
  </div>
</app-accordion-information>
