<app-accordion-information svgName="avatar"  title="Información del cliente" [expanded]="true">
  <div class="row">
    <div class="col-6">
      <table>
        <tr>
          <td>Nombre y apellido:</td>
          <td>{{ dataClient.fullName }}</td>
        </tr>
        <tr>
          <td>Doc. Identidad:</td>
          <td>{{ dataClient.documentNumber }}</td>
        </tr>
        <tr>
          <td>RUC:</td>
          <td>{{ dataClient.ruc }}</td>
        </tr>
        <tr>
          <td>Razón social:</td>
          <td>{{ dataClient.businessName }}</td>
        </tr>
        <tr>
          <td>Teléfono:</td>
          <td>{{ dataClient.phone }}</td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table>
        <tr>
          <td>Correo:</td>
          <td>{{ dataClient.email }}</td>
        </tr>
        <tr>
          <td>Dirección:</td>
          <td>{{ dataClient.address }}</td>
        </tr>
        <tr>
          <td>Coordenadas:</td>
          <td>
            <a [href]="'https://maps.google.com/?q=' + dataClient.coordinates" target="_blank"
               class="text-secondary text-body-2-bold">
              {{ dataClient.coordinates }}
            </a>
          </td>
        </tr>
        <tr>
          <td>Referencia:</td>
          <td>{{ dataClient.reference }}</td>
        </tr>
      </table>
    </div>
  </div>
</app-accordion-information>
