<div class="mt-6" *ngIf="zoneBackupDetail">
  <div
    class="bg-white rounded-3 d-flex py-4 px-5 align-items-center justify-content-between"
    *ngIf="showAlert"
  >
    <p class="d-inline-flex align-items-center mb-0">
      <app-icon
        fontName="info"
        fontSize="24px"
        innerClass="text-gray-7 me-2"
      ></app-icon>
      <span class="text-body-1-regular text-gray-7 cursor-pointer"
        >Puedes editar el horario y GAP en la configuración de la zona
        <app-router [router]="zoneBackupPath">
          <span
            class="text-decoration-underline text-secondary font-weight-bold"
          >
            {{ zoneBackupDetail.name }} - {{ zoneBackupDetail.code }}
          </span>
        </app-router>
      </span>
    </p>
  </div>
</div>

<div class="row mt-6 align-items-center">
  <div class="col-4">
    <h3 class="text-h6 mb-0">Tipo de servicios backup</h3>
  </div>
  <div class="col-4 offset-4 d-flex align-items-center justify-content-around">
    <div class="d-flex align-items-center">
      <app-icon
        class="d-inline-block me-1 mt-1"
        [svgName]="'ellipse-success'"
      ></app-icon>
      <p class="mb-0 text-gray-5 ms-2">Activo</p>
    </div>
    <div class="d-flex align-items-center">
      <app-icon
        class="d-inline-block me-1 mt-1"
        [svgName]="'elipse-error'"
      ></app-icon>
      <p class="mb-0 text-gray-5 ms-2">Inactivo</p>
    </div>
    <div class="d-flex align-items-center">
      <app-icon
        class="d-inline-block me-1 mt-1"
        [svgName]="'ellipse-disabled'"
      ></app-icon>
      <p class="mb-0 text-gray-5 ms-2">Inhabilitado</p>
    </div>
  </div>
</div>

<div class="row justify-content-between mt-6">
  <div class="col-12 col-lg-4 col-xlg-4 mb-6">
    <app-op-zones-edition-home-backup-stock-backup-card
      [disabled]="!stateValue[zoneBackup?.state]"
      [zoneBackupDetail]="zoneBackupDetail"
      (edit)="editBackupZonEvent()"
    >
    </app-op-zones-edition-home-backup-stock-backup-card>
  </div>

  <div class="col-12 col-lg-4 col-xlg-4 mb-4">
    <app-op-zones-edition-home-backup-service-type-card
      [disabled]="!stateValue[zoneBackup?.state]"
      [zoneBackupDetail]="zoneBackupDetail"
      [serviceType]="zoneBackupServiceTypeList?.amPm"
      (edit)="editServiceTypeEvent($event)"
    >
    </app-op-zones-edition-home-backup-service-type-card>
  </div>

  <div class="col-12 col-lg-4 col-xlg-4 mb-4">
    <app-op-zones-edition-home-backup-service-type-card
      [disabled]="!stateValue[zoneBackup?.state]"
      [zoneBackupDetail]="zoneBackupDetail"
      [serviceType]="zoneBackupServiceTypeList?.scheduled"
      (edit)="editServiceTypeEvent($event)"
    >
    </app-op-zones-edition-home-backup-service-type-card>
  </div>
</div>
