<div class="row justify-content-between mt-6">
    <div class="col-12 mb-6">
        <app-op-zones-edition-home-backup-stock-backup-card
                [disabled]="!stateValue[zoneBackup?.state]"
                [zoneBackupDetail]="zoneBackupDetail"
                (edit)="editBackupZonEvent()">
        </app-op-zones-edition-home-backup-stock-backup-card>
    </div>

    <div class="col-12 col-lg-6 col-xl-5 mb-6">
        <app-op-zones-edition-home-backup-service-type-card
                [disabled]="!stateValue[zoneBackup?.state]"
                [zoneBackupDetail]="zoneBackupDetail"
                [serviceType]="zoneBackupServiceTypeList?.amPm"
                (edit)="editServiceTypeEvent($event)">
        </app-op-zones-edition-home-backup-service-type-card>
    </div>

    <div class="col-12 col-lg-6 col-xl-5 mb-6">
        <app-op-zones-edition-home-backup-service-type-card
                [disabled]="!stateValue[zoneBackup?.state]"
                [zoneBackupDetail]="zoneBackupDetail"
                [serviceType]="zoneBackupServiceTypeList?.scheduled"
                (edit)="editServiceTypeEvent($event)">
        </app-op-zones-edition-home-backup-service-type-card>
    </div>
</div>
