<app-inner-sidenav (innerSidenavExpanded)="operationsInnerSidenavOpened($event)">

    <ng-container sidenav-menu-header>{{sidenavTitle}}</ng-container>

    <ng-container sidenav-menu-body>

        <app-inner-sidenav-navigation
                [navigationRoute]="[routerPath.administrator]"
                navigationIcon="home"
                navigationText="Inicio">
        </app-inner-sidenav-navigation>

        <app-inner-sidenav-navigation
                [navigationRouteOptions]="{exact: false}"
                [navigationRoute]="[routerPath.administratorUsers]"
                navigationIcon="manage_accounts"
                navigationText="Administrar usuarios">
        </app-inner-sidenav-navigation>

    </ng-container>

    <ng-content sidenav-content></ng-content>
</app-inner-sidenav>
