mat-dialog-container.mat-dialog-container

  .dialog-tab-group
    .mat-tab-labels
      padding: 0 40px

    .dialog-tab-body
      padding: 28px 40px

    .dialog-tab-table
      padding-right: 100px
      max-height: 260px
      overflow-x: auto
