mat-dialog-container.mat-dialog-container
  box-shadow: none
  border-radius: 8px
  padding: 0
  position: relative

  .dialog-close
    position: absolute
    right: 24px
    z-index: 2
    top: 20px
