<form [formGroup]="_operationsCapacitiesStepScheduledCapacityForm.scheduledCapacityForm$">
  <div class="row">

    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <label class="text-caption text-gray-5 mb-2 d-block">Edita capacidades</label>
        </div>

        <div class="col-4 mb-5">
          <app-input-number
            formControlName="capacityForSelection"
            inputPlaceholder="10"></app-input-number>
        </div>

        <div class="col-8 mb-5">
          <app-button-outline [buttonDisabled]="_operationsCapacitiesStepScheduledCapacityForm.capacityForSelection.value === null ||
                                                !scheduledCapacitySelection.selected.length"
                              (click)="applyCapacity()">
            Aplicar a selección
          </app-button-outline>
        </div>
      </div>
    </div>


    <div class="col-12 mb-5" *ngIf="_operationsCapacitiesStepScheduledCapacityForm.scheduledSegmentList?.controls.length">
      <table mat-table [dataSource]="scheduledCapacityDataSource"
             class="capacity-scheduled-table"
             formArrayName="scheduledSegmentList">

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>
            <app-checkbox (change)="$event ? masterToggle() : null"
                          [checkboxChecked]="scheduledCapacitySelection.hasValue() && isAllSelected()"
                          [checkboxIndeterminate]="scheduledCapacitySelection.hasValue() && !isAllSelected()">
            </app-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <app-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? scheduledCapacitySelection.toggle(row) : null"
                          [checkboxChecked]="scheduledCapacitySelection.isSelected(row)">
            </app-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="hour">
          <th mat-header-cell *matHeaderCellDef>Bloque horario</th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">{{element.value.segmentHour}} </td>
        </ng-container>

        <ng-container matColumnDef="capacity">
          <th mat-header-cell *matHeaderCellDef>Capacidad</th>
          <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
            <app-input-number class="capacity-scheduled-input"
              formControlName="segmentCapacity"
                              inputPlaceholder="10"
                              (click)="$event.stopPropagation()">
            </app-input-number>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="scheduledCapacityDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: scheduledCapacityDisplayedColumns;"
            (click)="scheduledCapacitySelection.toggle(row)">
        </tr>
      </table>
    </div>

    <div class="col-12">
      <p class="text-subtitle-2 text-primary text-center mb-0">Capacidad total <span class="ml-3">{{totalCapacity}}</span></p>
    </div>
  </div>
</form>
