<app-card innerClass="px-6 pt-4">
  <form [formGroup]="form.form$">
    <div class="row mb-4">
      <div class="col-12 d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <app-icon
            class="me-5"
            [svgName]="zoneState ? 'ellipse-success' : 'ellipse-danger'"
          ></app-icon>
          <h4 class="text-h4 mb-0 ms-3 text-gray-5">Stock backup</h4>
        </div>
        <div class="d-flex align-items-center">
          <span class="text-body-2-regular text-gray-5 me-2"
            >Desactivar servicio</span
          >
          <app-switch
            [formControlName]="controlNameList.state"
            backgroundClass="bg-secondary"
            class="d-flex align-items-center"
          >
          </app-switch>
        </div>
      </div>
    </div>
    <hr class="m-0 bg-gray-3" />

    <div class="row mt-4 mb-4">
      <div class="col-12">
        <h5 class="text-h5 mb-0 text-black">Selecciona el tipo de zona:</h5>
      </div>
    </div>

    <div class="row mt-4 mb-6">
      <div class="col-6">
        <app-radio [formControlName]="controlNameList.zoneType" [value]="main"
          >Para cobertura</app-radio
        >
      </div>
      <div class="col-6">
        <app-radio [formControlName]="controlNameList.zoneType" [value]="backup"
          >No cobertura</app-radio
        >
      </div>
    </div>

    <!-- <div class="row mt-4 mb-4">
      <div class="col-8">
        <div class="row">
          <div class="col-12 mb-5">
            <app-form-field>
              <app-select
                [optionList]="zoneTypeList"
                [formControlName]="controlNameList.zoneType"
                clearValue="Todo"
                placeholder="Selecciona el tipo de zona"
              >
                <ng-template #optionTemplate let-option>{{
                  zoneTypeOptionName(option)
                }}</ng-template>
              </app-select>
            </app-form-field>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row mt-4 mb-4">
      <div class="col-12">
        <h5 class="text-h5 mb-0 text-black">
          Selecciona la zona y el local backup:
        </h5>
      </div>
    </div>

    <div class="row mt-4 mb-4">
      <div class="col-6">
        <app-form-field>
          <app-form-field-label>
            <span class="text-gray-7">Zona backup</span>
          </app-form-field-label>
          <app-select-search
            selectId="zoneSelect"
            placeholder="Sin zona backup"
            [formControlName]="controlNameList.zoneBackup"
            [optionList]="zoneList"
          >
            <ng-template #optionSelectedTemplate let-optionSelected>{{
              zoneBackupOptionName(optionSelected)
            }}</ng-template>
            <ng-template #optionTemplate let-option>{{
              zoneBackupOptionName(option)
            }}</ng-template>
          </app-select-search>
        </app-form-field>
      </div>
      <div class="col-6">
        <app-form-field>
          <app-form-field-label>
            <span class="text-gray-7">Local backup</span>
          </app-form-field-label>
          <app-input
            placeholder="Sin local backup"
            [readOnly]="true"
            [formControlName]="controlNameList.assignedStore"
          >
          </app-input>
        </app-form-field>
      </div>
    </div>

    <div class="card-actions d-flex-horizontal-end pt-5">
      <app-button
        appearance="secondary"
        innerClass="btnServiceEditionStyle"
        class="me-4"
        (clicked)="cancelEditionEvent()"
      >
        Cancelar edición
      </app-button>
      <app-button
        appearance="primary"
        innerClass="btnServiceEditionStyle"
        [disabled]="form.form$.invalid || !form.zoneBackupControl.value"
        (editionAccess)="saveEditionEvent()"
        [pathAccess]="zoneBackupPath"
      >
        Guardar cambios
      </app-button>
    </div>
  </form>
</app-card>
