<section class="operations-drugstores-edition-service-type pb-15">
  <div class="pt-5 zone-edition-home-header">
    <div class="col-12 mb-4">
      <app-back-router-simple
        backRoute="/operaciones/zonas/{{ zoneDetail.id }}"
        class="back"
      ></app-back-router-simple>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <h3 class="text-h5 mb-5">
          Editar {{ serviceTypeName[serviceType] }} en la zona principal
        </h3>
        <!-- <h5 class="text-body-1-bold text-gray-6 mb-7">Editar {{serviceTypeName[serviceType]}}</h5> -->
        <!-- <hr class="m-0 bg-gray-3"> -->
      </div>
    </div>
  </div>

  <div
    class="row"
    [class.container-loader]="saveEditionLoader"
    *ngIf="!errorResponse"
  >
    <div class="col-12 col-xlg-4 mb-6 mb-xlg-0">
      <app-op-zones-edition-service-type-detail-card
        *appSkeletonCard="
          !!zoneDetail && !!zonesStoreServiceType;
          loading: !editionServiceTypeLoader
        "
        [zoneDetail]="zoneDetail"
        [zonesStoreServiceType]="zonesStoreServiceType"
      >
      </app-op-zones-edition-service-type-detail-card>
    </div>
    <div class="col-12 col-xlg-8">
      <app-op-zones-edition-service-type-detail-form-card
        *appSkeletonCard="
          !!zoneDetail && !!zonesStoreServiceType;
          row: 7;
          loading: !editionServiceTypeLoader
        "
        [zoneDetail]="zoneDetail"
        [zoneServiceType]="zoneServiceType"
        [zonesStoreServiceType]="zonesStoreServiceType"
        (cancelEdition)="cancelEdition()"
        (saveEdition)="saveEdition($event)"
      >
      </app-op-zones-edition-service-type-detail-form-card>
    </div>
  </div>

  <div *ngIf="errorResponse" class="pt-6">
    <app-http-error-viewer
      [errorResponse]="errorResponse"
    ></app-http-error-viewer>
  </div>
</section>
