<section class="operations-stores-edition-service-type pt-12 pb-15">
    <div class="row mb-8">
        <div class="col-12">
            <h3 class="text-h3 mb-0">Edición de zonas</h3>
        </div>
    </div>


    <div class="row"
         [class.container-loader]="saveEditionLoader">
        <div class="col-12 col-xl-5 mb-6 mb-xl-0">
            <app-op-zones-edition-service-type-detail-card
                    *appSkeletonCard="!!zoneServiceType && !!zonesStoreServiceType; loading: !serviceTypeEditionLoader"
                    [zoneDetail]="zoneDetail"
                    [zonesStoreServiceType]="zonesStoreServiceType">
            </app-op-zones-edition-service-type-detail-card>
        </div>
        <div class="col-12 col-xl-7">
            <app-op-zones-edition-service-type-detail-form-card
                    *appSkeletonCard="!!zoneServiceType && !!zonesStoreServiceType; row: 7; loading: !serviceTypeEditionLoader"
                    [zoneDetail]="zoneDetail"
                    [zoneServiceType]="zoneServiceType"
                    [zonesStoreServiceType]="zonesStoreServiceType"
                    (cancelEdition)="cancelEdition()"
                    (saveEdition)="saveEdition($event)">
            </app-op-zones-edition-service-type-detail-form-card>
        </div>
    </div>

    <app-empty-result (action)="backRoute()"
                      *ngIf="!!zoneDetail && (!zoneServiceType || !zonesStoreServiceType) && !serviceTypeEditionLoader">
        <ng-container empty-result-title>
            El tipo de despacho {{serviceTypeName[serviceType]}} - {{channelName[channel]}} para {{zoneDetail?.name || 'esta zona'}} no está disponible.
        </ng-container>
        <ng-container empty-result-action>
            Ir a {{zoneDetail?.name || 'la zona'}}
        </ng-container>
    </app-empty-result>

    <app-empty-result (action)="zoneListRoute()"
                      *ngIf="!zoneDetail && !serviceTypeEditionLoader">
        <ng-container empty-result-title> Esta zona no está disponible para edición.</ng-container>
        <ng-container empty-result-action>Ir a lista de zonas</ng-container>
    </app-empty-result>
</section>
