<app-inner-sidenav (innerSidenavExpanded)="operationsInnerSidenavOpened($event)">
    <ng-container sidenav-menu-header>{{sidenavTitle}}</ng-container>

    <ng-container sidenav-menu-body>

        <app-inner-sidenav-navigation
                [navigationRoute]="[routerPath.operations]"
                navigationIcon="home"
                navigationText="Inicio">
        </app-inner-sidenav-navigation>

        <app-inner-sidenav-navigation
                *appRouterAccess="routerPath.operationStores"
                [navigationRouteOptions]="{exact: false}"
                [navigationRoute]="[routerPath.operationStores]"
                navigationIcon="store"
                navigationText="Locales">
        </app-inner-sidenav-navigation>

        <app-inner-sidenav-navigation
                *appRouterAccess="routerPath.operationZones"
                [navigationRouteOptions]="{exact: false}"
                [navigationRoute]="[routerPath.operationZones]"
                navigationIcon="location_on"
                navigationText="Zonas">
        </app-inner-sidenav-navigation>

        <app-inner-sidenav-navigation-expansion
                *appRouterAccess="routerPath.operationCapacities"
                [navigationDisabledChildren]="!innerSidenavExpanded"
                [navigationRouteOptions]="{exact: false}"
                [navigationRoute]="routerPath.operationCapacities"
                navigationIcon="date_range"
                navigationText="Capacidades">

            <app-router
                    [router]="routerPath.opCapacitiesAmPm"
                    routerActive="inner-sidenav-navigation-active"
                    routerClass="inner-sidenav-navigation-expansion-child">
                <span class="text-label">Editar AM/PM</span>
            </app-router>
            <app-router
                    [router]="routerPath.opCapacitiesScheduled"
                    routerActive="inner-sidenav-navigation-active"
                    routerClass="inner-sidenav-navigation-expansion-child">
                <span class="text-label">Editar Programado</span>
            </app-router>
            <app-router
                    [router]="routerPath.opCapacitiesExpress"
                    routerActive="inner-sidenav-navigation-active"
                    routerClass="inner-sidenav-navigation-expansion-child">
                <span class="text-label">Editar Express</span>
            </app-router>
            <app-router
                    [router]="routerPath.opCapacitiesRet"
                    routerActive="inner-sidenav-navigation-active"
                    routerClass="inner-sidenav-navigation-expansion-child">
                <span class="text-label">Editar RET</span>
            </app-router>
            <app-router
                    [router]="routerPath.opCapacitiesReport"
                    routerActive="inner-sidenav-navigation-active"
                    routerClass="inner-sidenav-navigation-expansion-child">
                <span class="text-label">Reporte Capacidades</span>
            </app-router>
        </app-inner-sidenav-navigation-expansion>

        <app-inner-sidenav-navigation
                *appRouterAccess="routerPath.operationSettings"
                [navigationRoute]="[routerPath.operationSettings]"
                navigationIcon="settings"
                navigationText="Configuraciones">
        </app-inner-sidenav-navigation>

    </ng-container>

    <ng-content sidenav-content></ng-content>
</app-inner-sidenav>
