<div class="card-static-information d-flex">

    <div class="static-information-avatar me-4">
        <app-icon [fontName]="iconName"
                  fontSize="24px"
                  [innerClass]="disabled ? 'text-gray-4':'text-gray-5'"></app-icon>
    </div>

    <div class="static-information-information mw-85">
        <div class="static-information-title mb-1">
            <p class="text-body-2-regular mb-0"
               [class.text-truncate]="truncate"
               [ngClass]="disabled ? 'text-gray-4':'text-gray-5'">
                <ng-content select="[information-title]"></ng-content>
            </p>
        </div>
        <div class="static-information-caption">
            <p class="text-body-1-regular mb-0"
               [class.text-truncate]="truncate"
               [class.text-gray-4]="disabled">
                <ng-content select="[information-caption]"></ng-content>
            </p>
        </div>
    </div>
</div>
