<div class="d-flex align-items-center py-5">
  <div class="d-flex flex-column align-items-start">
    <div class="d-flex mb-3">
      <app-router router="../../">
        <div class="cursor-pointer d-flex-center">
          <app-icon
            svgName="arrow-left-secondary"
            innerClass="me-2"
            svgWidth="12px"
          ></app-icon>
          <span class="text-body-3-bold text-secondary-60">Volver</span>
        </div>
      </app-router>
    </div>
    <h6 class="text-h6 text-neutral-100 m-0">Ruta 12345-DB</h6>
  </div>
</div>
