<section class="not-internet-connection-page d-flex-center vh-100">
    <div class="content text-center mb-6">
        <app-icon svgName="lost-connection"
                  svgWidth="200px"></app-icon>
        <h1 class="text-h4 mt-5 mb-5">No tienes conexión <br> a internet</h1>
        <p class="text-label text-gray-6 mb-5">Verifica tu conexión e intenta de nuevo</p>

        <p class="mb-0">
            <app-button appearance="primary"
            (clicked)="reloadPage()">Intentar de nuevo</app-button>
        </p>
    </div>
</section>
