@import "src/sass/declarations/text.declaration"
@import "src/sass/declarations/cursor.declaration"
@import "src/sass/declarations/display.declaration"
@import "src/sass/declarations/position.declaration"


.container-loader
  pointer-events: none
  filter: grayscale(100%)
  opacity: 0.8
