@import "~sass/utilities/text"
@import "~sass/utilities/cursor"
@import "~sass/utilities/display"
@import "~sass/utilities/position"


.container-loader
  pointer-events: none
  filter: grayscale(100%)
  opacity: 0.8
