/* You can add global styles to this file, and also import other style files */
@import "functions";
@import "variables/variables";
@import "utilities/utilities";
@import "custom/custom";
@import "mixins";
@import "builder";


* {
  outline: none;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-normal;
  color: $black;
  background: $white;
  margin-bottom: 0;
}

html, body {
  height: 100%;
}


button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none
}
