@import "src/sass/variables";
@import "src/sass/mixins/text.mixin";

:host .card-radio {
  ::ng-deep .card-radio {
    & + .radio-mark {
      top: 12px;
      left: 12px;
    }

    & ~ .radio-content {
      background-color: $white;
      border: 1px solid $gray-3;
      border-radius: $border-radius;
      padding: 32px 12px;
      text-align: center;
    }

    &:checked ~ .radio-content {
      border: 1px solid $primary;
      .card-radio-title {
        color: $black;
        @include text-h4
      }
    }

  }
}

.card-radio {
  .card-radio-title {
    color: $gray-5;
    margin-bottom: 10px;
    @include text-body-1-regular
  }

  .card-radio-description {
    color: $gray-4;
    margin-bottom: 0;
    @include text-body-2-regular
  }
}
