@import "src/sass/variables/colors.variable";
@import "src/sass/mixins/text.mixin";

:host .card-radio {
  ::ng-deep .card-radio {
    & + .radio-mark {
      top: 12px;
      left: 12px;
    }

    & ~ .radio-content {
      background-color: $white;
      border: 1px solid $gray-3;
      border-radius: 4px;
      padding: 32px 12px;
      text-align: center;
    }

    &:checked ~ .radio-content {
      .card-radio-title {
        color: $gray-6;
        @include text-button
      }
    }

  }
}

.card-radio {
  .card-radio-title {
    color: $gray-5;
    margin-bottom: 10px;
    @include text-label
  }

  .card-radio-description {
    color: $gray-4;
    margin-bottom: 0;
    @include text-caption
  }
}
