@import "src/sass/variables/utilities.variable";
@import "src/sass/variables/fonts.variable";
@import "src/sass/variables/colors.variable";

.order-detail-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: $gray-0;
}

:host {
  letter-spacing: $letter-spacing-regular;

  .back {
    margin-left: -4px;
  }

  .tags {
    margin-left: 12px;
  }

  .tag-promise {
    border-radius: $border-radius-xl;
    padding: 6px 12px;
    font-size: 12px;

    .range {
      font-weight: 500;
    }
  }
}
