<label class="input-number-container"
       [ngClass]="labelClass">
  <app-input
          [labelClass]="'input-number-label ' + labelClass"
    [innerClass]="'input-number ' + innerClass"
          [error]="error"
    [id]="id"
    [name]="name"
    behavior="number"
    [disabled]="inputDisabled"
    [(ngModel)]="inputValue"
    (ngModelChange)="changeInputValue()"
    [placeholder]="placeholder"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    appDigitsOnly>
  </app-input>

</label>
