@import "src/sass/mixins/position.mixin"

.input-time
  position: relative

  .input-time-icon
    pointer-events: none
    right: 16px
    display: inline-flex
    @include position-vertical-center


