<div
  class="input-time"
  [class.pointer-events-none]="disabled"
  #timePickerContainer
>
  <div (click)="openTimePicker()" class="cursor-pointer">
    <app-input      
      [name]="name"
      innerClass="w-100"
      labelClass="pointer-events-none"      
      [value]="timeValue"
      [disabled]="disabled"
      [placeholder]="placeholder"
    >
    </app-input>
  </div>

  <app-icon
    *ngIf="!disabled"
    class="input-time-icon"
    fontName="keyboard_arrow_down"
    innerClass="text-gray-5"
    fontSize="14px"
  ></app-icon>

  <app-input-time-picker
    *ngIf="toggleTimePicker"
    [dateTime]="dateTime"
    [minHour]="minHour"
    [maxHour]="maxHour"
    [options]="options"
    [time]="time"
    (timeChange)="pickerTimeChange($event)"
  >
  </app-input-time-picker>
</div>
