
<div class="select-input-container">
  <div class="select-input-label">
    {{ label }}
  </div>
  <select
    class="select-input"
    [ngClass]="{
      'select-input--s': size === 's',
      'select-input--m': size === 'm',
      'select-input--l': size === 'l'
    }"
    (change)="changeOption($event.target)"
    (click)="selectedDrugstore()"
    [value]="selectedOption.value">
    <option value=""></option>
    
    <option *ngFor="let option of options"
      [value]="option.value"
      [selected]="option.value === selectedOption.value">
      {{ option.code+ " - " + option.text }}
    </option>
  </select>
  <div class="select-input-error"
    *ngIf="hasErrorMessage && errorMessage">
    {{ errorMessage }}
  </div>
</div>
