.select-input-container {
  width: 100%;
  .select-input-label {
    width: 100%;
    font-size: red;
  }
  .select-input {
    width: 100%;
    padding-left: 6px;
    &--s {
      height: 30px;
    }
    &--m {
      height: 36px;
    }
    &--l {
      height: 42px;
    }
  }
  .select-input-error {
    width: 100%;
  }
}

.dn {
  .select-input-label {
    display: none;
  }
}
