<form [formGroup]="formService.form">
  <div class="container-header-body-calendar">

    <div class="d-buttons-implements-change-moth">
      <div class="button-one">
        <app-calendar-button (click)="goToBack()">
          <img style="padding: 14px;" src="../../../../../assets/img/next_left.png" alt="">
        </app-calendar-button>
      </div>
      <div class="button-two">
        <app-calendar-button (click)="goToNext()">
          <img style="padding: 14px;" src="../../../../../assets/img/next_rigth.png" alt="">
        </app-calendar-button>
      </div>
      <p style="font-size: 16px; font-family: Muli;">{{currentMonthName}}</p>
    </div>

    <div class="d-implemenst-dropdown">
      <app-dropdown [options]="newInfoDrugstore" formControlName="dropdow"></app-dropdown>
    </div>

    <div class="d-buttons-implements-save" *ngIf="showButtonSave">
      <p (click)="save()" class="button-style" [ngClass]="{'disabled-button': selectedDayArray.length === 0}">
        Guardar Cambios
      </p>
    </div>
    <div class="d-buttons-implements-save" *ngIf="showButtonActive">
      <p (click)="showActive()" class="button-style-active">
        Activar Edición
      </p>
    </div>

    <div class="d-buttons-implements-save">
      <p (click)="showDefault()" class="button-style-active">
        Capacidad por defecto
      </p>
    </div>

  </div>
  <div class="container-calendar-admin">

    <table>
      <thead>
        <tr>
          <th scope="col"><strong>Lunes</strong></th>
          <th scope="col"><strong>Martes</strong></th>
          <th scope="col"><strong>Miércoles</strong></th>
          <th scope="col"><strong>Jueves</strong></th>
          <th scope="col"><strong>Viernes</strong></th>
          <th scope="col"><strong>Sábado</strong></th>
          <th scope="col"><strong>Domingo</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks; let i = index">
          <td>
            <app-calendar-item [weekDay]="week.monday" [chosenDrugstore]="this.formService.dropdowControl.value"
              (messageEvent)="daySelectionEvent($event)" [showActiveChecks]="showActiveChecks" [showLinks]="showLinks">
            </app-calendar-item>
          </td>
          <td>
            <app-calendar-item [weekDay]="week.tuesday" [chosenDrugstore]="this.formService.dropdowControl.value"
              (messageEvent)="daySelectionEvent($event)" [showActiveChecks]="showActiveChecks" [showLinks]="showLinks">
            </app-calendar-item>
          </td>
          <td>
            <app-calendar-item [weekDay]="week.wednesday" [chosenDrugstore]="this.formService.dropdowControl.value"
              (messageEvent)="daySelectionEvent($event)" [showActiveChecks]="showActiveChecks" [showLinks]="showLinks">
            </app-calendar-item>
          </td>
          <td>
            <app-calendar-item [weekDay]="week.thursday" [chosenDrugstore]="this.formService.dropdowControl.value"
              (messageEvent)="daySelectionEvent($event)" [showActiveChecks]="showActiveChecks" [showLinks]="showLinks">
            </app-calendar-item>
          </td>
          <td>
            <app-calendar-item [weekDay]="week.friday" [chosenDrugstore]="this.formService.dropdowControl.value"
              (messageEvent)="daySelectionEvent($event)" [showActiveChecks]="showActiveChecks" [showLinks]="showLinks">
            </app-calendar-item>
          </td>
          <td>
            <app-calendar-item [weekDay]="week.saturday" [chosenDrugstore]="this.formService.dropdowControl.value"
              (messageEvent)="daySelectionEvent($event)" [showActiveChecks]="showActiveChecks" [showLinks]="showLinks">
            </app-calendar-item>
          </td>
          <td>
            <app-calendar-item [weekDay]="week.sunday" [chosenDrugstore]="this.formService.dropdowControl.value"
              (messageEvent)="daySelectionEvent($event)" [showActiveChecks]="showActiveChecks" [showLinks]="showLinks">
            </app-calendar-item>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</form>
