<!-- <app-calendar-body [drugstores]= "newInfoDrugstore" (dataDrugstore)="getDrugs($event)"></app-calendar-body> -->

<form [formGroup]="formService.form">
  <div class="container-header-body-calendar">

    <div class="d-buttons-implements-change-moth">
      <app-calendar-button>
        <img style="padding: 14px;" src="../../../../../assets/img/next_left.png" alt="">
      </app-calendar-button>
      <app-calendar-button>
        <img style="padding: 14px;" src="../../../../../assets/img/next_rigth.png" alt="">
      </app-calendar-button>
      <div class="lable-month">
      </div>

      <p style="font-size: 16px; font-family: Muli;">{{monthActuality}}</p>
    </div>

    <div class="d-implemenst-dropdown">
      <app-dropdown [options]="newInfoDrugstore" formControlName="dropdow"></app-dropdown>
    </div>

    <div class="d-buttons-implements-save">
      <p (click)="save()" class="button-style">Guardar Cambios</p>
    </div>
  </div>
  <div class="container-calendar">


    <table>
      <thead>
          <tr>
              <th scope="col"><strong>Lunes</strong></th>
              <th scope="col"><strong>Martes</strong></th>
              <th scope="col"><strong>Miércoles</strong></th>
              <th scope="col"><strong>Jueves</strong></th>
              <th scope="col"><strong>Viernes</strong></th>
              <th scope="col"><strong>Sábado</strong></th>
              <th scope="col"><strong>Domingo</strong></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let week of weeks; let i = index" >
            <!--
              <td>{{week.monday.dayNumber}}</td>
              <td>{{week.tuesday.dayNumber}}</td>
              <td>{{week.wednesday.dayNumber}}</td>
              <td>{{week.thursday.dayNumber}}</td>
              <td>{{week.friday.dayNumber}}</td>
              <td>{{week.saturday.dayNumber}}</td>
              <td>{{week.sunday.dayNumber}}</td>
            -->  
              <td><app-calendar-item [weekDay]="week.monday" (messageEvent)="daySelectionEvent($event)"></app-calendar-item></td>
              <td><app-calendar-item [weekDay]="week.tuesday" (messageEvent)="daySelectionEvent($event)"></app-calendar-item></td>
              <td><app-calendar-item [weekDay]="week.wednesday" (messageEvent)="daySelectionEvent($event)"></app-calendar-item></td>
              <td><app-calendar-item [weekDay]="week.thursday" (messageEvent)="daySelectionEvent($event)"></app-calendar-item></td>
              <td><app-calendar-item [weekDay]="week.friday" (messageEvent)="daySelectionEvent($event)"></app-calendar-item></td>
              <td><app-calendar-item [weekDay]="week.saturday" (messageEvent)="daySelectionEvent($event)"></app-calendar-item></td>
              <td><app-calendar-item [weekDay]="week.sunday" (messageEvent)="daySelectionEvent($event)"></app-calendar-item></td>
              
          </tr>
      </tbody>
    </table>

    <!--
    <div class="calendar-title">
      <div *ngFor="let day of daysName" class="item-title">
        <app-calendar-header [day]="day.day"></app-calendar-header>
      </div>
    </div>
    <div class="calendar-detail" formArrayName="calendarMonth01">
      <div *ngFor="let dayLists of formService.calendarMonth01Array.controls; let i = index">
        <app-calendar-item [dayList]="i" [frm]="dayLists" (messageEvent)="daySelectionEvent($event)">
        </app-calendar-item>
      </div>
    </div>
    -->


  </div>
</form>
