@import "src/sass/variables/colors.variable"

.sidenav-route-menu-item-container
  .sidenav-route-menu-active
    .menu-item
      background-color: $light-primary
      color: $dark-primary

      app-icon
        color: $dark-primary

