<div *ngIf="carrierList">
  <div class="row mb-4">
    <span class="text-body-1-regular text-neutral-90 user-select-none">
      Total transportistas: {{ carrierList.length }}
    </span>
  </div>
  <div class="row">
    <div class="col-12 mb-8">
      <table
        mat-table
        large-table
        [dataSource]="dataSource"
        class="order-table"
      >
        <ng-container matColumnDef="local">
          <th
            mat-header-cell
            column-width="16%"
            *matHeaderCellDef
            app-sort-custom
          >
            Local
          </th>
          <td
            mat-cell
            cell-bold
            *matCellDef="let element"
            class="text-neutral-90 text-body-3-regular"
          >
            {{ element.local }}
          </td>
        </ng-container>

        <ng-container matColumnDef="carrier">
          <th
            mat-header-cell
            column-width="20%"
            *matHeaderCellDef
            app-sort-custom
          >
            Nombre de transportista
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="text-neutral-90 text-body-3-regular"
          >
            <span class="d-block">{{ element.carrier }}</span>
            <span class="d-block mt-1">
              <app-tag
                [tagColor]="danger"
                appearance="pill-colored-full-purple-blue"
                *ngIf="element.isPendingRoute"
              >
                Ruta pendiente
              </app-tag>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="provider">
          <th
            mat-header-cell
            column-width="15%"
            *matHeaderCellDef
            app-sort-custom
          >
            Proveedor
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="text-neutral-90 text-body-3-regular"
          >
            {{ element.provider }}
          </td>
        </ng-container>
        <ng-container matColumnDef="startHour">
          <th
            mat-header-cell
            column-width="12%"
            *matHeaderCellDef
            app-sort-custom
            class="th-center"
          >
            Hora ingreso
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="text-neutral-90 text-body-3-regular"
          >
            {{ element.startHour }}
          </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th
            mat-header-cell
            column-width="8%"
            *matHeaderCellDef
            app-sort-custom
            header-cell-center
          >
            Estado
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="text-body-4-bold text-secondary-60"
          >
            {{ element.state }}
          </td>
        </ng-container>

        <ng-container matColumnDef="paused">
          <th
            mat-header-cell
            column-width="8%"
            *matHeaderCellDef
            app-sort-custom
            class="th-center"
          >
            Pausado
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="text-neutral-100 text-body-3-regular"
          >
            {{ element.paused | titlecase}}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef column-width="5%"></th>
          <td mat-cell cell-bold *matCellDef="let element">
            <app-button
              class="d-flex justify-content-center align-items-center"
              innerClass="d-flex align-items-center p-0"
              (clicked)="navigateCarrierRoute(element.idCarrier)"
            >
              <app-icon svgName="detail-icon" svgWidth="24px"></app-icon>
            </app-button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          row-hover
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </div>
</div>
<app-skeleton-table *ngIf="!carrierList"></app-skeleton-table>