@import "~sass/variables";
@import "~sass/utilities/display";

:host {
  ::ng-deep .button.button-action-text {
    background-color: transparent;
    border-color: $gray-6;
    color: $white;
    padding: 0;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    @extend .d-flex-center;
    display: inline-flex;

    &:hover {
      background-color: $gray-6;
      border-color: $gray-6;
    }
  }

  .button-action-text-active {
    ::ng-deep .button.button-action-text {
      background-color: $primary;
      border-color: $primary;
    }
  }
}
