<section class="dialog-two-actions" app-dialog-container>
    <div class="px-5 pt-3">

        <div class="mb-7">
            <app-dialog-header containerClass="align-items-center"
                               [fontName]="fontName"
                               [fontClass]="fontClass"
                               [svgName]="svgName">
                <ng-container dialog-header-title>
                    <span class="text-h4 text-wrap text-gray-6 font-weight-bold"
                          [innerHTML]="title"></span>
                </ng-container>
            </app-dialog-header>
        </div>

        <div class="mb-9">
            <p class="text-body-1-regular text-gray-6 mb-0"
               [innerHTML]="description"></p>
        </div>

        <div class="d-flex-horizontal-end flex-column flex-md-row">
            <app-button appearance="secondary"
                        innerClass="w-100 w-md-auto"
                        class="me-md-4 mb-4 mb-md-0"
                        [mat-dialog-close]="false">
                {{secondaryAction}}
            </app-button>
            <app-button appearance="primary"
                        innerClass="w-100 w-md-auto"
                        [mat-dialog-close]="true">
                {{primaryAction}}
            </app-button>
        </div>

    </div>
</section>
