<section class="operations-zones-edition-backup pt-8 pb-15">
  <div class="col-12 mb-4">
    <app-back-router-simple backRoute="/operaciones/zonas/{{zoneDetail.id}}" class="back"></app-back-router-simple>
  </div>
  <div class="row mb-10">
    <div class="col-12">
      <h3 class="text-h3 mb-5">Edición de zonas</h3>
      <hr class="mt-0 mb-6 bg-gray-3">
      <h5 class="text-h5 text-gray-6 mb-0">Edición de zona backup</h5>
    </div>
  </div>


  <div class="row" *ngIf="!errorResponse">
    <div class="col-12 col-xlg-6 mb-6 mb-xlg-0">
      <app-op-zones-edition-backup-detail-card
        *appSkeletonCard="!!zoneDetail && !!zoneList; loading: !editionBackupLoader"
        [zoneDetail]="zoneDetail">
      </app-op-zones-edition-backup-detail-card>
    </div>

    <div class="col-12 col-xlg-6" [class.container-loader]="saveEditionLoader">
      <app-op-zones-edition-backup-detail-form-card
        *appSkeletonCard="!!zoneDetail && !!zoneList; row: 8; loading: !editionBackupLoader"
        [zoneDetail]="zoneDetail"
        [zoneList]="zoneList"
        [zoneTypeList]="zoneTypeList"
        (cancelEdition)="cancelEdition()"
        (saveEdition)="saveEdition($event)">
      </app-op-zones-edition-backup-detail-form-card>
    </div>
  </div>

  <div *ngIf="errorResponse" class="pt-6">
    <app-http-error-viewer [errorResponse]="errorResponse"></app-http-error-viewer>
  </div>
</section>
