@import 'src/sass/variables/colors.variable';

:host {
  display: contents;
  color: $black;
}

.icon-font {
  width: fit-content;
  height: fit-content;
  color: inherit;
}

:host ::ng-deep mat-icon.icon-disabled svg path{
  fill: $neutral-50 !important;
}

.icon-svg {
  display: inline-flex;
}

.mark {
  background-color: white;
  z-index: 3;
}
