<app-step stepId="1"
          stepTitle="Grupo o Local"
          saveButtonText="Continuar"
          [stepDescription]="groupOrLocalStepDescription"
          [saveButtonDisabled]="!groupOrLocalSelection || groupOrLocalTabReadonly"
          [stepExpandedToggle]="groupOrLocalStepStatus === eCapacityStepStatus.open"
          [stepDisabled]="groupOrLocalStepStatus === eCapacityStepStatus.disabled"
          (stepOpenEvent)="openGroupOrLocalStep()"
          (stepCloseEvent)="closeGroupOrLocalStep()"
          (saveButtonEvent)="saveGroupOrLocal()"
          (cancelButtonEvent)="cancelGroupOrLocal()">
  <div class="card-step-content d-flex-vertical-center">
    <div class="mr-4">
      <app-select-tab [selectTabList]="groupOrLocalTabList"
                      [selectTabDisabled]="groupOrLocalTabReadonly"
                      [selectTabValue]="groupOrLocalTabSelection"
                      (change)="changeGroupOrLocalTab($event)">
        <ng-template let-tab>{{groupOrLocalTabName[tab]}}</ng-template>
      </app-select-tab>
    </div>
    <div class="w-100">
      <app-select [optionList]="groupOrLocalList"
                  [selectValue]="groupOrLocalSelection"
                  [selectPlaceholder]="'Elige un ' + groupOrLocalTabName[groupOrLocalTabSelection]"
                  (optionSelected)="changeGroupOrLocalSelection($event)">
        <ng-template let-option>{{groupOrLocalSelectionName(option)}}</ng-template>
      </app-select>
    </div>
  </div>
</app-step>
