<div class="row d-content-title-home">
  <div class="title-module-home">Hola admin,</div>
  <div class="subTitle-module-home">¿Qué módulo quieres gestionar?</div>
</div>


<div class="row d-row-column">
  <div class="d-card-home" (click)="redirect()">
    <section class="block-left">
      <img src="../../../assets/img/drugstores.png" alt="100px" width="40px">
    </section>
    <section class="block-center">
      <p class="label-title-card">Locales</p>
      <p class="label-sub-title-card"> Visualiza todos los locales y edita algunos de sus características</p>
    </section>
    <section class="block-rigth">
      <img src="../../../assets/img/next_rigth.png" alt="">
    </section>
  </div>


  <div class="d-card-home" (click)="redirect()">
    <section class="block-left">
      <img src="../../../assets/img/map.png" alt="100px" width="40px">
    </section>
    <section class="block-center">
      <p class="label-title-card">Zonas</p>
      <p class="label-sub-title-card">Visualiza todas las zonas, edita los tipos de despacho y exporta csv.</p>
    </section>
    <section class="block-rigth">
      <img src="../../../assets/img/next_rigth.png" alt="">
    </section>
  </div>

</div>

<div class="row d-row-column">
  <div class="d-card-home" (click)="redirect()">
    <section class="block-left">
      <img src="../../../assets/img/truck.png" alt="100px" width="40px">
    </section>
    <section class="block-center">
      <p class="label-title-card">Capacidades</p>
      <p class="label-sub-title-card">Visualiza reportes y edita capacidades por tipo de despacho.</p>
    </section>
    <section class="block-rigth">
      <img src="../../../assets/img/next_rigth.png" alt="">
    </section>
  </div>



  <div class="d-card-home" (click)="redirect()">
    <section class="block-left">
      <img src="../../../assets/img/config.png" alt="100px" width="40px">
    </section>
    <section class="block-center">
      <p class="label-title-card">Configuraciones</p>
      <p class="label-sub-title-card">Conoce los parámentros generales acerca de los tipos de despacho.</p>
    </section>
    <section class="block-rigth">
      <img src="../../../assets/img/next_rigth.png" alt="">
    </section>
  </div>

</div>
