<main class="container pt-7">
  <div class="row">
    <div class="col-12">
      <div class="row mb-7">
        <div class="col text-center">
          <h1 class="text-h3 text-black mb-4">👋 Hola, {{user?.name}}</h1>
          <p class="text-body-2-regular text-gray-6 mb-0">¿Qué módulo quieres gestionar?</p>
        </div>
      </div>

      <div class="row mb-8" *appRouterAccess="routerPath.operations">
        <h3 class="text-h3 text-black mb-5">Operaciones</h3>
        <div class="col-6 col-xl-6 mb-4" *appRouterAccess="routerPath.operationZones">
          <app-router [router]="routerPath.operationZones">
            <app-card-action cardIconSVG="navigation">
              <span card-title>Zonas</span>
              <span card-description>Visualiza todas las zonas, edita los tipos de despacho y exporta csv</span>
            </app-card-action>
          </app-router>
        </div>
        <div class="col-6 col-xl-6 mb-4" *appRouterAccess="routerPath.operationCapacities">
          <app-router [router]="routerPath.operationCapacities">
            <app-card-action cardIconSVG="truck">
              <span card-title>Capacidades</span>
              <span card-description>Visualiza reportes y edita capacidades por tipo de despacho</span>
            </app-card-action>
          </app-router>
        </div>
        <div class="col-6 col-xl-6 mb-4" *appRouterAccess="routerPath.operationSettings">
          <app-router [router]="routerPath.operationSettings">
            <app-card-action cardIconSVG="configuration">
              <span card-title>Configuraciones</span>
              <span card-description>Conoce los parámentros generales acerca de los tipos de despacho</span>
            </app-card-action>
          </app-router>
        </div>
      </div>

      <div class="row mb-8" *appRouterAccess="routerPath.capacities">
        <h3 class="text-h3 text-black mb-5">Capacidades</h3>
        <div class="col-6 col-xl-6 mb-4" *appRouterAccess="routerPath.capacitiesServiceType">
          <app-router [router]="routerPath.capacitiesServiceType">
            <app-card-action cardIconSVG="navigation">
              <span card-title>Configurar capacidades base</span>
              <span card-description>Visualiza reportes y edita capacidades por tipo de despacho</span>
            </app-card-action>
          </app-router>
        </div>
      </div>

      <div class="row mb-8" *appRouterAccess="routerPath.order">
        <h3 class="text-h3 text-black mb-5">Pedidos</h3>
        <div class="col-6 col-xl-6 mb-4" *appRouterAccess="routerPath.orderRecords">
          <app-router [router]="routerPath.orderRecords">
            <app-card-action cardIconSVG="dump">
              <span card-title>Historial de pedidos</span>
              <span card-description>Consulta el detalle de los pedidos generados en el e-commerce</span>
            </app-card-action>
          </app-router>
        </div>
      </div>

      <div class="row mb-8" *appRouterAccess="routerPath.controlTower">
        <h3 class="text-h3 text-black mb-5">Torre de control</h3>
        <div class="col-6 col-xl-6 mb-4" *appRouterAccess="routerPath.ctControlFleet">
          <app-router [router]="routerPath.ctControlFleet">
            <app-card-action cardIconSVG="motorcycle">
              <span card-title>Control de flota</span>
              <span card-description>Consulta la disponibilidad e información de los transportistas</span>
            </app-card-action>
          </app-router>
        </div>
        <div class="col-6 col-xl-6 mb-4" *appRouterAccess="routerPath.ctRouteMonitoring">
          <app-router [router]="routerPath.orderRecords">
            <app-card-action cardIconSVG="navigation">
              <span card-title>Seguimiento a rutas</span>
              <span card-description>Realiza el seguimiento a rutas</span>
            </app-card-action>
          </app-router>
        </div>
      </div>
    </div>
  </div>
</main>

