<app-card innerClass="px-6 pt-6 pb-15">
    <div class="row mb-6">
        <div class="col-12">
            <h5 class="text-h5 mb-2">DC - Surquillo</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-card-static-information class="d-block mb-5" iconName="store">
                <ng-container information-title>Nomenclatura</ng-container>
                <ng-container information-caption>IKF-233 DC Surquillo</ng-container>
            </app-card-static-information>

            <app-card-static-information class="d-block mb-5" iconName="location_on">
                <ng-container information-title>Ubicación</ng-container>
                <ng-container information-caption>Av. Guardia Civil 244, San Borja</ng-container>
            </app-card-static-information>

            <app-card-static-information class="d-block mb-5" iconName="group_work">
                <ng-container information-title>Grupo</ng-container>
                <ng-container information-caption>San Borja Sur</ng-container>
            </app-card-static-information>

            <app-card-static-information class="d-block" iconName="record_voice_over">
                <ng-container information-title>Canales de atención</ng-container>
                <ng-container information-caption>Call Center - Digital</ng-container>
            </app-card-static-information>
        </div>
    </div>
</app-card>
