<section class="operations-stores-edition-home pt-8 pb-15">
    <div class="row mb-8">
        <div class="col-12 mb-4">
            <app-back-router>Locales</app-back-router>
        </div>

        <div class="col-12">
            <h3 class="text-h3 mb-0">Edición de locales</h3>
        </div>
    </div>

    <div class="row mb-6"
         [class.container-loader]="saveEditionLoader">
        <div class="col-12">
            <app-op-stores-edition-home-store-detail-card
                    *appSkeletonCard="!!storeDetail; row: 5; loading: !homeEditionLoader"
                    [storeDetail]="storeDetail"
                    (edit)="editStore()">
            </app-op-stores-edition-home-store-detail-card>
        </div>
    </div>

    <div class="row justify-content-between"
         [class.container-loader]="saveEditionLoader">
        <div class="col-5 mb-6">
            <app-op-stores-edition-home-service-type-card
                    *appSkeletonCard="!!storeServiceTypeList; row: 5; loading: !homeEditionLoader"
                    [serviceType]="storeServiceTypeList.amPm"
                    (edit)="editServiceType($event)"
                    (add)="addServiceType($event)">
            </app-op-stores-edition-home-service-type-card>
        </div>
        <div class="col-5 mb-6">
            <app-op-stores-edition-home-service-type-card
                    *appSkeletonCard="!!storeServiceTypeList; row: 5; loading: !homeEditionLoader"
                    [serviceType]="storeServiceTypeList.scheduled"
                    (edit)="editServiceType($event)"
                    (add)="addServiceType($event)">
            </app-op-stores-edition-home-service-type-card>
        </div>
        <div class="col-5 mb-6">
            <app-op-stores-edition-home-service-type-card
                    *appSkeletonCard="!!storeServiceTypeList; row: 5; loading: !homeEditionLoader"
                    [serviceType]="storeServiceTypeList.express"
                    (edit)="editServiceType($event)"
                    (add)="addServiceType($event)">
            </app-op-stores-edition-home-service-type-card>
        </div>
        <div class="col-5 mb-6">
            <app-op-stores-edition-home-service-type-card
                    *appSkeletonCard="!!storeServiceTypeList; row: 5; loading: !homeEditionLoader"
                    [serviceType]="storeServiceTypeList.ret"
                    (edit)="editServiceType($event)"
                    (add)="addServiceType($event)">
            </app-op-stores-edition-home-service-type-card>
        </div>
    </div>

    <app-empty-result (action)="backRoute()"
                      *ngIf="(!storeDetail || !storeServiceTypeList) && !homeEditionLoader">
        <ng-container empty-result-title>Este local no está disponible.</ng-container>
        <ng-container empty-result-action>Ir a lista de locales</ng-container>
    </app-empty-result>
</section>
