<section class="operations-home-container">
  <div class="row mb-9">
    <div class="col">
      <h1 class="text-h3 text-black mb-5">Hola admin,</h1>
      <p class="text-subtitle-1 text-gray-6">¿Qué módulo quieres gestionar?</p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 col-xl-6 mb-4 mb-xl-0">
      <app-router router="locales">
        <app-card cardIcon="stores">
          <span card-title>Locales</span>
          <span card-description>Visualiza todos los locales y edita algunos de sus características.</span>
        </app-card>
      </app-router>
    </div>
    <div class="col-12 col-xl-6">
      <app-router router="zonas">
        <app-card cardIcon="navigation">
          <span card-title>Zonas</span>
          <span card-description>Visualiza todas las zonas, edita los tipos de despacho y exporta csv.</span>
        </app-card>
      </app-router>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-6 mb-4 mb-xl-0">
      <app-router router="capacidades">
        <app-card cardIcon="truck">
          <span card-title>Capacidades</span>
          <span card-description>Visualiza reportes y edita capacidades por tipo de despacho.</span>
        </app-card>
      </app-router>
    </div>
    <div class="col-12 col-xl-6">
      <app-router router="configuraciones">
        <app-card cardIcon="configuration">
          <span card-title>Configuraciones</span>
          <span card-description>Conoce los parámentros generales acerca de los tipos de despacho.</span>
        </app-card>
      </app-router>
    </div>
  </div>
</section>
