<p>operations-home works!</p>

<div class="container">
  <div class="row">
    <div class="col-6 col-sm-4">
      <app-icon iconFontName="keyboard_arrow_down"
                iconFontSize="48px"></app-icon>
      <app-icon iconFontName="visibility"
                iconClass="text-primary"
                iconFontSize="40"></app-icon>
      <app-icon iconSvgName="truck" iconSvgWidth="48px"></app-icon>
      <app-router router="/home"
                  routerTarget="_blank">
        <app-icon iconSvgName="main-logo"
                  iconSvgWidth="32px"></app-icon>
      </app-router>
      <h1>holi</h1>
      <h2>holi</h2>
      <h3>holi</h3>
      <h4>holi</h4>
      <h5>holi</h5>

      <app-button>
        Normal
      </app-button>
      <app-button-primary>
        Normal
      </app-button-primary>
      <app-button-primary [buttonDisabled]="true">
        Disabled
      </app-button-primary>

      <app-button-icon buttonIcon="visibility">
        Normal
      </app-button-icon>
    </div>
    <div class="col-6 col-sm-4 mt-1 m-2 m-3 m-4">.col-6 .col-sm-4</div>

    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <div class="col-6 col-sm-4">
      <app-icon iconSvgName="assigned-orders" iconSvgWidth="200px"></app-icon>
      <app-icon iconSvgName="search-store" iconSvgWidth="200px"></app-icon>
    </div>
    <div class="col-6 col-sm-4">.col-6 .col-sm-4</div>

    <div class="col-12">
      <div class="content">
        <div class="row">
          <div class="col-md-4">.col-md-4</div>
          <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
          <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-3">.col-md-6 .offset-md-3</div>
        </div>
      </div>
    </div>
  </div>
</div>
