<section class="operations-home-container">
    <div class="row mb-9">
        <div class="col">
            <h1 class="text-h3 text-black mb-5">Hola {{user.name}},</h1>
            <p class="text-subtitle-1 text-gray-6">¿Qué módulo quieres gestionar?</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-6 mb-4"
             *appRouterAccess="concatPath.operationStores">
            <app-router [router]="concatPath.operationStores">
                <app-card-action cardIcon="stores">
                    <span card-title>Locales</span>
                    <span card-description>Visualiza todos los locales y edita algunos de sus características.</span>
                </app-card-action>
            </app-router>
        </div>
        <div class="col-12 col-xl-6 mb-4"
             *appRouterAccess="concatPath.operationZones">
            <app-router [router]="concatPath.operationZones">
                <app-card-action cardIcon="navigation">
                    <span card-title>Zonas</span>
                    <span card-description>Visualiza todas las zonas, edita los tipos de despacho y exporta csv.</span>
                </app-card-action>
            </app-router>
        </div>
        <div class="col-12 col-xl-6 mb-4"
             *appRouterAccess="concatPath.operationCapacities">
            <app-router [router]="concatPath.operationCapacities">
                <app-card-action cardIcon="truck">
                    <span card-title>Capacidades</span>
                    <span card-description>Visualiza reportes y edita capacidades por tipo de despacho.</span>
                </app-card-action>
            </app-router>
        </div>
        <div class="col-12 col-xl-6 mb-4"
             *appRouterAccess="concatPath.operationSettings">
            <app-router [router]="concatPath.operationSettings">
                <app-card-action cardIcon="configuration">
                    <span card-title>Configuraciones</span>
                    <span card-description>Conoce los parámentros generales acerca de los tipos de despacho.</span>
                </app-card-action>
            </app-router>
        </div>
    </div>
</section>
