<app-step stepId="3"
          stepTitle="Capacidad"
          [class.card-step-content-disabled]="amPmCapacitySaveLoad"
          [stepExpandedToggle]="amPmCapacityStepStatus === eCapacityStepStatus.open"
          [stepDisabled]="amPmCapacityStepStatus === eCapacityStepStatus.disabled  || amPmCapacitySaveLoad"
          [saveButtonDisabled]="!_opCapacitiesStepAmPmCapacityForm.amPmCapacityForm$.valid || amPmCapacitySaveLoad"
          (stepOpenEvent)="openAmPmCapacityStep()"
          (stepCloseEvent)="closeAmPmCapacityStep()"
          (saveButtonEvent)="saveAmPmCapacity()"
          (cancelButtonEvent)="cancelAmPmCapacity()">
  <div class="card-step-content">
    <form [formGroup]="_opCapacitiesStepAmPmCapacityForm.amPmCapacityForm$">
      <div class="row">

        <div class="col-12 mb-5" *ngIf="ampmCapacityDateRange">
          <label class="text-caption text-gray-5 mb-2">Selecciona días</label>
          <app-input-datepicker-range
            formControlName="capacityRange"
            datepickerRangeOutputFormat="DD-MM-YYYY"
            [datepickerRangeMax]="ampmCapacityMaxDateRange">
          </app-input-datepicker-range>
        </div>

        <div class="col-6 mb-5">
          <label class="text-caption text-gray-5 mb-2 d-block">AM</label>
          <app-input-number
            formControlName="amCapacity"
            inputPlaceholder="100"></app-input-number>
        </div>

        <div class="col-6 mb-5">
          <label class="text-caption text-gray-5 mb-2 d-block">PM</label>
          <app-input-number
            formControlName="pmCapacity"
            inputPlaceholder="100"></app-input-number>
        </div>

        <div class="col-12" *ngIf="ampmCapacitySegments">
          <p class="text-caption text-gray-5">
            <span class="text-black">AM:</span> {{ampmCapacitySegments.amSegment?.segmentHour}}</p>
          <p class="text-caption text-gray-5 mb-0">
            <span class="text-black">PM:</span> {{ampmCapacitySegments.pmSegment?.segmentHour}}</p>
        </div>

      </div>
    </form>
  </div>
</app-step>
