@import "src/sass/variables/colors.variable";

:host .inner-sidenav-navigation-container {
  .inner-sidenav-text {
    color: $gray-6;
    margin-left: 8px;
  }

  .inner-sidenav-navigation-expansion-icon {
    color: $gray-6;
  }


  .inner-sidenav-navigation {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 4px;

    &:hover {
      background: rgba(0, 61, 153, 0.04);
    }
  }

  ::ng-deep .inner-sidenav-navigation-active {
    .inner-sidenav-navigation {
      background: rgba(0, 61, 153, 0.04);
    }

    .inner-sidenav-text,
    .inner-sidenav-navigation-expansion-icon{
      color: $primary;
    }
  }
}
