<app-accordion-information svgName="dump"  title="Información del pedido">
  <div class="row">
    <div class="col-6">
      <table>
        <tr>
          <td>Nº de pedido:</td>
          <td>1561589012 - Call: 0460645557</td>
        </tr>
        <tr>
          <td>Purchase ID:</td>
          <td>1234567890</td>
        </tr>
        <tr>
          <td>Operadora/o:</td>
          <td>Luisa Perez Díaz</td>
        </tr>
        <tr>
          <td>Observación:</td>
          <td>Por favor, entregar el pedido en una bolsa grande (la más grande que tengan)</td>
        </tr>
        <tr>
          <td>Motivo cancelación:</td>
          <td>-</td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table>
        <tr>
          <td>Zona:</td>
          <td>38 - Surquillo 02</td>
        </tr>
        <tr>
          <td>Local de atención:</td>
          <td>IKF - 233 DC Surquillo</td>
        </tr>
        <tr>
          <td>Tipo de local:</td>
          <td>Inkatracker Lite</td>
        </tr>
        <tr>
          <td>Tipo de despacho:</td>
          <td>Backup</td>
        </tr>
      </table>
    </div>
  </div>
</app-accordion-information>
