<app-accordion-information svgName="cart"  title="Información de los productos" [expanded]="true">
  <div class="products mt-5">
    <app-product-detail
      *ngFor="let product of dataProduct.products"
      [product]="product">
    </app-product-detail>
  </div>
  <div class="removed mt-1" *ngIf="dataProduct.existProductRemoved()">
    <p class="d-flex-vertical-center gap-2">
      <app-icon fontName="warning" fontSize="16px" innerClass="text-danger"></app-icon>
      Unidades removidas
    </p>
    <hr class="mt-5 text-gray-1 mb-5">
    <app-product-detail
      [product]="dataProduct.firstProductRemoved()"
      [removed]="true">
    </app-product-detail>
    <div *ngIf="dataProduct.hasMoreThanOneProductRemoved()">
      <div class="d-inline-flex align-items-center justify-content-center w-100 gap-2 show-removed-products"
           (click)="toggleShowRemovedProducts()">
        <div class="d-flex-vertical-center" [class.rotate]="showRemovedProducts">
          <app-icon fontName="expand_more" innerClass="text-primary"></app-icon>
        </div>
        <p class="m-0 text-primary">Ver {{ showRemovedProducts ? 'menos' : 'todos los' }} productos</p>
      </div>
      <hr class="mt-4 text-gray-1">
      <div class="hide-removed-products" [hidden]="!showRemovedProducts">
      </div>
        <app-product-detail
          *ngFor="let product of dataProduct.hiddenProductsRemoved()"
          [product]="product"
          [removed]="true">
        </app-product-detail>
    </div>
  </div>
  <div class="detail">
    <div class="d-flex justify-content-between">
      <p>Imp. pedido original:</p>
      <p>{{ dataProduct.originalAmount }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>Imp. pedido editado:</p>
      <p>{{ dataProduct.editedAmount }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>Imp. total sin dsct:</p>
      <p>{{ dataProduct.withoutDiscountAmount }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>IGV:</p>
      <p>{{ dataProduct.igv }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>Imp. delivery:</p>
      <p>{{ dataProduct.deliveryAmount }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="text-danger">Descuento total:</p>
      <p class="text-danger">{{ dataProduct.totalDiscount }}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>Imp. total cobrado:</p>
      <p>{{ dataProduct.totalAmountCharged }}</p>
    </div>
  </div>
</app-accordion-information>
