<div class="order-item-container">
  <div class="d-flex">
    <div class="me-4">
      <span class="order-item-index text-body-3-bold">{{ index }}</span>
    </div>
    <div class="d-flex flex-column justify-content-between">
      <span class="text-body-3-bold text-neutral-100">N° 900010928{{index}}</span>
      <span class="text-body-3-regular text-neutral-60"
        >10:00 p.m. - 01:00 p.m.</span
      >
      <span class="text-body-3-regular text-neutral-60"
        >Av. La Marina 2601 - San Miguel</span
      >
      <ng-content></ng-content>
    </div>
  </div>
  <app-icon svgName="drag"></app-icon>
</div>
