@import "src/sass/variables/colors.variable"
@import "src/sass/mixins/text.mixin"
mat-tab-group.mat-tab-group
  .mat-tab-label
    min-width: auto
    padding: 0 16px
    margin-right: 16px
    opacity: 1
    height: 38px

    .mat-tab-label-content
      color: $gray-5
      @include text-button

      &:hover
        color: $dark-primary

    &.mat-tab-label-active
      .mat-tab-label-content
        color: $primary

    &.mat-tab-disabled
      .mat-tab-label-content
        color: $gray-4

  .mat-tab-header
    border-bottom: 1px solid $gray-2

    .mat-ink-bar
      background-color: $primary

  .mat-tab-body-content
    overflow: inherit
