<app-accordion-information svgName="moto"  title="Información del transportista">
  <div class="row">
    <div class="col-6">
      <table>
        <tr>
          <td>Transportista:</td>
          <td>Jose Luis Rodríguez</td>
        </tr>
        <tr>
          <td>Documento:</td>
          <td>DNI 15627322</td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table>
        <tr>
          <td>Celular:</td>
          <td>9128123123</td>
        </tr>
        <tr>
          <td>Viaje / Grupo: </td>
          <td>G 123456789</td>
        </tr>
      </table>
    </div>
  </div>
</app-accordion-information>
