<section class="dialog-generic-error d-flex-center">
    <div class="content text-center">
        <app-icon svgName="empty-orders-1"
                  svgWidth="200px"></app-icon>
        <p class="text-body-1-regular text-gray-6 mt-5 mb-5">Esta información no está disponible. <br>
            Por favor, vuelva a intentarlo.</p>

        <p class="mb-0">
            <app-button appearance="secondary"
                        mat-dialog-close>Cerrar
            </app-button>
        </p>
    </div>
</section>
