<div class="custom-select">
  <button
    class="custom-select-selected"
    (click)="toggleOptions()"
    [class.selected-active]="showOptions"
    [class.selected-error]="error"
    [class.selected-disabled]="isDisabled"
    [class.selected-option]="selectedOptions"
  >
    <ng-template #placeholderDesc>Selecciona una o más opciones</ng-template>
    <ng-template #defaultDesc>{{
      selectedOptions.length > 1 ? textOthersSelected : selectedOptions[0].label
    }}</ng-template>
    <ng-container
      [ngTemplateOutlet]="
        selectedOptions.length > 0 ? defaultDesc : placeholderDesc
      "
      [ngTemplateOutletContext]="{ $implicit: selectedOptions }"
    ></ng-container>

    <app-icon svgName="select-arrow-down"></app-icon>
  </button>
  <div #containerElement class="custom-select-options" *ngIf="showOptions">
    <div class="custom-search-option" *ngIf="!error && search">
      <fp-input
        [formControl]="searchControl"
        [placeholder]="searchPlaceholder"
        [isSearch]="search"
      ></fp-input>
    </div>
    <label
      *ngFor="let option of options | search : searchControl.value"
      class="custom-select-option"
    >
      <div class="w-100 d-flex align-items-center">
        <fp-checkbox
          class="me-2"
          type="checkbox"
          [value]="option"
          (onChange)="toggleOption(option, $event.target.checked)"
          [checked]="isSelected(option)"
        ></fp-checkbox>
        <ng-template #defaultTemplate let-option>
          <span class="text-body-2-regular text-neutral-90">{{
            option.label
          }}</span></ng-template
        >
        <ng-container
          [ngTemplateOutlet]="optionTemplate || defaultTemplate"
          [ngTemplateOutletContext]="{ $implicit: option }"
        >
        </ng-container>
      </div>
    </label>
  </div>
</div>
<div
  class="mt-2 text-error-50 text-body-3-regular d-flex-vertical-center"
  *ngIf="error && errorMessage"
>
  <app-icon
    svgName="alert-info-bold"
    innerClass="text-error-50 me-1"
    svgWidth="16px"
  ></app-icon>
  {{ errorMessage }}
</div>
