@import "src/sass/variables/colors.variable";
@import "src/sass/mixins/position.mixin";
@import "src/sass/mixins/text.mixin";

$select-input-height: 38px;

.select-search {
  background-color: $white;
  border: 1px solid $gray-3;
  border-radius: 4px;
  height: $select-input-height;
  display: block;
  margin: 0;
  position: relative;
  cursor: pointer;

  .select-search-input {
    padding: 12px 34px 12px 16px;
    border: 0;
    height: $select-input-height;
    width: 100%;
    background-color: transparent;
    @include text-label;
    z-index: 2;
  }

  .select-search-span {
    position: absolute;
    padding: 12px 34px 12px 16px;
    @include text-label;
    z-index: 1;
    width: 100%;
  }

  .select-search-icon {
    pointer-events: none;
    right: 16px;
    display: inline-flex;
    @include position-vertical-center
  }

  &.select-search-disabled {
    pointer-events: none;
    background-color: $gray-2;
    border-color: $gray-3;

    .select-search-span {
      color: $gray-4;
    }
  }
}

::ng-deep .mat-autocomplete-panel.select-search-component {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  position: absolute;
  overflow: initial;

  .option-container {
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 20px 40px rgba(9, 39, 85, 0.08);
    box-sizing: border-box;
    overflow: auto;
    max-height: 300px;
  }

  mat-option.select-basic-option,
  mat-option.select-basic-option.mat-option.mat-active {
    color: $black;
    background-color: transparent;
    height: $select-input-height;
    @include text-label;

    &:hover {
      background-color: $gray-1;
    }

    &.mat-selected {
      background-color: $light-primary;
    }
  }

  mat-option.select-basic-option.select-basic-option-clear,
  mat-option.select-basic-option.select-basic-option-clear.mat-active {
    color: $gray-4;
  }
}
