<div class="dialog-header d-flex" [ngClass]="containerClass">
    <div class="d-flex-vertical-center d-inline-flex me-3 me-md-5">
        <app-icon *ngIf="svgName"
                  [svgName]="svgName"
                  svgWidth="40px"></app-icon>
        <app-icon *ngIf="fontName"
                  [fontName]="fontName"
                  [innerClass]="fontClass"
                  fontSize="32px"></app-icon>
    </div>
    <div class="d-inline-block ps-0 mw-75">
        <h1 class="text-h5 mb-0" [class.mb-2]="headerDescription.childNodes.length">
                <span class="d-block text-truncate"><ng-content select="[dialog-header-title]"></ng-content></span>
        </h1>
        <p class="text-caption text-gray-5 mb-0" #headerDescription>
            <ng-content select="[dialog-header-description]"></ng-content>
        </p>
    </div>
</div>
