<app-step stepId="2"
          stepTitle="Modo de edición"
          saveButtonText="Continuar"
          [class.card-step-content-disabled]="editionModeStepStatus === eCapacityStepStatus.open && editionModeSaveLoad"
          [stepExpandedToggle]="editionModeStepStatus === eCapacityStepStatus.open"
          [stepReadonly]="editionModeStepStatus === eCapacityStepStatus.readonly || editionModeSaveLoad"
          [stepDisabled]="editionModeStepStatus === eCapacityStepStatus.disabled || editionModeSaveLoad"
          [stepDescription]="eEditionModeName[editionModeSaveSelected]"
          [saveButtonDisabled]="!editionModeSelection || editionModeSaveLoad"
          (stepOpenEvent)="openEditionModeStep()"
          (stepCloseEvent)="closeEditionModeStep()"
          (saveButtonEvent)="saveEditionMode()"
          (cancelButtonEvent)="cancelEditionMode()">
  <div class="card-step-content d-flex justify-content-around">
    <div class="mr-4">
      <app-card-radio [radioValue]="eEditionMode.default"
                      [(ngModel)]="editionModeSelection">
        <span card-title>{{eEditionModeName[eEditionMode.default]}}</span>
        <span card-description>Capacidad default para un día</span>
      </app-card-radio>
    </div>
    <div class=" d-flex-horizontal-center">
      <app-card-radio [radioValue]="eEditionMode.calendar"
                      [(ngModel)]="editionModeSelection">
        <span card-title>{{eEditionModeName[eEditionMode.calendar]}}</span>
        <span card-description>Capacidad programada</span>
      </app-card-radio>
    </div>
  </div>
</app-step>
