<mat-sidenav-container class="static-sidenav-container">
  <mat-sidenav mode="side"
               opened>
    <div class="static-sidenav">
      <div class="sidenav-taps">
        <app-router router="/">
          <app-icon iconSvgName="main-logo"
                    iconSvgWidth="32px"></app-icon>
        </app-router>
      </div>

      <div class="sidenav-taps">
        <app-tooltip tooltipValue="Operaciones"
                     tooltipClass="sidenav-tooltip">
          <app-router router="/operaciones"
                      class="d-block">
            <span class="sidenav-button">OP</span>
          </app-router>
        </app-tooltip>
      </div>
    </div>
  </mat-sidenav>


  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
