.capacity-table-input {
  display: inline-block;
  width: 60px;
}

.capacity-table {
  .mat-column-value {
    width: 64px;
  }

  .mat-column-capacity {
    width: 110px;
    text-align: center;
  }
}
