<app-card innerClass="py-7">
  <div class="row mb-6">
    <div class="col-12">
      <h5 class="text-h5 mb-0" [class.text-gray-4]="stockBackupDisabled">
        <app-icon
          class="d-inline-block me-5"
          [svgName]="stockBackupDisabled ? 'ellipse-disabled' : 'ellipse-success'">
        </app-icon>
        <span>Stock backup</span>
      </h5>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-5">
      <app-card-static-information iconName="store" [disabled]="stockBackupDisabled">
        <ng-container information-title>Local backup</ng-container>
        <ng-container information-caption>
          <span class="text-capitalize">{{ zoneEditionDrugstoreBackup }}</span>
        </ng-container>
      </app-card-static-information>
    </div>
    <div class="col-5">
      <app-card-static-information iconName="location_searching" [disabled]="stockBackupDisabled">
        <ng-container information-title>Zona backup</ng-container>
        <ng-container information-caption>
          <span class="text-capitalize">{{ zoneEditionZoneBackup }}</span>
        </ng-container>
      </app-card-static-information>
    </div>
  </div>

  <ng-container *appRouterAccess="backupEditionPath">
    <div app-card-edit-button editMessage="zona backup" (click)="editEvent()"></div>
  </ng-container>
</app-card>
