<app-card innerClass="pb-6">
  <div class="row mb-4">
    <div class="col-12">
      <h3 class="text-h3 mb-0" [class.text-gray-4]="stockBackupDisabled">
        <app-icon class="d-inline-block me-5" [svgName]="stockBackupIcon">
        </app-icon>
        <span class="text-black">Stock backup</span>
      </h3>
    </div>
  </div>
  <hr class="my-4 bg-gray-3" />
  <div class="row justify-content-between">
    <div class="col-12 mb-4">
      <app-card-static-information
        svgName="crosshair"
        svgWidth="24px"
        [disabled]="stockBackupDisabled"
      >
        <ng-container information-title>Zona backup</ng-container>
        <ng-container information-caption>
          <span class="text-capitalize text-black">{{ zoneEditionZoneBackup }}</span>
        </ng-container>
      </app-card-static-information>
    </div>
    <div class="col-12">
      <app-card-static-information
        svgName="store"
        svgWidth="24px"
        [disabled]="stockBackupDisabled"
      >
        <ng-container information-title>Local backup</ng-container>
        <ng-container information-caption>
          <span class="text-capitalize text-black">{{ zoneEditionDrugstoreBackup }}</span>
        </ng-container>
      </app-card-static-information>
    </div>
  </div>

  <ng-container *appRouterAccess="backupEditionPath">
    <div
      app-card-edit-button
      editMessage="zona backup"
      (click)="editEvent()"
    ></div>
  </ng-container>
</app-card>
