@import "src/sass/variables/utilities.variable"
@import "src/sass/variables/colors.variable"

.menu-container.mat-menu-panel
  background-color: transparent
  border-radius: 0
  box-shadow: none
  min-height: auto
  overflow: initial

  .mat-menu-content
    padding: 0
    box-shadow: $box-shadow
    border-radius: $border-radius-md
    min-width: 190px
    min-height: 48px
    background-color: $white
    overflow: auto
