<section class="pb-15">
  <div class="pt-5 order-header">
    <div class="row mb-4">
      <div class="col">
        <app-back-router-simple backRoute="/" textBackRoute="Ir a inicio">
        </app-back-router-simple>
      </div>
    </div>
    <div
      class="d-flex justify-content-between align-items-center pb-5"
      *ngIf="!errorResponse"
    >
      <div class="d-flex flex-column">
        <h1 class="text-h4 text-black mb-0">Historial de pedidos</h1>
      </div>
      <app-button-icon
        [disabled]="!selected || loadingExport"
        (clicked)="exportData()"
        iconName="download"
        [appearance]="appearanceDownloadButton()"
        [fontColor]="fontColorDownloadItem"
      >
        Descargar selección
        {{ selected ? ": " + (selected | number: "2.0-0") : "" }}
      </app-button-icon>
    </div>
  </div>

  <ng-container *ngIf="!errorResponse; else hasError">
    <div class="row row-cols-5 mb-2">
      <div class="col p-2 flex-grow-1">
        <app-search-filter></app-search-filter>
      </div>
      <div class="col p-2">
        <app-local-filter></app-local-filter>
      </div>
      <div class="col p-2">
        <app-company-filter></app-company-filter>
      </div>
    </div>

    <div class="row row-cols-5 mb-6">
      <div class="col p-2">
        <app-service-filter></app-service-filter>
      </div>
      <div class="col p-2">
        <app-date-filter></app-date-filter>
      </div>
      <div class="col p-2">
        <app-status-filter></app-status-filter>
      </div>
      <div class="col p-2">
        <app-channel-filter></app-channel-filter>
      </div>
      <div class="col p-2">
        <div class="row">
          <div class="col-6">
            <app-button
              innerClass="w-100"
              appearance="primary"
              (clicked)="filterAll()"
              [disabled]="tableLoader || presenter.isNullFilterForm() || presenter.filterForm.invalid"
              >Buscar
            </app-button>
          </div>
          <div class="col-6">
            <app-button
              innerClass="w-100"
              appearance="secondary"
              (clicked)="resetOrderFilters()"
              [disabled]="tableLoader || presenter.isNullFilterForm()"
              >Limpiar</app-button
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!appearTable">
      <section class="not-search-result d-flex-center py-8">
        <div class="content text-center">
          <app-icon svgName="look-orders" svgWidth="200px"></app-icon>
          <h1 class="text-h4 mt-5 mb-5">
            Ingresa los datos o selecciona los campos para iniciar la b&uacute;squeda
          </h1>
        </div>
      </section>
    </div>

    <div class="row">
      <div class="col-12 mb-8" *ngIf="appearTable">
        <table
          mat-table
          large-table
          [dataSource]="dataSource"
          class="order-table"
          [hidden]="tableLoader"
        >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef column-width="5%">
              <app-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </app-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <app-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </app-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="orderId">
            <th
              mat-header-cell
              column-width="10%"
              *matHeaderCellDef
              app-sort-custom
              [column]="sortColumns.orderId.column"
              [reload]="sortColumns.orderId.reload"
              (currentOrder)="sortData($event)"
            >
              N° Pedido
            </th>
            <td mat-cell cell-bold *matCellDef="let element">
              {{ element.ecommerceId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="local">
            <th
              mat-header-cell
              column-width="7%"
              *matHeaderCellDef
              app-sort-custom
              [column]="sortColumns.local.column"
              [reload]="sortColumns.local.reload"
              (currentOrder)="sortData($event)"
            >
              Local
            </th>
            <td mat-cell *matCellDef="let element">{{ element.local }}</td>
          </ng-container>

          <ng-container matColumnDef="channel">
            <th
              mat-header-cell
              column-width="10%"
              *matHeaderCellDef
              app-sort-custom
              [column]="sortColumns.channel.column"
              [reload]="sortColumns.channel.reload"
              (currentOrder)="sortData($event)"
              class="th-center"
            >
              Canal
            </th>
            <td mat-cell *matCellDef="let element">{{ element.channel }}</td>
          </ng-container>

          <ng-container matColumnDef="service">
            <th
              mat-header-cell
              column-width="10%"
              *matHeaderCellDef
              app-sort-custom
              [column]="sortColumns.service.column"
              [reload]="sortColumns.service.reload"
              (currentOrder)="sortData($event)"
              class="th-center"
            >
              Servicio
            </th>
            <td mat-cell *matCellDef="let element">{{ element.service }}</td>
          </ng-container>

          <ng-container matColumnDef="promiseDate">
            <th
              mat-header-cell
              column-width="15%"
              *matHeaderCellDef
              app-sort-custom
              [column]="sortColumns.promiseDate.column"
              [reload]="sortColumns.promiseDate.reload"
              (currentOrder)="sortData($event)"
            >
              F. Promesa
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              [innerHTML]="element.promiseDate"
            ></td>
          </ng-container>

          <ng-container matColumnDef="client">
            <th
              mat-header-cell
              column-width="15%"
              *matHeaderCellDef
              app-sort-custom
              [column]="sortColumns.client.column"
              [reload]="sortColumns.client.reload"
              (currentOrder)="sortData($event)"
              class="th-center"
            >
              Cliente
            </th>
            <td mat-cell *matCellDef="let element">{{ element.client }}</td>
          </ng-container>

          <ng-container matColumnDef="documentId">
            <th
              mat-header-cell
              column-width="12%"
              *matHeaderCellDef
              app-sort-custom
              [column]="sortColumns.documentId.column"
              [reload]="sortColumns.documentId.reload"
              (currentOrder)="sortData($event)"
              class="th-center"
            >
              Doc. Identidad
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.documentId | nombre }}
            </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th
              mat-header-cell
              column-width="11%"
              *matHeaderCellDef
              app-sort-custom
              [column]="sortColumns.state.column"
              [reload]="sortColumns.state.reload"
              (currentOrder)="sortData($event)"
              class="th-center"
            >
              Estado
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="state"
              [class]="element.stateColor"
            >
              {{ element.state }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th
              mat-header-cell
              column-actions
              column-width="5%"
              *matHeaderCellDef
            ></th>
            <td mat-cell column-actions *matCellDef="let element">
              <div class="d-inline-flex">
                <app-tooltip
                  *ngIf="element.state !== statusError"
                  value="Ver Detalle"
                  position="left"
                >
                  <app-button-action-icon
                    iconName="launch"
                    iconStyle="edge-table"
                    (clicked)="viewOrderDetails(element.ecommerceId)"
                  >
                  </app-button-action-icon>
                </app-tooltip>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            row-hover
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
        </table>

        <app-table-loader *ngIf="tableLoader" [cells]="8"></app-table-loader>
        <app-not-search-result
          *ngIf="
            !tableLoader && !dataSource.filteredData.length && !errorResponse
          "
          [keyword]="notFound"
        >
        </app-not-search-result>
      </div>
    </div>

    <div class="row" [hidden]="errorResponse" *ngIf="appearTable">
      <div class="col-lg-4"></div>

      <div class="col-lg-4 d-flex-center" *ngIf="showPaginator">
        <app-paginator
          [length]="totalOrder"
          [pageIndex]="page - 1"
          [pageSize]="pageSize"
          (page)="onChangePage($event)"
        >
        </app-paginator>
      </div>

      <div class="col-lg-4" *ngIf="showPaginator">
        <div class="page-size">
          <div class="d-flex align-items-center justify-content-end">
            <p class="page-size-label text-gray-6 mb-0">Items por página</p>
            <app-select
              class="select-size"
              [(ngModel)]="pageSize"
              [value]="10"
              containerMaxHeight="80px"
              [optionList]="[10, 20, 30]"
              (ngModelChange)="filterAll()"
            >
            </app-select>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #hasError>
    <div class="error">
      <app-http-error-viewer
        [errorResponse]="errorResponse"
      ></app-http-error-viewer>
    </div>
  </ng-template>
</section>
