<section class="pb-15">
  <div class="pt-8 order-header">
    <div class="row mb-4">
      <div class="col">
        <app-back-router>Inicio</app-back-router>
      </div>
    </div>
    <div
      class="d-flex justify-content-between align-items-center pb-7"
      *ngIf="!errorResponse"
    >
      <div class="d-flex flex-column">
        <h1 class="text-h4 text-black mb-0">Historial de pedidos</h1>
      </div>
      <app-button-icon
        [disabled]="!selected"
        (click)="exportData()"
        iconName="download"
      >
        Descargar selección
        {{ selected ? ": " + (selected | number: "2.0-0") : "" }}
      </app-button-icon>
    </div>
  </div>

  <ng-container *ngIf="!errorResponse; else hasError">
    <div class="row mb-2">
      <div class="col-6 col-lg-6 p-2">
        <app-search-filter
          (filter)="filterBySearch($event)"
        ></app-search-filter>
      </div>
      <div class="col-6 col-lg-3 p-2">
        <app-local-filter (filter)="filterByLocal($event)"></app-local-filter>
      </div>
      <div class="col-6 col-lg-3 p-2">
        <app-company-filter
          (filter)="filterByCompany($event)"
        ></app-company-filter>
      </div>
    </div>

    <div class="row mb-6">
      <div class="col-6 col-lg-3 p-2">
        <app-service-filter
          (filter)="filterByService($event)"
        ></app-service-filter>
      </div>
      <div class="col-6 col-lg-3 p-2">
        <app-date-filter
          (filter)="filterByDatePromise($event)"
        ></app-date-filter>
      </div>
      <div class="col-6 col-lg-3 p-2">
        <app-status-filter
          (filter)="filterByStatus($event)"
        ></app-status-filter>
      </div>
      <div class="col-6 col-lg-3 p-2">
        <app-channel-filter
          (filter)="filterByChannel($event)"
        ></app-channel-filter>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-8">
        <table
          mat-table
          large-table
          [dataSource]="dataSource"
          matSort
          class="order-table"
          [hidden]="tableLoader"
        >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef column-width="5%">
              <app-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </app-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <app-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </app-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="orderId">
            <th
              mat-header-cell
              column-width="13%"
              *matHeaderCellDef
              mat-sort-header
            >
              N° Pedido
            </th>
            <td mat-cell cell-bold *matCellDef="let element">
              {{ element.ecommerceId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="local">
            <th
              mat-header-cell
              column-width="10%"
              *matHeaderCellDef
              mat-sort-header
            >
              Local
            </th>
            <td mat-cell *matCellDef="let element">{{ element.local }}</td>
          </ng-container>

          <ng-container matColumnDef="channel">
            <th
              mat-header-cell
              column-width="10%"
              *matHeaderCellDef
              mat-sort-header
              class="th-center"
            >
              Canal
            </th>
            <td mat-cell *matCellDef="let element">{{ element.channel }}</td>
          </ng-container>

          <ng-container matColumnDef="service">
            <th
              mat-header-cell
              column-width="10%"
              *matHeaderCellDef
              mat-sort-header
              class="th-center"
            >
              Servicio
            </th>
            <td mat-cell *matCellDef="let element">{{ element.service }}</td>
          </ng-container>

          <ng-container matColumnDef="promiseDate">
            <th
              mat-header-cell
              column-width="13%"
              *matHeaderCellDef
              mat-sort-header
            >
              F. Promesa
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              [innerHTML]="element.promiseDate"
            ></td>
          </ng-container>

          <ng-container matColumnDef="client">
            <th
              mat-header-cell
              column-width="18%"
              *matHeaderCellDef
              mat-sort-header
              class="th-center"
            >
              Cliente
            </th>
            <td mat-cell *matCellDef="let element">{{ element.client }}</td>
          </ng-container>

          <ng-container matColumnDef="documentId">
            <th
              mat-header-cell
              column-width="10%"
              *matHeaderCellDef
              mat-sort-header
              class="th-center"
            >
              Documento
            </th>
            <td mat-cell *matCellDef="let element">{{ element.documentId }}</td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th
              mat-header-cell
              column-width="13%"
              *matHeaderCellDef
              mat-sort-header
              class="th-center"
            >
              Estado
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="state"
              [class]="element.stateColor"
            >
              {{ element.state }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell column-actions *matHeaderCellDef></th>
            <td mat-cell column-actions *matCellDef="let element">
              <div class="d-inline-flex">
                <app-tooltip value="Ver Detalle">
                  <app-button-action-icon
                    iconName="launch"
                    iconStyle="edge-table"
                    (clicked)="viewOrderDetails(element.ecommerceId)"
                  >
                  </app-button-action-icon>
                </app-tooltip>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            row-hover
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
        </table>

        <app-table-loader *ngIf="tableLoader" [cells]="8"></app-table-loader>
        <app-not-search-result
          *ngIf="
            !tableLoader && !dataSource.filteredData.length && !errorResponse
          "
          [keyword]="notFound"
        >
        </app-not-search-result>
      </div>
    </div>

    <div class="row" [hidden]="errorResponse">
      <div class="col-lg-4"></div>

      <div class="col-lg-4 d-flex-center" *ngIf="showPaginator">
        <app-paginator
          [length]="totalOrder"
          [pageIndex]="page - 1"
          [pageSize]="pageSize"
          (page)="onChangePage($event)"
        >
        </app-paginator>
      </div>

      <div class="col-lg-4" *ngIf="showPaginator">
        <div class="page-size">
          <div class="d-flex align-items-center justify-content-end">
            <p class="page-size-label text-gray-6 mb-0">Items por página</p>
            <app-select
              class="select-size"
              [(ngModel)]="pageSize"
              [value]="10"
              containerMaxHeight="80px"
              [optionList]="[10, 20, 30]"
              (ngModelChange)="filterAll()"
            >
            </app-select>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #hasError>
    <div class="error">
      <app-http-error-viewer
        [errorResponse]="errorResponse"
      ></app-http-error-viewer>
    </div>
  </ng-template>
</section>
