<section class="operations-drugstores-edition-service-type pt-8 pb-15">
  <div class="row mb-7">
    <div class="col-12">
      <h3 class="text-h3 mb-5">Configuración principal</h3>
      <h5 class="text-h5 text-gray-6 mb-7">Editar {{serviceTypeName[serviceType]}}</h5>
      <hr class="m-0 bg-gray-3">
    </div>
  </div>

  <div class="row" [class.container-loader]="saveEditionLoader" *ngIf="!errorResponse">
    <div class="col-12 col-xlg-7">
      <app-op-drugstores-edition-service-type-detail-form-card
        *appSkeletonCard="!!drugstoreDetail && !!drugstoreServiceType; row: 7; loading: !serviceTypeEditionLoader"
        [paymentMethodList]="paymentMethodList"
        [drugstoreDetail]="drugstoreDetail"
        [drugstoreServiceType]="drugstoreServiceType"
        (cancelEdition)="cancelEdition()"
        (saveEdition)="saveEdition($event)">
      </app-op-drugstores-edition-service-type-detail-form-card>
    </div>
  </div>

  <div *ngIf="errorResponse" class="pt-6">
    <app-http-error-viewer [errorResponse]="errorResponse"></app-http-error-viewer>
  </div>
</section>
