<div class="steps">
  <mat-expansion-panel hideToggle
                       class="steps-panel"
                       [disabled]="stepDisabled"
                       (closed)="stepClose = true"
                       (opened)="stepClose = false">
    <mat-expansion-panel-header class="step-header"
                                expandedHeight="64px"
                                collapsedHeight="72px">
      <div class="step-header-content">
        <mat-panel-title class="step-header-title-container">
          <span class="step-header-id">{{stepId}}</span>
          <span class="step-header-title">{{stepTitle}}</span>
        </mat-panel-title>
        <mat-panel-description class="step-header-description-container"
                               *ngIf="stepClose && !stepDisabled && stepDescription">
          <span class="step-header-description">{{stepDescription}}</span>
          <app-icon iconClass="text-dark-primary"
                    iconFontName="edit"
                    iconFontSize="24px"></app-icon>
        </mat-panel-description>
      </div>
    </mat-expansion-panel-header>
    <div class="step-body">
      <div class="steps-body-content">
        <ng-content></ng-content>
      </div>

      <div class="step-body-actions">
        <app-button-secondary class="mr-4"
                              (click)="cancelStepEvent.emit()">
          {{cancelButtonText}}
        </app-button-secondary>
        <app-button-primary [buttonDisabled]="saveDisabled"
                            (click)="saveStepEvent.emit()">
          {{saveButtonText}}
        </app-button-primary>
      </div>
    </div>
  </mat-expansion-panel>
</div>
