<div class="row justify-content-center mt-8">
  <div class="col-12" [ngClass]="innerClass">
    <div class="p-5 card-step-container">
      <div
        *ngIf="!hiddenHeader"
        class="card-step__header d-flex align-items-center"
      >
        <app-icon
          [svgName]="icon"
          svgHeight="32px"
          svgWidth="32px"
          class="icon"
        >
        </app-icon>
        <h4 class="text-h4 text-black mb-0 ml-4 ms-3">{{ titleCard }}</h4>
      </div>
      <div class="card-step__body">
        <ng-content></ng-content>
        <div
          class="d-flex flex-column-reverse flex-md-row justify-content-md-end"
        >
          <app-button
            appearance="secondary"
            class="me-md-4"
            innerClass="w-100 w-md-auto"
            (clicked)="cancel.emit()"
            [disabled]="disableCancel"
          >
            {{ textButtonCancel }}
          </app-button>
          <app-button
            appearance="primary"
            class="mb-4 mb-md-0"
            innerClass="w-100 w-md-auto"
            (clicked)="next.emit()"
            [disabled]="disableNext"
          >
            {{ textButtonNext }}
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
