@import 'src/sass/variables/colors';

section {
  padding: 10px 100px;
}

.d-content-title-home {
  margin-left: 9px;

  .subTitle-module-home {
    font-family: Inter;
    font-style: normal;
    font-size: 10px;
    line-height: 100%;
    color: $gray-5;
    margin: 0px 0px 30px 0px;
    cursor: pointer;
  }
}

.d-content-title-manager {
  display: flex;
  margin-left: 9px;
  flex-direction: column;

  .subTitle-module-manager {
    margin-top: 16px;
    font-family: Inter;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    color: #748494;
  }
}


.d-row-column {
  display: flex;

}

.d-card-home {
  width: 400px;
  height: 108px;
  margin: 25px;
  background-color: white;
  display: flex;
  cursor: pointer;
  border: 1px solid #F1F3F5;
  padding: 10px;
  border-radius: 10px;

  &:hover {
    box-shadow: 0px 20px 40px rgba(9, 39, 85, 0.08);
  }



  .block-left {
    display: flex;
    align-items: center;

  }

  .block-center {
    margin: 0px 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .label-title-card {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 100%;
    }

    .label-sub-title-card {
      width: 256px;
      font-family: Inter;
      font-style: normal;
      font-size: 12px;
      line-height: 100%;
      color: #748494;
    }
  }

  .block-rigth {
    display: flex;
    align-items: center;
    padding: 0px 10px;

  }

}

.alert-success {
  display: flex;
  justify-content: center;

  .alert-content {
    width: 50%;
    background-color: #50B83C;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 12px;

    .div-img {
      width: 10px;
      margin-right: 18px;
    }

    .text-alert {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 100%;
      display: flex;
      align-items: center;
    }
  }

}
