<section class="operations-capacity-home">
  <div class="row mb-4">
    <div class="col">
      <app-back-router>Home</app-back-router>
    </div>
  </div>

  <div class="row mb-10">
    <div class="col-12 mb-6">
      <h1 class="text-h3 text-black mb-0">Capacidades</h1>
    </div>

    <div class="col-12">
      <app-op-capacities-local-default-capacity></app-op-capacities-local-default-capacity>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 mb-7">
      <h2 class="text-h4 text-black mb-0">Más opciones de capacidades</h2>
    </div>

    <div class="col-12 col-xl-6 mb-4 mb-xl-0">
      <app-router router="am-pm">
        <app-card-action cardIcon="ampm">
          <span card-title>AM/PM</span>
          <span card-description>Edita las capacidades del rango de la mañana y tarde</span>
        </app-card-action>
      </app-router>
    </div>
    <div class="col-12 col-xl-6">
      <app-router router="express">
        <app-card-action cardIcon="moto">
          <span card-title>Express</span>
          <span card-description>Edita la disponibilidad de recursos para este servicio en el día</span>
        </app-card-action>
      </app-router>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-6">
      <app-router router="programado">
        <app-card-action cardIcon="calendar">
          <span card-title>Programado</span>
          <span card-description>Edita las capacidades por rangos de horas en el día</span>
        </app-card-action>
      </app-router>
    </div>
  </div>

</section>
