<section>

  <div class="row d-content-title-home">
    <app-router router="/operaciones">
      <div class="subTitle-module-home"><img src="../../../assets/img/vector-left.png" alt=""> VOLVER A HOME
      </div>
    </app-router>
  </div>

  <div class="row d-content-title-manager">
    <div class="text-h3">Capacidades</div>
    <div class="subTitle-module-manager">Selecciona el tipo de despacho comenzar a editar las capacidades.</div>
  </div>


  <div class="row d-row-column">
    <app-router router="am-pm">
      <div class="d-card-home">
        <div class="block-left">
          <img src="../../../assets/img/AMPM.png" alt="100px" width="40px">
        </div>
        <div class="block-center">
          <p class="text-subtitle-1">AM/PM</p>
          <p class="text-caption"> Edita las capacidades del rango de la mañana y tarde</p>
        </div>
        <div class="block-rigth">
          <img src="../../../assets/img/next_rigth.png" alt="">
        </div>
      </div>
    </app-router>


    <app-router router="express">
      <div class="d-card-home">
        <div class="block-left">
          <img src="../../../assets/img/Moto.png" alt="100px" width="40px">
        </div>
        <div class="block-center">
          <p class="text-subtitle-1">EXPRESS</p>
          <p class="text-caption"> Edita la disponibilidad de recursos para este servicio en el día</p>
        </div>
        <div class="block-rigth">
          <img src="../../../assets/img/next_rigth.png" alt="">
        </div>
      </div>
    </app-router>

  </div>

  <div class="row d-row-column">
    <app-router router="programado">
      <div class="d-card-home">
        <div class="block-left">
          <img src="../../../assets/img/Calendar.png" alt="100px" width="40px">
        </div>
        <div class="block-center">
          <p class="text-subtitle-1">PROGRAMADO</p>
          <p class="text-caption">Edita las capacidades por rangos de horas en el día</p>
        </div>
        <div class="block-rigth">
          <img src="../../../assets/img/next_rigth.png" alt="">
        </div>
      </div>
    </app-router>
  </div>

  <div class="alert-success" *ngIf="showAlert">
    <div class="alert-content">
      <div class="div-img">
        <img src="../../../assets/img/check-success.png" alt="">
      </div>
      <div class="text-alert"> Se guardó con exito la edición de
        capacidad {{typeService}} para {{selectedStepOne}} {{local}}
      </div>
    </div>
  </div>
</section>
