<ng-container *ngIf="appearance === 'uppercase'">
    <span class="text-tag"
          [class.text-danger]="tagStatus === 'error'"
          [class.text-warning]="tagStatus === 'warning'"
          [class.text-success]="tagStatus === 'success'">
        <ng-container *ngTemplateOutlet="ngContent"></ng-container>
    </span>
</ng-container>

<ng-container *ngIf="appearance === 'pill'">
    <span class="text-tag tag-pill"
          [class.text-danger]="tagStatus === 'error'"
          [class.text-warning]="tagStatus === 'warning'"
          [class.text-success]="tagStatus === 'success'">
              <ng-container *ngTemplateOutlet="ngContent"></ng-container>
    </span>
</ng-container>

<ng-container *ngIf="appearance === 'default'">
    <span class="text-subtitle-2 tag-default"
          [class.text-danger]="tagStatus === 'error'"
          [class.text-warning]="tagStatus === 'warning'"
          [class.text-success]="tagStatus === 'success'">
              <ng-container *ngTemplateOutlet="ngContent"></ng-container>
    </span>
</ng-container>


<ng-template #ngContent>
    <ng-content></ng-content>
</ng-template>
