<section class="operations-zones-edition-backup pb-15">
  <div class="pt-5 zone-edition-home-header">
    <div class="col-12 mb-4">
      <app-back-router-simple
        backRoute="/operaciones/zonas/{{ zoneDetail.id }}"
        class="back"
      ></app-back-router-simple>
    </div>
    <div class="row mb-6">
      <div class="col-12">
        <h4 class="text-h6 text-gray-6 mb-0">
          Editar {{ serviceTypeName[serviceType] }} en zona backup
        </h4>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!errorResponse">
    <div class="col-12 col-xlg-4 mb-6 mb-xlg-0">
      <app-op-zones-edition-backup-service-type-detail-card
        *appSkeletonCard="
          !!zoneDetail && !!zoneBackupServiceType;
          loading: !editionBackupServiceTypeLoader
        "
        [zoneDetail]="zoneDetail"
        [zoneBackupDetail]="zoneBackupDetail"
        [zoneBackupServiceType]="zoneBackupServiceType"
      >
      </app-op-zones-edition-backup-service-type-detail-card>
    </div>

    <div class="col-12 col-xlg-8" [class.container-loader]="saveEditionLoader">
      <app-op-zones-edition-backup-service-type-detail-form-card
        *appSkeletonCard="
          !!zoneDetail && !!zoneBackupServiceType;
          row: 8;
          loading: !editionBackupServiceTypeLoader
        "
        [zoneBackup]="zoneDetail?.zoneBackup"
        [zoneBackupDetail]="zoneBackupDetail"
        [zoneBackupServiceType]="zoneBackupServiceType"
        (cancelEdition)="cancelEdition()"
        (saveEdition)="saveEdition($event)"
      >
      </app-op-zones-edition-backup-service-type-detail-form-card>
    </div>
  </div>

  <div *ngIf="errorResponse" class="pt-6">
    <app-http-error-viewer
      [errorResponse]="errorResponse"
    ></app-http-error-viewer>
  </div>
</section>
