.register-service-type
  position: absolute
  bottom: 24px
  right: 24px
  z-index: 2
.card-edit-button
  top: 24px !important
  position: absolute
  width: 24px
  height: 24px
  right: 24px
  bottom: 24px
  z-index: 2

  &:hover
    cursor: pointer

.card-add-button
  top: 24px !important

.mt-10
  margin-top: 10px !important
.ml-10
  margin-left: 10px

.tag-digital
 padding: 12px
 border: 1px solid