<app-card innerClass="pb-6">
  <div class="row mb-4">
    <div class="col-12 d-flex-vertical-center justify-content-between">
      <h4 class="text-h4 mb-0" [class.text-gray-4]="serviceTypeDisabled">
        <app-icon
          class="d-inline-block me-5"
          [svgName]="
            serviceTypeDisabled
              ? 'ellipse-disabled'
              : serviceType?.enabled
              ? 'ellipse-success'
              : 'ellipse-danger'
          "
        ></app-icon>
        <span class="text-gray-7">{{ segmentName }}</span>
      </h4>
    </div>
  </div>
  <!-- <app-divider></app-divider> -->
  <hr class="my-4 bg-gray-3" />
  <div class="row mb-4">
    <div
      class="col-12 d-flex-vertical-center justify-content-start align-items-center"
    >
      <app-tag
        *ngIf="serviceType?.channel"
        [appearance]="appearanceChannel"
        [tagColor]="segmentChannelColor"
        [innerClass]="channelInnerClass"
      >
        {{ segmentChannelName }}
      </app-tag>
      <app-tag
        [appearance]="tagAppearance.coloredFullLilacPill"
        [tagColor]="'dark-complementary-four'"
        class="ml-10"
        *ngIf="flagServiceType === 'P'"
        innerClass="p-3 border border-complementary-four"
      >
        Precio personalizado
      </app-tag>
      <app-tag
        [appearance]="tagAppearance.coloredFullGreasePill"
        [tagColor]="segmentCompanyColor"
        class="ml-10"
        innerClass="p-3 border border-gray-1"
      >
        <div class="d-flex justify-content-between align-items-center">
          <span class="me-2 d-flex align-items-center">
            <app-icon [svgName]="segmentCompanyIcon" svgWidth="22px"></app-icon>
          </span>
          {{ segmentCompanyName }}
        </div>
      </app-tag>
    </div>
  </div>

  <app-card-static-information
    class="d-block mb-5"
    svgName="time-circle"
    svgWidth="16px"
    [disabled]="serviceTypeDisabled"
  >
    <ng-container information-title
      >Horario de atención {{ segmentName }}</ng-container
    >
    <ng-container information-caption
      ><span class="text-black">{{ startAndEndHour }}</span></ng-container
    >
  </app-card-static-information>

  <app-card-static-information
    class="d-block mb-5"
    svgName="hourglass"
    svgWidth="16px"
    [disabled]="serviceTypeDisabled"
  >
    <ng-container information-title
      >Lapso de cierre de ventana - GAP</ng-container
    >
    <ng-container information-caption
      ><span class="text-black">{{ segmentGap }}</span></ng-container
    >
  </app-card-static-information>

  <app-card-static-information
    class="d-block"
    svgName="money-circle"
    svgWidth="16px"
    [disabled]="serviceTypeDisabled"
  >
    <ng-container information-title>{{ textFlagServiceType }}</ng-container>
    <ng-container information-caption
      ><span class="text-black">{{ priceServideType }}</span></ng-container
    >
  </app-card-static-information>

  <ng-container *appRouterAccess="serviceTypePath">
    <ng-container *ngIf="serviceType?.available">
      <div
        *ngIf="serviceType?.registered"
        class="card-edit-button"
        (click)="editEvent()"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
      >
        <app-tooltip [value]="tooltipDescription">
          <app-icon [svgName]="editIconName" svgWidth="24px"></app-icon>
        </app-tooltip>
      </div>
      <div
        *ngIf="!serviceType?.registered"
        app-card-add-button
        [addMessage]="segmentName"
        (editionAccess)="addEvent()"
        [pathAccess]="serviceTypePath"
      ></div>
    </ng-container>
  </ng-container>
</app-card>
