<app-card innerClass="pb-6">
  <div class="row mb-4">
    <div class="col-12">
      <h4
        class="text-h4 text-gray-7 mb-0"
        [class.text-gray-4]="serviceTypeDisabled"
      >
        <app-icon
          class="d-inline-block me-5"
          [svgName]="
            serviceTypeDisabled ? 'ellipse-disabled' : 'ellipse-success'
          "
        >
        </app-icon>
        <span>{{ segmentName }}</span>
      </h4>
    </div>
  </div>
  <hr class="my-4 bg-gray-3" />
  <app-card-static-information
    class="d-block mb-4"
    svgName="time-circle"
    svgWidth="16px"
    [disabled]="serviceTypeDisabled"
  >
    <ng-container information-title>
      Horario de atención {{ segmentName }} de zona backup</ng-container
    >
    <ng-container information-caption
      ><span class="text-black">{{ startAndEndHour }}</span></ng-container
    >
  </app-card-static-information>

  <app-card-static-information
    class="d-block mb-4"
    svgName="hourglass"
    svgWidth="16px"
    [disabled]="serviceTypeDisabled"
  >
    <ng-container information-title
      >Lapso de cierre de ventana - GAP de zona backup</ng-container
    >
    <ng-container information-caption
      ><span class="text-black">{{ segmentGap }}</span></ng-container
    >
  </app-card-static-information>

  <app-card-static-information
    class="d-block mb-4"
    svgName="store"
    svgWidth="16px"
    [disabled]="serviceTypeDisabled"
  >
    <ng-container information-title
      >Forzar {{ segmentName }} al local Backup</ng-container
    >
    <ng-container information-caption>
      <span [class.text-capitalize]="!!zoneBackupDetail" class="text-black">{{
        forceServiceType
      }}</span>
    </ng-container>
  </app-card-static-information>

  <app-card-static-information
    class="d-block"
    svgName="money-circle"
    svgWidth="16px"
    [disabled]="serviceTypeDisabled"
  >
    <ng-container information-title>{{ textFlagServiceType }}</ng-container>
    <ng-container information-caption
      ><span class="text-black">S/ {{ priceServideType }}</span></ng-container
    >
  </app-card-static-information>

  <ng-container *appRouterAccess="serviceTypePath">
    <ng-container *ngIf="!serviceTypeDisabled">
      <div
        app-card-edit-button
        [editMessage]="segmentName"
        (click)="editEvent()"
      ></div>
    </ng-container>
  </ng-container>
</app-card>
