@import "~sass/variables";

.tag-transform-none{
  text-transform: none !important;
}

.tag-pill {
  padding: 0 12px;
  height: 18px;
  border-radius: $border-radius-md;
  display: inline-flex;
  align-items: center;
}

.tag-pill-zone {
  padding: 0 12px;
  height: 40px;
  border: 1px solid #e1e6e9;
  border-radius: 24px;
  display: inline-flex;
  align-items: center;
}

.tag-pill-semantic {
  padding: 0 12px;
  height: 24px;
  border-radius: $border-radius-xl;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.tag-pill-informative {
  padding: 0 12px;
  height: 24px;
  border: 1px solid $gray-0;
  border-radius: $border-radius-xl;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.tag-pill-brand {
  padding: 0 12px 0 4px;
  height: 24px;
  border: 1px solid $gray-1;
  border-radius: $border-radius-xl;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.pill-transparent-blue {
  background: #f0fcfa !important;
  border: 1px solid #b2e0ef !important;
  color: #49a7d0 !important;
}
.pill-transparent-purple {
  background: #fff4ff !important;
  border: 1px solid #fcd9ff !important;
  color: #c454d7 !important;
}
.pill-transparent-gray {
  background: #f9fafb !important;
  border: 1px solid #f5f7f8 !important;
}

.pill-disable {
  color: #c4cdd4 !important;
  background: #f4f6f7 !important;
  border: 1px solid #e1e6e9 !important;
}
