<section class="operations-stores-edition-store pt-12 pb-15">
    <div class="row mb-8">
        <div class="col-12">
            <h3 class="text-h3 mb-0">Edición de zonas</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-6 mb-6 mb-xl-0">
            <app-op-zones-edition-zone-detail-card
                    *appSkeletonCard="!!zoneDetail && !!channelList && !!companyList && !!storeList; loading: !zoneEditionLoader && !zoneListEditionLoader"
                    [zoneDetail]="zoneDetail">
            </app-op-zones-edition-zone-detail-card>
        </div>

        <div class="col-12 col-xl-6"
             [class.container-loader]="saveEditionLoader">
            <app-op-zones-edition-zone-detail-form-card
                    *appSkeletonCard="!!zoneDetail && !!channelList && !!companyList && !!storeList; row: 8; loading: !zoneEditionLoader && !zoneListEditionLoader"
                    [zoneDetail]="zoneDetail"
                    [storeList]="storeList"
                    [channelList]="channelList"
                    [companyList]="companyList"
                    [zoneTypeList]="zoneTypeList"
                    [labelList]="labelList"
                    (cancelEdition)="cancelEdition()"
                    (saveEdition)="saveEdition($event)">
            </app-op-zones-edition-zone-detail-form-card>
        </div>
    </div>

    <app-empty-result (action)="zoneListRoute()"
                      *ngIf="(!zoneDetail || !channelList || !storeList) && !zoneEditionLoader && !zoneListEditionLoader">
        <ng-container empty-result-title>Esta zona no está disponible para edición.</ng-container>
        <ng-container empty-result-action>Ir a lista de zonas</ng-container>
    </app-empty-result>
    <app-empty-result (action)="backRoute()"
                      *ngIf="!!zoneDetail && (!channelList || !storeList) && !zoneEditionLoader && !zoneListEditionLoader">
        <ng-container empty-result-title> {{zoneDetail?.name || 'Esta zona'}} no está disponible para edición.</ng-container>
        <ng-container empty-result-action>Ir a {{zoneDetail?.name || 'la zona'}}</ng-container>
    </app-empty-result>
</section>
