<section class="operations-zones-edition-zone pt-8 pb-15">
  <div class="col-12 mb-4">
    <app-back-router-simple backRoute="/operaciones/zonas/{{zoneDetail.id}}" class="back"></app-back-router-simple>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <h3 class="text-h3 mb-5">Editar Zona Principal</h3>
    </div>
  </div>


  <div class="row" *ngIf="!errorResponse">
    <div class="col-12 col-xlg-6 mb-6 mb-xlg-0">
      <app-op-zones-edition-zone-detail-card
        *appSkeletonCard="!!zoneDetail && !!channelList && !!storeList; loading: !homeEditionZoneLoader"
        [zoneDetail]="zoneDetail">
      </app-op-zones-edition-zone-detail-card>
    </div>

    <div class="col-12 col-xlg-6" [class.container-loader]="saveEditionLoader">
      <app-op-zones-edition-zone-detail-form-card
        *appSkeletonCard="!!zoneDetail && !!channelList && !!storeList; row: 8; loading: !homeEditionZoneLoader"
        [zoneDetail]="zoneDetail"
        [storeList]="storeList"
        [channelList]="channelList"
        [companyList]="companyList"
        [labelList]="labelList"
        (cancelEdition)="cancelEdition()"
        (saveEdition)="saveEdition($event)">
      </app-op-zones-edition-zone-detail-form-card>
    </div>
  </div>

  <div *ngIf="errorResponse" class="pt-6">
    <app-http-error-viewer [errorResponse]="errorResponse"></app-http-error-viewer>
  </div>
</section>
