<form [formGroup]="recoverPasswordResetForm.form$"
      (ngSubmit)="formSubmit()">

    <div class="password mb-5">
        <app-form-field>
            <app-form-field-label>Tu nueva contraseña</app-form-field-label>
            <app-input formControlName="password"
                       behavior="password"
                       labelClass="d-block"
                       id="password"
                       placeholder="Escribe aquí una contraseña nueva">
            </app-input>
        </app-form-field>
    </div>

    <div class="confirm-password mb-5">
        <app-form-field>
            <app-form-field-label>Repite tu nueva contraseña</app-form-field-label>
            <app-input (appCapsLock)="capsLock=$event"
                       formControlName="confirmPassword"
                       behavior="password"
                       labelClass="d-block"
                       id="confirm-password"
                       placeholder="Repite aquí la contraseña que escribiste">
            </app-input>
            <ng-container *ngIf="recoverPasswordResetForm.confirmPasswordControl.hasDifferentValuesError">
                <app-form-field-error>{{recoverPasswordResetForm.confirmPasswordControl.controlError}}</app-form-field-error>
            </ng-container>
        </app-form-field>

        <label class="d-flex-vertical-center mt-2" *ngIf="capsLock">
            <app-icon fontName="warning"
                      fontSize="16px"
                      innerClass="text-warning"
                      class="d-inline-flex me-2"></app-icon>
            <span class="text-caption text-warning">Las mayúsculas están activadas</span>
        </label>
    </div>

    <div class="validators mb-7">
        <app-password-validator [valid]="recoverPasswordResetForm.passwordControl.validMinLength">
            6 caracteres mínimo
        </app-password-validator>
        <app-password-validator [valid]="recoverPasswordResetForm.passwordControl.validUpperCase">
            1 mayúscula
        </app-password-validator>
        <app-password-validator [valid]="recoverPasswordResetForm.passwordControl.validLowerCase">
            1 minúscula
        </app-password-validator>
        <app-password-validator [valid]="recoverPasswordResetForm.passwordControl.validNumberOrCharacter">
            1 número o caracter especial
        </app-password-validator>
    </div>


    <div class="update-password-actions"
         [class.update-password-dialog]="appearance === 'dialog'">
        <div class="submit">
            <app-button [disabled]="recoverPasswordResetForm.form$.invalid"
                        innerClass="me-4 w-100"
                        class="mb-4 mb-md-0"
                        appearance="primary"
                        behavior="submit">
                Cambiar de contraseña
            </app-button>
        </div>

        <div class="cancel">
            <app-button (click)="formCancel()"
                        innerClass="w-100"
                        [appearance]="appearance === 'dialog' ? 'secondary':'ghost'"
                        behavior="button">
                Cancelar
            </app-button>
        </div>
    </div>
</form>
