.update-password-actions {
  .cancel {
    margin-top: 14px;
  }
}

.update-password-dialog {
  display: flex;
  flex-direction: row-reverse;

  .cancel {
    margin-right: 14px;
    margin-top: 0;
  }
}
