@import "src/sass/mixins/breakpoints.mixin";

.update-password-actions {
  .cancel {
    margin-top: 14px;
  }
}

@include media-breakpoint-up(md) {
  .update-password-dialog {
    display: flex;
    flex-direction: row-reverse;

    .cancel {
      margin-right: 14px;
      margin-top: 0;
    }
  }
}
