<app-step stepId="3"
          stepTitle="recursos"
          [class.card-step-content-disabled]="expressResourceSaveLoad"
          [stepExpandedToggle]="expressResourceStepStatus === eCapacityStepStatus.open"
          [stepDisabled]="expressResourceStepStatus === eCapacityStepStatus.disabled  || expressResourceSaveLoad"
          [saveButtonDisabled]="!_opCapacitiesStepExpressResourceForm.expressResourceForm$.valid || expressResourceSaveLoad"
          (stepOpenEvent)="openExpressResourceStep()"
          (stepCloseEvent)="closeExpressResourceStep()"
          (saveButtonEvent)="saveExpressResource()"
          (cancelButtonEvent)="cancelExpressResource()">
  <div class="card-step-content">
    <form [formGroup]="_opCapacitiesStepExpressResourceForm.expressResourceForm$">

      <div class="row">
        <div class="col-12 mb-5" *ngIf="expressResourceDateRange">
          <label class="text-caption text-gray-5 mb-2">Selecciona días</label>
          <app-input-datepicker-range
            formControlName="capacityRange"
            datepickerRangeOutputFormat="DD-MM-YYYY"
            [datepickerRangeMin]="expressResourceMinDateRange"
            [datepickerRangeMax]="expressResourceMaxDateRange">
          </app-input-datepicker-range>
        </div>

        <div class="col-12 mb-5">
          <label class="text-caption text-gray-5 mb-2 d-block">Nro. de motorizados</label>
          <app-input-number formControlName="expressResource"
                            inputPlaceholder="10"></app-input-number>
        </div>
      </div>
    </form>
  </div>
</app-step>
