<section class="profile-update-password-dialog">

    <div class="dialog-close">
        <app-icon iconFontName="close"
                  iconFontSize="24px"
                  iconClass="text-gray-5 cursor-pointer"
                  mat-dialog-close></app-icon>
    </div>

    <app-profile-dialog-header>
        <ng-container user-name>{{user.name}} {{user.firstLastName}} {{user.secondLastName}}</ng-container>
        <ng-container user-role>{{rolesNames[user.role]}}</ng-container>
    </app-profile-dialog-header>

    <div class="dialog-content">
        <app-update-password-form appearance="dialog"
                                  (formSubmitEvent)="closeDialog()"
                                  (formCancelEvent)="closeDialog()">
        </app-update-password-form>
    </div>

</section>
