<section class="profile-update-password-dialog" app-dialog-container>
    <div app-dialog-close mat-dialog-close></div>

    <div class="content border-bottom border-gray-2 pb-6">
        <app-dialog-header svgName="avatar">
            <ng-container dialog-header-title>{{user.name}} {{user.firstLastName}} {{user.secondLastName}}</ng-container>
            <ng-container dialog-header-description>{{user.position?.name}}</ng-container>
        </app-dialog-header>
    </div>

    <div class="content pt-6">
        <app-update-password-form appearance="dialog"
                                  class="d-block"
                                  [class.container-loader]="submitForm"
                                  #updatePasswordForm
                                  (formSubmitEvent)="formSubmitted($event)"
                                  (formCancelEvent)="formCancelled()">
        </app-update-password-form>
    </div>

</section>
