<app-accordion-information svgName="credit-card"  title="Información del pago">
  <div class="row">
    <div class="col-6">
      <table>
        <tr>
          <td>Tipo de pago:</td>
          <td>Pago online</td>
        </tr>
        <tr>
          <td>ID Transacción:</td>
          <td>991210606840539</td>
        </tr>
        <tr>
          <td>Vuelto:</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Estado:</td>
          <td>Liquidado</td>
        </tr>
        <tr>
          <td>Fecha:</td>
          <td>26/09 - 10:00 a.m.</td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table>
        <tr>
          <td>PAN Nº tarjeta:</td>
          <td>**** **** **** 7846</td>
        </tr>
        <tr>
          <td>Cod. Autorización:</td>
          <td>716922</td>
        </tr>
        <tr>
          <td class="card-brand">Marca de tarjeta:</td>
          <td>
            <app-icon svgName="visa" svgWidth="40px" svgHeight="32px" innerClass="mt-2"></app-icon>
          </td>
        </tr>
        <tr>
          <td>Financiera:</td>
          <td>Interbank</td>
        </tr>
        <tr>
          <td>Usuario liquidador:</td>
          <td>Luisa Saldivar</td>
        </tr>
      </table>
    </div>
  </div>
</app-accordion-information>

