<app-card>
    <div class="row mb-6">
        <div class="col-12">
            <app-switch [checked]="true">Local activo</app-switch>
        </div>
    </div>

    <div class="row mb-6">
        <div class="col-6">
            <app-form-field>
                <app-form-field-label>Inicio</app-form-field-label>
                <app-select [optionList]="['8:00 AM']" [value]="'8:00 AM'"></app-select>
            </app-form-field>
        </div>
        <div class="col-6">
            <app-form-field>
                <app-form-field-label>Fin</app-form-field-label>
                <app-select [optionList]="['7:00 PM']" [value]="'7:00 PM'"></app-select>
            </app-form-field>
        </div>
    </div>


    <div class="row mb-7">
        <div class="col-12">
            <app-form-field>
                <app-form-field-label>Marcas</app-form-field-label>
                <div class="row mt-4">
                    <div class="col-6">
                        <app-checkbox [checked]="true">Inkafarma</app-checkbox>
                    </div>
                    <div class="col-6">
                        <app-checkbox [checked]="true">Mifarma</app-checkbox>
                    </div>
                </div>
            </app-form-field>
        </div>
    </div>

    <div class="row mb-9">
        <div class="col-6">
            <app-form-field>
                <app-form-field-label>Latitud</app-form-field-label>
                <app-input value="-12.103018"></app-input>
            </app-form-field>
        </div>
        <div class="col-6">
            <app-form-field>
                <app-form-field-label>Longitud</app-form-field-label>
                <app-input value="-77.021223"></app-input>
            </app-form-field>
        </div>
    </div>

    <div class="card-actions d-flex-horizontal-end pt-5 border-top border-gray-1">
        <app-button appearance="secondary"
                    class="me-4"
                    (click)="cancelStoreEditionEvent()">
            Cancelar edición
        </app-button>
        <app-button appearance="primary"
                    (click)="cancelStoreEditionEvent()">
            Guardar cambios
        </app-button>
    </div>
</app-card>
