<mat-sidenav-container class="static-sidenav-container">
    <mat-sidenav mode="side"
                 opened>
        <div class="static-sidenav">

            <div class="sidenav-top-taps">

                <div class="sidenav-taps">
                    <app-router [router]="routerPath.base">
                        <app-icon svgName="main-logo"
                                  svgWidth="32px"></app-icon>
                    </app-router>
                </div>

                <div *appRouterAccess="routerPath.administrator" class="sidenav-taps">
                    <app-sidenav-navigation [navigationRoute]="routerPath.administrator"
                                            [navigationText]="administratorRouting.shortName"
                                            [navigationTooltip]="administratorRouting.name">
                    </app-sidenav-navigation>
                </div>

                <div *appRouterAccess="routerPath.operations" class="sidenav-taps">
                    <app-sidenav-navigation [navigationText]="operationsRouting.shortName"
                                            [navigationTooltip]="operationsRouting.name"
                                            [navigationRoute]="routerPath.operations">
                    </app-sidenav-navigation>
                </div>
            </div>

            <div class="sidenav-bottom-taps">

                <div class="sidenav-taps">
                    <app-profile></app-profile>
                </div>

            </div>

        </div>
    </mat-sidenav>


    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
