<div class="input-datepicker-range-container">
  <label class="input-datepicker-range-label">

    <mat-date-range-input [rangePicker]="pickerRange"
                          [min]="datepickerRangeMin"
                          [max]="datepickerRangeMax"
                          [formGroup]="datepickerRangeGroup"
                          [disabled]="datepickerDisabled"
                          separator="-">
      <input matStartDate
             class="input-datepicker-range-input text-label"
             formControlName="startDate"
             [name]="datepickerRangeName"
             [placeholder]="inputPlaceholder">
      <input matEndDate
             class="input-datepicker-range-input text-label"
             formControlName="endDate"
             [name]="datepickerRangeName"
             [placeholder]="inputPlaceholder">
    </mat-date-range-input>
    <mat-datepicker-toggle class="input-datepicker-range-icon"
                           [for]="pickerRange"
                           [disableRipple]="true">
      <app-icon iconSvgName="datepicker"
                iconSvgWidth="12px"
                matDatepickerToggleIcon></app-icon>
    </mat-datepicker-toggle>
  </label>
  <mat-date-range-picker #pickerRange
                         [calendarHeaderComponent]="datepickerRangeHeader"
                         [disabled]="datepickerIconDisabled">
  </mat-date-range-picker>
</div>
