<div class="datepicker-header">

  <span class="datepicker-header-label">{{periodLabel}}</span>

  <div class="datepicker-header-actions">
    <span class="datepicker-header-previous"
      (click)="previousClicked()">
      <app-icon iconFontName="keyboard_arrow_left"
                iconFontSize="24px"
                iconClass="text-gray-6"></app-icon>
    </span>
    <span class="datepicker-header-next"
          (click)="nextClicked()">
      <app-icon iconFontName="keyboard_arrow_right"
                iconFontSize="24px"
                iconClass="text-gray-6"></app-icon>
    </span>
  </div>

</div>
