<app-card innerClass="px-6 pt-6 pb-15">
  <div class="row mb-5">
    <div class="col-12">
      <h5 class="text-h5 mb-0">Detalle de la zona principal</h5>
    </div>
  </div>
  <hr class="m-0 bg-gray-3" />
  <div class="row mt-5 mb-5">
    <div class="col-12 d-flex align-items-center">
      <app-icon
        class="me-5"
        [svgName]="zoneState ? 'ellipse-success' : 'ellipse-danger'"
      ></app-icon>
      <h5 class="text-h5 mb-0 ms-3">
        {{ zoneDetail.name }}
        <span class="text-gray-5 mx-3">-</span>
        <span class="text-gray-5 text-nowrap">COD {{ zoneDetail.code }}</span>
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-card-static-information class="d-block mb-5" iconName="store">
        <ng-container information-title>Local de atención</ng-container>
        <ng-container information-caption>
          <ng-container *ngIf="zoneDetail.assignedStore">
            {{ zoneDetail.assignedStore.code }}
            {{ zoneDetail.assignedStore.name }}
          </ng-container>
          <ng-container *ngIf="!zoneDetail.assignedStore">
            Sin local de atención
          </ng-container>
        </ng-container>
      </app-card-static-information>

      <app-card-static-information class="d-block mb-5" iconName="store">
        <ng-container information-title>Local backup</ng-container>
        <ng-container information-caption>
          <span class="text-capitalize">{{ zoneEditionDrugstoreBackup }}</span>
        </ng-container>
      </app-card-static-information>

      <app-card-static-information
        class="d-block mb-5"
        iconName="location_searching"
      >
        <ng-container information-title>Zona backup</ng-container>
        <ng-container information-caption>
          <span class="text-capitalize">{{ zoneEditionZoneBackup }}</span>
        </ng-container>
      </app-card-static-information>
    </div>
  </div>
</app-card>
