@import "src/sass/variables"
@import "src/sass/mixins/utilities.mixin"
@import "src/sass/mixins/display.mixin"
@import "src/sass/mixins/text.mixin"

.switch-container
  position: relative
  cursor: pointer
  display: inline-flex
  margin: 0
  @include non-selectable()

  .switch
    position: fixed
    left: 99999px
    opacity: 0

    &:checked ~ .switch-toggle-bar
      background: $primary

    &:checked ~ .switch-toggle-bar .switch-toggle-thumb
      transform: translate3d(24px, 0, 0)

    &[disabled]:not(:checked) ~ .switch-toggle-bar
      background-color: $gray-2
      pointer-events: none
      cursor: default

    &[disabled]:checked ~ .switch-toggle-bar
      opacity: 0.5

    &[disabled] ~ .switch-content
      opacity: .5


  .switch-toggle-bar
    width: 48px
    height: 24px
    border-radius: 24px
    background: $gray-3
    margin-right: 16px
    transition: all 80ms linear
    transition-property: background-color
    transition-delay: 50ms

  .switch-toggle-thumb
    position: absolute
    z-index: 1
    width: 18px
    height: 18px
    background-color: $white
    border-radius: $border-radius-round
    top: 3px
    left: 3px
    transform: translate3d(0, 0, 0)
    transition: all 80ms linear
    transition-property: transform

  .switch-content
    color: $black
    @include d-flex-vertical-center()
    @include text-h5()
