@import "src/sass/variables/colors";

.app-main-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader-content {
    margin-bottom: 15vh;

    .loader-animation {
      -webkit-animation: 3s rotate linear infinite;
      animation: 3s rotate linear infinite;
    }

    .loader-image {
      height: 100px;
    }

  }


  @keyframes rotate {
    from {
      transform: rotate(0deg)
    }

    to {
      transform: rotate(360deg)
    }
  }


  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg)
    }

    to {
      -webkit-transform: rotate(360deg)
    }
  }
}
