<div class="step" [class.step-disabled]="stepDisabled || stepReadonly">
  <mat-expansion-panel hideToggle
                       class="steps-panel"
                       [disabled]="stepDisabled || stepReadonly"
                       [(expanded)]="stepExpanded"
                       (opened)="stepOpenEvent.emit()"
                       (closed)="stepCloseEvent.emit()">
    <mat-expansion-panel-header class="step-header"
                                expandedHeight="64px"
                                collapsedHeight="72px">
      <div class="step-header-content">
        <mat-panel-title class="step-header-title-container">
          <span class="step-header-id">{{stepId}}</span>
          <span class="step-header-title">{{stepTitle}}</span>
        </mat-panel-title>
        <mat-panel-description class="step-header-description-container"
                               [class.step-header-description-container-readonly]="stepReadonly"
                               *ngIf="!stepExpanded && stepDescription && (!stepDisabled || stepReadonly)">
          <span class="step-header-description text-truncate">{{stepDescription}}</span>
          <app-icon *ngIf="!stepReadonly"
                    class="step-header-description-icon"
                    fontName="edit"
                    fontSize="24px"></app-icon>
        </mat-panel-description>
      </div>
    </mat-expansion-panel-header>
    <div class="step-body">
      <div class="steps-body-content">
        <ng-content></ng-content>
      </div>

      <div class="step-body-actions">
        <app-button appearance="secondary"
                    class="mr-4"
                    (click)="cancelButtonEvent.emit()">
          {{cancelButtonText}}
        </app-button>
        <app-button appearance="primary"
                    [disabled]="saveButtonDisabled"
                    (click)="saveButtonEvent.emit()">
          {{saveButtonText}}
        </app-button>
      </div>
    </div>
  </mat-expansion-panel>
</div>
