.disclaimer {
  border: 1px solid #888bff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
  p {
    margin-left: 15px;
  }
}
.cmt-4 {
  margin-top: 4px !important;
}

.inpunt-content {
  border: 1px dashed #cbd2d9;
  border-radius: 16px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cmr-5 {
  margin-right: 5px;
}

.ml-c {
  margin-left: 10px;
}
