<app-card-step
  stepId="3"
  stepTitle="recursos"
  [stepExpandedToggle]="true"
  [enableAccess]="true"
>
  <div class="card-step-content">
    <form>
      <div class="row">
        <div class="col-12 mb-5">
          <label class="text-body-2-regular text-gray-5 mb-2"
            >Selecciona días</label
          >
        </div>

        <div class="col-12 mb-5">
          <label class="text-body-2-regular text-gray-5 mb-2 d-block"
            >Nro. de motorizados</label
          >
          <app-input-number placeholder="10"></app-input-number>
        </div>
      </div>
    </form>
  </div>
</app-card-step>
