<app-card>
    <div class="row">
        <div class="col-9">

            <div class="row mb-6">
                <div class="col-12">
                    <app-switch [checked]="true">AM/PM</app-switch>
                </div>
            </div>

            <div class="row mb-6">
                <div class="col-5">
                    <app-form-field>
                        <app-form-field-label>Inicio</app-form-field-label>
                        <app-select [optionList]="['8:00 AM']" [value]="'8:00 AM'"></app-select>
                    </app-form-field>
                </div>
                <div class="col-5">
                    <app-form-field>
                        <app-form-field-label>Fin</app-form-field-label>
                        <app-select [optionList]="['7:00 PM']" [value]="'7:00 PM'"></app-select>
                    </app-form-field>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                    <app-form-field>
                        <app-form-field-label>Duración de ventanas horarias</app-form-field-label>
                        <div class="row d-flex-vertical-center">
                            <div class="col-3">
                                <app-input value="5 horas" [disabled]="true"></app-input>
                            </div>
                            <div class="col ps-0">
                                <p class="d-inline-flex align-items-center mb-0">
                                    <app-icon fontName="info"
                                              innerClass="text-gray-5 me-2"></app-icon>
                                    <span class=" text-caption text-gray-5">Puedes editar este valor en <strong class="text-decoration-underline">configuraciones</strong></span>
                                </p>
                            </div>
                        </div>
                    </app-form-field>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <app-form-field>
                        <app-form-field-label>Resultado de número de ventanas horarias</app-form-field-label>
                        <app-input value="3"
                                   class="d-inline-block me-4"
                                   style="width: 48px"
                                   [disabled]="true"></app-input>
                        <app-button appearance="outline">Ver detalle</app-button>
                    </app-form-field>
                </div>
            </div>


            <div class="row mb-9">
                <div class="col-12">
                    <app-form-field>
                        <app-form-field-label>Métodos de pago</app-form-field-label>
                        <div class="row mt-4">
                            <div class="col-6 mb-5">
                                <app-checkbox [checked]="true">POS</app-checkbox>
                            </div>
                            <div class="col-6 mb-5">
                                <app-checkbox [checked]="true">Online</app-checkbox>
                            </div>
                            <div class="col-6">
                                <app-checkbox [checked]="false">Efectivo</app-checkbox>
                            </div>
                        </div>
                    </app-form-field>
                </div>
            </div>

        </div>
    </div>

    <div class="card-actions d-flex-horizontal-end pt-5 border-top border-gray-1">
        <app-button appearance="secondary"
                    class="me-4"
                    (clicked)="cancelServiceTypeEditionEvent()">
            Cancelar edición
        </app-button>
        <app-button appearance="primary"
                    (clicked)="cancelServiceTypeEditionEvent()">
            Guardar cambios
        </app-button>
    </div>
</app-card>
