<app-card innerClass="px-6 pt-6 pb-15">
    <div class="row mb-6">
        <div class="col-12">
            <h5 class="text-h5 mb-2">
                {{drugstoreDetail.name}}
                <span class="text-gray-5 mx-3">-</span>
                <span class="text-gray-5 text-nowrap">
                    COD {{drugstoreDetail.code}}
                </span>
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-card-static-information class="d-block mb-5" iconName="location_on">
                <ng-container information-title>Ubicación</ng-container>
                <ng-container information-caption>{{drugstoreDetail.address || 'No registrada'}}</ng-container>
            </app-card-static-information>

            <app-card-static-information class="d-block mb-5" iconName="location_searching">
                <ng-container information-title>Latitud y longitud</ng-container>
                <ng-container information-caption>{{drugstoreDetail.latitude}}, {{drugstoreDetail.longitude}}</ng-container>
            </app-card-static-information>

            <app-card-static-information class="d-block mb-5" iconName="group_work">
                <ng-container information-title>Grupo</ng-container>
                <ng-container information-caption>{{drugstoreDetail.groupName || 'Sin grupo'}}</ng-container>
            </app-card-static-information>

            <app-card-static-information class="d-block" iconName="record_voice_over">
                <ng-container information-title>Canales de atención</ng-container>
                <ng-container information-caption>
                    <ng-container *ngIf="drugstoreDetail.channelList?.length">
                        <ng-container *ngFor="let channel of drugstoreDetail.channelList; let last = last">
                            <span>
                                {{channelName[channel]}}
                                <span class="mx-2" *ngIf="!last">-</span>
                            </span>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!drugstoreDetail.channelList?.length">
                        No registrado
                    </ng-container>
                </ng-container>
            </app-card-static-information>
        </div>
    </div>
</app-card>
