.disclaimer {
  border: 1px solid #888bff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  p {
    margin-left: 15px;
  }
}
.cmt-4 {
  margin-top: 4px !important;
}

.cmr-5 {
  margin-right: 5px;
}
