<section class="operations-capacity-express pt-6 pt-md-8 pb-8 pb-md-15">
  <div class="row mb-4">
    <div class="col">
      <app-back-router>Opciones</app-back-router>
    </div>
  </div>

  <div class="row mb-5 mb-md-5">
    <div class="col">
      <h1 class="text-h5 text-black mb-5">
        Carga de parámetros flexibles masiva
      </h1>
    </div>
  </div>
  <app-step-tabs [tabs]="TABS"></app-step-tabs>
  <ng-container>
    <app-op-capacities-interval-step-upload></app-op-capacities-interval-step-upload>
  </ng-container>
  <ng-container *ngIf="false">
    <app-op-capacities-interval-step-confirmation></app-op-capacities-interval-step-confirmation>
  </ng-container>
</section>
