@import 'node_modules/@angular/material/theming'

$cdk-overlay-dark-backdrop-background: rgba($black, 0.7)
$custom-typography: mat-typography-config($font-family: $font-family-base)

$primary-color: mat-palette($mat-indigo)
$accent-color: mat-palette($mat-pink, A200, A100, A400)
$warn-color: mat-palette($mat-red)
$custom-theme: mat-light-theme((color: (primary: $primary-color, accent: $accent-color, warn: $warn-color)))

@include mat-core($custom-typography)

//@include angular-material-theme($theme)
@include _mat-check-duplicate-theme-styles($custom-theme, 'angular-material-theme')
  @include mat-core-theme($custom-theme)
  @include mat-button-color($custom-theme)
  @include mat-table-theme($custom-theme)
  @include mat-datepicker-theme($custom-theme)
  @include mat-dialog-theme($custom-theme)
  @include mat-divider-theme($custom-theme)
  @include mat-expansion-panel-theme($custom-theme)
  @include mat-icon-theme($custom-theme)
  @include mat-select-theme($custom-theme)
  @include mat-sidenav-theme($custom-theme)
  @include mat-sort-theme($custom-theme)
  //@include mat-tabs-theme($custom-theme)
  @include mat-tooltip-theme($custom-theme)
  @include mat-snack-bar-theme($custom-theme)


@import "material/datepicker"
@import "material/table"
@import "material/dialog"
@import "material/tab"

