// Colors
$light-blue: #DBE9FF;
$blue: #1265E5;
$dark-blue: #003D99;
$light-turquoise: #BEFFFF;
$turquoise: #5CE2E2;
$dark-turquoise: #19B6B6;
$light-orange: #FFBDA8;
$orange: #FF764A;
$dark-orange: #E15629;
$light-purple: #CDC0FF;
$purple: #856CE8;
$dark-purple: #5B3FCB;
$light-fuchsia: #FFAFF7;
$fuchsia: #D761CB;
$dark-fuchsia: #AB339F;
$light-green: #BBE5B3;
$green: #50B83C;
$dark-green: #108043;
$light-yellow: #FFEA8A;
$yellow: #EEC200;
$dark-yellow: #C68B20;
$light-red: #FEAD9A;
$red: #DE3618;
$dark-red: #BF0711;
// Neutrals
$white: #FFFFFF;
$gray-1: #F1F3F5;
$gray-2: #E5E9EC;
$gray-3: #D5DCE1;
$gray-4: #A5B2BD;
$gray-5: #748494;
$gray-6: #405261;
$black: #1D2B36;


// Primary Colors
$light-primary: $light-blue;
$primary: $blue;
$dark-primary: $dark-blue;
// Secondary Colors
$light-secondary-one: $light-turquoise;
$secondary-one: $turquoise;
$dark-secondary-one: $dark-turquoise;
$light-secondary-two: $light-orange;
$secondary-two: $orange;
$dark-secondary-two: $dark-orange;
$light-secondary-three: $light-purple;
$secondary-three: $purple;
$dark-secondary-three: $dark-purple;
$light-secondary-four: $light-fuchsia;
$secondary-four: $fuchsia;
$dark-secondary-four: $dark-fuchsia;
// Semantics
$light-success: $light-green;
$success: $green;
$dark-success: $dark-green;
$light-warning: $light-yellow;
$warning: $yellow;
$dark-warning: $dark-yellow;
$light-danger: $light-red;
$danger: $red;
$dark-danger: $dark-red;
