// Colors
$light-blue: #F1FBFF;
$blue: #2697FF;
$dark-blue: #305787;
$light-purple: #E9EAFF;
$purple: #888BFF;
$dark-purple: #696CE1;
$light-orange: #FFEFDC;
$orange: #FF804A;
$dark-orange: #E26742;
$light-turquoise: #E6FDF3;
$turquoise: #16DED2;
$dark-turquoise: #4AB4B7;
$light-sky-blue: #E3FFFD;
$sky-blue: #2FCDFF;
$dark-sky-blue: #49A7D0;
$light-fuchsia: #FFE5E1;
$fuchsia: #FF698B;
$dark-fuchsia: #B7346B;
$light-green: #F0FCD3;
$green: #79CC26;
$dark-green: #4E9F0B;
$light-yellow: #FFF8DC;
$yellow: #FFC452;
$dark-yellow: #CE9440;
$light-red: #FEEEE2;
$red: #FE604C;
$dark-red: #D93B36;
// Neutrals
$white: #FFFFFF;
$gray-0: #F9FAFB;
$gray-1: #F4F6F7;
$gray-2: #E9ECEE;
$gray-3: #CBD2D9;
$gray-4: #7E8FA0;
$gray-5: #576775;
$gray-6: #3F4C58;
$black: #1D2B36;


// Primary Colors
$light-primary: $light-blue;
$primary: $blue;
$dark-primary: $dark-blue;
$light-secondary: $light-purple;
$secondary: $purple;
$dark-secondary: $dark-purple;
// Complementary Colors
$light-complementary-one: $light-orange;
$complementary-one: $orange;
$dark-complementary-one: $dark-orange;
$light-complementary-two: $light-turquoise;
$complementary-two: $turquoise;
$dark-complementary-two: $dark-turquoise;
$light-complementary-three: $light-sky-blue;
$complementary-three: $sky-blue;
$dark-complementary-three: $dark-sky-blue;
// Semantics
$light-success: $light-green;
$success: $green;
$dark-success: $dark-green;
$light-warning: $light-yellow;
$warning: $yellow;
$dark-warning: $dark-yellow;
$light-danger: $light-red;
$danger: $red;
$dark-danger: $dark-red;
