//FONT FAMILY
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: 'Inter', $font-family-sans-serif;

//FONT STYLE
$font-style-normal: normal;
$font-style-italic: italic;

//LETTER SPACING
$letter-spacing-regular: 0.2px;

//LINE HEIGHT
$line-height-regular: 16px;
$line-height-medium: 24px;
$line-height-h1: 36px;
$line-height-h2: 34px;
$line-height-h3: 32px;
$line-height-h4: 30px;
$line-height-h5: 28px;
$line-height-h6: 24px;
$line-height-body-1: 22px;
$line-height-body-2: 20px;
$line-height-body-3: 18px;
$line-height-body-4: 16px;
$line-height-body-5: 14px;
$line-height-link-1: 22px;
$line-height-link-2: 20px;
$line-height-link-3: 18px;
$line-height-link-4: 16px;
$line-height-link-5: 14px;

//FONT WEIGHT
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-weight-base: $font-weight-regular;

//FONT SIZE
$font-size-h1: 1.75rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.375rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.125rem;
$font-size-h6: 1rem;
$font-size-body-1: 0.875rem;
$font-size-body-2: 0.8125rem;
$font-size-body-3: 0.75rem;
$font-size-body-4: 0.625rem;
$font-size-body-5: 0.5rem;
$font-size-link-1: 0.875rem;
$font-size-link-2: 0.8125rem;
$font-size-link-3: 0.75rem;
$font-size-link-4: 0.625rem;
$font-size-link-5: 0.5rem;
$font-size-marked-1: 0.75rem;
$font-size-tag: 0.625rem;
$font-size-base: 1rem;
