@use 'sass:math'

/**Breakpoints*/
$grid-breakpoints: (xs: 0, sm: 360px, md: 768px, lg: 1024px, xlg: 1366px, xl: 1440px, xxl: 1920px)
$container-max-widths: (sm: 360px, md: 768px, lg: 1024px, xlg: 1366px, xl: 1440px, xxl: 1920px)

/**Columns**/
$grid-columns: 12

/**Gutter**/
$grid-gutter-width: 16px

/**Container Padding**/
$container-padding-x: 35px
$container-xxl-padding-x: 24px

/**Content Padding**/
$content-padding-x: 24px
$content-xxl-padding-x: $content-padding-x
