/**Breakpoints*/
$grid-breakpoints: (xs: 0, sm: 360px, md: 768px, lg: 1024px, xl: 1366px)
$container-max-widths: (sm: 360px, md: 768px, lg: 1024px, xl: 1366px)

$container-padding-width: 40px
$content-padding-width: 40px

$grid-columns: 12
$grid-gutter-width: 40px
$grid-content-gutter-width: $grid-gutter-width
