/**Breakpoints*/
$grid-breakpoints: (xs: 0, sm: 360px, md: 768px, lg: 1024px, xl: 1366px)
$container-max-widths: (sm: 360px, md: 768px, lg: 1024px, xl: 1366px)

$grid-columns: 12
$grid-gutter-width: 40px
$grid-responsive-gutter-width: $grid-gutter-width / 2
$grid-content-gutter-width: $grid-gutter-width

$container-padding-x: $grid-gutter-width
$content-padding-x: $grid-gutter-width
$container-responsive-padding-x: $grid-responsive-gutter-width
$content-responsive-padding-x: $grid-responsive-gutter-width
