@import "src/sass/functions";

$main-colors-map: (
  "light-primary": $light-primary,
  "primary": $primary,
  "primary-50": $primary-50,
  "primary-60": $primary-60,
  "primary-70": $primary-70,
  "dark-primary": $dark-primary,
  "light-secondary": $light-secondary,
  "secondary": $secondary,
  "dark-secondary": $dark-secondary,
);
$complementary-colors-map: (
  "light-complementary-one": $light-complementary-one,
  "complementary-one": $complementary-one,
  "dark-complementary-one": $dark-complementary-one,
  "light-complementary-two": $light-complementary-two,
  "complementary-two": $complementary-two,
  "dark-complementary-two": $dark-complementary-two,
  "light-complementary-three": $light-complementary-three,
  "complementary-three": $complementary-three,
  "dark-complementary-three": $dark-complementary-three,
  "light-complementary-four": $light-complementary-four,
  "complementary-four": $complementary-four,
  "dark-complementary-four": $dark-complementary-four,
);

$neutral-colors-map: (
  "white": $white,
  "gray-0": $gray-0,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "gray-3": $gray-3,
  "gray-4": $gray-4,
  "gray-5": $gray-5,
  "gray-50": $gray-50,
  "gray-6": $gray-6,
  "gray-7": $gray-7,
  "gray-90": $gray-90,
  "black": $black,
);

$neutral-omni-colors-map: (
  "neutral-0": $neutral-0,
  "neutral-10": $neutral-10,
  "neutral-20": $neutral-20,
  "neutral-30": $neutral-30,
  "neutral-40": $neutral-40,
  "neutral-50": $neutral-50,
  "neutral-60": $neutral-60,
  "neutral-70": $neutral-70,
  "neutral-80": $neutral-80,
  "neutral-90": $neutral-90,
  "neutral-100": $neutral-100
);

$semantic-colors-map: (
  "light-success": $light-success,
  "success": $success,
  "dark-success": $dark-success,
  "light-warning": $light-warning,
  "warning": $warning,
  "dark-warning": $dark-warning,
  "light-danger": $light-danger,
  "danger": $danger,
  "dark-danger": $dark-danger,
);

$brand-colors-map: (
  "inkafarma": $inkafarma,
  "mifarma": $mifarma,
);

$colors: map-collect(
  $main-colors-map,
  $complementary-colors-map,
  $semantic-colors-map,
  $neutral-colors-map,
  $neutral-omni-colors-map,
  $brand-colors-map
);
$theme-colors: map-collect(
  $main-colors-map,
  $complementary-colors-map,
  $semantic-colors-map,
  $neutral-colors-map,
  $neutral-omni-colors-map,
  $brand-colors-map
);
