.container-item-capacity-edition {
  display: flex;
  width: 100%;
  padding: 15px 0px;
  justify-content: center;
  align-items: center;

  .d-segement-hours {
    font-weight: bold;
    font-size: 11.83111px;
    line-height: 100%;
    width: 50%;
  }

  .text-input-container {
    width: 20%;

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    .text-input {
      width: 100%;
      height: 35px;

      &--s {
        height: 32px;
      }

      &--m {
        height: 36px;
      }

      &--l {
        height: 40px;
      }
    }

    .text-input-error {
      width: 100%;
    }
  }

}
