<form [formGroup]="frm" style="display: flex; justify-content: center;">
  <div class="container-item-capacity-edition">
    <div class="d-segement-hours">{{item.scheduleSegment}}</div>
    <div class="d-space-text">
      <div class="text-input-container" [ngStyle]="{'margin-bottom': marginBottom ? marginBottom : '0px'}" [ngClass]="{
        'dn': customClass ? customClass : ''
      }">
        <div class="text-input-label">
          {{ label }}
        </div>
        <input type="number" class="text-input" [ngClass]="{
          'text-input--s': size === 's',
          'text-input--m': size === 'm',
          'text-input--l': size === 'l'
        }" maxlength="100" [value]="value.value" (input)="changeInput($event.target)" [placeholder]="placeholder"
          autocomplete="none" formControlName="schedule" >
        <div class="text-input-error" *ngIf="hasErrorMessage && errorMessage">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</form>
