.container-item-capacity-edition {
  display: flex;
  width: 151px;
  justify-content: center;
  padding: 15px;

  .d-segement-hours {
    display: flex;
    align-items: center;
    padding-right: 14px;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 11.83111px;
    line-height: 100%;
  }

  .d-space-text {
    width: 40px;

    .text-input-container {
      width: 100%;

      .text-input-label {
        width: 100%;
        font-size: 12px;
      }

      .text-input {
        width: 100%;
        padding-left: 6px;

        &--s {
          height: 32px;
        }

        &--m {
          height: 36px;
        }

        &--l {
          height: 40px;
        }
      }

      .text-input-error {
        width: 100%;
      }
    }
  }



}
