<form [formGroup]="frm">
  <div class="container-item-capacity-edition">
    <div class="d-segement-hours">{{item.scheduleSegment}}</div>
    <div class="text-input-container">
      <input type="number" class="text-input" maxlength="2" [value]="value" (input)="changeInput($event.target)"
        [placeholder]="placeholder" inputNumberCapacity autocomplete="none" formControlName="schedule">
      <div class="text-input-error" *ngIf="hasErrorMessage && errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</form>
