<app-card-step
  [title]="getTitle"
  icon="papers"
  (next)="nextStep($event)"
  (cancel)="cancelStep($event)"
  innerClass="w-90"
  textButtonNext="Guardar cambios"
  textButtonCancel="Regresar"
>
  <div class="mt-5 mb-5">
    <app-tab-group>
      <app-tab *ngIf="ampm && ampm.length > 0" label="AM/PM">
        <!-- <div>
          <p class="d-block text-h5 text-black mt-6 mb-5">
            Selecciona los servicios para cargar las capacidades:
          </p>
          <div>
            <p>Nro. de transportistas</p>
            <div class="d-flex justify-content-lg-start">
              <app-input-number
                placeholder="90"
                labelClass="ml-4"
                class="input-num"
                #inputAmpm
              ></app-input-number>
              <app-button (clicked)="setManyAmpm()" appearance="outline"
                >Aplicar selección</app-button
              >
            </div>
          </div>
          <div class="mt-4">
            <table
              mat-table
              large-table
              [dataSource]="ampm"
              class="order-table"
            >
              <ng-container matColumnDef="seleccion">
                <th mat-header-cell *matHeaderCellDef column-width="5%">
                  <app-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                  >
                  </app-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <app-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                  >
                  </app-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="horario">
                <th class="text-center" mat-header-cell *matHeaderCellDef>
                  Bloque horario
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  {{ element.segment }}
                </td>
              </ng-container>
              <ng-container matColumnDef="capacidad">
                <th
                  class="text-center"
                  mat-header-cell
                  *matHeaderCellDef
                  column-width="20%"
                >
                  Capacidad
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  <app-input-number
                    placeholder="0"
                    (change)="changeAmpm($event, element)"
                    [value]="element.capacity"
                  ></app-input-number>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                row-hover
                *matRowDef="let row; columns: displayedColumns"
              ></tr>
            </table>
          </div>
          <div class="text-center">
            <p class="total-capacity">
              Capacidad total {{ getTotalCapacityAmpm }}
            </p>
          </div>
        </div> -->
        <app-op-capacities-upload-edit-ampm></app-op-capacities-upload-edit-ampm>
      </app-tab>
      <app-tab *ngIf="scheduled && scheduled.length > 0" label="Programado">
        <!-- <div>
          <p class="d-block text-h5 text-black mt-6 mb-5">
            Selecciona los servicios para cargar las capacidades:
          </p>

          <div>
            <p>Nro. de transportistas</p>
            <div class="d-flex justify-content-lg-start">
              <app-input
                placeholder="90"
                labelClass="w-20 ml-4"
                class="input-num"
              ></app-input>
              <app-button appearance="outline">Aplicar selección</app-button>
            </div>
          </div>
          <div class="mt-4">
            <table
              mat-table
              large-table
              [dataSource]="scheduled"
              class="order-table"
            >
              <ng-container matColumnDef="seleccion">
                <th mat-header-cell *matHeaderCellDef column-width="5%">
                  <app-checkbox> </app-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <app-checkbox> </app-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="horario">
                <th class="text-center" mat-header-cell *matHeaderCellDef>
                  Bloque horario
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  {{ element.segment }}
                </td>
              </ng-container>
              <ng-container matColumnDef="capacidad">
                <th
                  class="text-center"
                  mat-header-cell
                  *matHeaderCellDef
                  column-width="20%"
                >
                  Capacidad
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  <app-input-number
                    placeholder="0"
                    (change)="changeAmpm($event, element)"
                    [value]="element.capacity"
                  ></app-input-number>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                row-hover
                *matRowDef="let row; columns: displayedColumns"
              ></tr>
            </table>
          </div>
        </div> -->
        <app-op-capacities-upload-edit-scheduled></app-op-capacities-upload-edit-scheduled>
      </app-tab>
      <app-tab *ngIf="express && express.length > 0" label="Express">
        <!-- <div>
          <p class="d-block text-h5 text-black mt-6 mb-5">
            Selecciona los servicios para cargar las capacidades:
          </p>

          <div>
            <p>Nro. de transportistas</p>
            <div class="d-flex justify-content-lg-start">
              <app-input
                placeholder="90"
                labelClass="w-20 ml-4"
                class="input-num"
              ></app-input>
              <app-button appearance="outline">Aplicar selección</app-button>
            </div>
          </div>
          <div class="mt-4">
            <table
              mat-table
              large-table
              [dataSource]="express"
              class="order-table"
            >
              <ng-container matColumnDef="seleccion">
                <th mat-header-cell *matHeaderCellDef column-width="5%">
                  <app-checkbox> </app-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <app-checkbox> </app-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="horario">
                <th class="text-center" mat-header-cell *matHeaderCellDef>
                  Bloque horario
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  {{ element.segment }}
                </td>
              </ng-container>
              <ng-container matColumnDef="capacidad">
                <th
                  class="text-center"
                  mat-header-cell
                  *matHeaderCellDef
                  column-width="20%"
                >
                  Capacidad
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  <app-input-number
                    placeholder="0"
                    (change)="changeAmpm($event, element)"
                    [value]="element.capacity"
                  ></app-input-number>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                row-hover
                *matRowDef="let row; columns: displayedColumns"
              ></tr>
            </table>
          </div>
        </div> -->
        <app-op-capacities-upload-edit-express></app-op-capacities-upload-edit-express>
      </app-tab>
      <app-tab *ngIf="ret && ret.length > 0" label="RET">
        <!-- <div>
          <p class="d-block text-h5 text-black mt-6 mb-5">
            Selecciona los servicios para cargar las capacidades:
          </p>

          <div>
            <p>Nro. de transportistas</p>
            <div class="d-flex justify-content-lg-start">
              <app-input
                placeholder="90"
                labelClass="w-20 ml-4"
                class="input-num"
              ></app-input>
              <app-button appearance="outline">Aplicar selección</app-button>
            </div>
          </div>
          <div class="mt-4">
            <table mat-table large-table [dataSource]="ret" class="order-table">
              <ng-container matColumnDef="seleccion">
                <th mat-header-cell *matHeaderCellDef column-width="5%">
                  <app-checkbox> </app-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <app-checkbox> </app-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="horario">
                <th class="text-center" mat-header-cell *matHeaderCellDef>
                  Bloque horario
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  {{ element.segment }}
                </td>
              </ng-container>
              <ng-container matColumnDef="capacidad">
                <th
                  class="text-center"
                  mat-header-cell
                  *matHeaderCellDef
                  column-width="20%"
                >
                  Capacidad
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">
                  <app-input-number
                    placeholder="0"
                    (change)="changeAmpm($event, element)"
                    [value]="element.capacity"
                  ></app-input-number>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                row-hover
                *matRowDef="let row; columns: displayedColumns"
              ></tr>
            </table>
          </div>
        </div> -->
        <app-op-capacities-upload-edit-ret></app-op-capacities-upload-edit-ret>
      </app-tab>
    </app-tab-group>
  </div>
</app-card-step>
