@import 'src/sass/variables';
@import 'src/sass/mixins/text.mixin';
@import 'src/sass/mixins/display.mixin';

.paginator-container {
  display: inline-flex;
  align-items: center;
  gap: 1rem;

  .paginator-particle-container {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    .paginator-particle {
      @include d-flex-center;
      @include text-body-2-regular;
      cursor: pointer;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      color: $neutral-100;
      user-select: none;

      &:hover {
        background-color: $neutral-10;
      }

      &.selected {
        background-color: $secondary-50;
        color: $neutral-0;
        @include text-body-2-bold;
      }

    }
  }
}
