<div class="row d-content-title-home">
  <div class="subTitle-module-home"> <img src="../../../assets/img/vector-left.png" alt=""> VOLVER A OPCIONES</div>
  <div class="title-module-home">Editar capacidad Express</div>
</div>


<mat-accordion>
  <div class="group-or-local-step1">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="number-action-capacity-one">
            1
          </div>
          <div class="number-action-capacity-two">
            GRUPO O LOCAL
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="number-action-capacity-two">

          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="d-section-description">
        <div class="d-group-buttons">
          <mat-button-toggle-group>
            <mat-button-toggle value="group">Grupo</mat-button-toggle>
            <mat-button-toggle value="local">Local</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="d-implements-dropdown">
          <app-dropdown formControlName="dropdow"></app-dropdown>
        </div>
      </div>
      <div class="d-buttons-action-save">
        <div class="d-buttons-implements-save">
          <p class="button-style">
            Cancelar edición
          </p>
        </div>
        <div class="d-buttons-implements-save">
          <p class="button-style">
            Continuar
          </p>
        </div>
      </div>
    </mat-expansion-panel>
  </div>


  <div class="group-or-local-step2">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="number-action-capacity-one">
            2
          </div>
          <div class="number-action-capacity-two">
            MODO DE EDICIÓN
          </div>
        </mat-panel-title>
        <mat-panel-description>
          editar
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="encapsulate-cards">

        <div class="card-checkbox-one">
          <app-radio-control></app-radio-control>
          <div class="title-card">Por defecto</div>
          <div class="subtitle-card">Capacidad defauld para un día</div>
        </div>
        <div class="card-checkbox-two">
          <app-radio-control></app-radio-control>
          <div class="title-card">Calendario</div>
          <div class="subtitle-card">Capacidad Programada</div>
        </div>

      </div>
      <div class="d-buttons-action-save">
        <div class="d-buttons-implements-save">
          <p class="button-style">
            Cancelar edición
          </p>
        </div>
        <div class="d-buttons-implements-save">
          <p class="button-style">
            Continuar
          </p>
        </div>
      </div>
    </mat-expansion-panel>

  </div>

  <div class="group-or-local-step3">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="number-action-capacity-one">
            3
          </div>
          <div class="number-action-capacity-two">
            CAPACIDAD
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="number-action-capacity-two">

          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="d-section-description">

      </div>
    </mat-expansion-panel>

  </div>


</mat-accordion>
