<section class="operations-home-container pt-6 pt-md-12 pb-8 pb-md-15">
    <div class="row mb-9">
        <div class="col">
            <h1 class="text-h3 text-black mb-5">Hola {{user?.name}},</h1>
            <p class="text-subtitle-1 text-gray-6">
                ¡Gestiona ahora los perfiles del administrador de operaciones!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-6 mb-4">
            <app-router [router]="routerPath.administratorUsers">
                <app-card-action cardIconSVG="avatar">
                    <span card-title>Administrar usuarios</span>
                    <span card-description>
                        Visualiza, crea y edita todos los perfiles, asigna roles y accesos.
                    </span>
                </app-card-action>
            </app-router>
        </div>
    </div>
</section>
