@import 'src/sass/variables/colors';

section {
  padding: 10px 100px;
}

.d-content-title-home {
  display: flex;
  margin-left: 9px;
  margin-bottom: 20px;
  flex-direction: column;

  .subTitle-module-home {
    font-family: Inter;
    font-style: normal;
    font-size: 10px;
    line-height: 100%;
    color: $gray-5;
    margin: 30px 0px;
    cursor: pointer;
  }
}

.section-general {
  display: flex;

  .section-one {
    .group-or-local-step1 {
      width: 400px;
      margin: 10px 16px 24px 10px;

      .number-action-capacity-one {
        padding: 10px 14px;
        background: $primary;
        border-radius: 5px;
        font-family: Inter;
        color: $white;
      }

      .number-action-capacity-one-disabled {
        padding: 10px 14px;
        background: $gray-6;
        border-radius: 5px;
        font-family: Inter;
        color: $white;
      }

      .number-action-capacity-two {
        padding: 10px;
        color: $primary;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: center;
      }

      .number-action-capacity-two-disabled {
        padding: 10px;
        color: $gray-6;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: center;
      }

      .number-action-capacity-description {
        padding: 10px;
        color: $dark-primary;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: center;
      }

      .d-section-description {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $gray-1;
        border-bottom: 1px solid $gray-1;
        padding: 22px 0px;

        .d-group-buttons {
          margin-right: 10px;
        }

        .d-implements-dropdown {
          width: 200px;
          display: flex;
          align-items: center;
        }
      }

      .d-buttons-action-save {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;

        .d-buttons-implements-save {
          display: flex;
          justify-content: center;
          width: 35%;
          margin: 0px 10px 0px 10px;

          .button-style {
            font-family: Inter;
            font-size: 12px;
            padding: 11px;
            border-radius: 11px;
            margin: 0px;
            background: $gray-1;
            cursor: pointer;
            color: $gray-6;

            &.disabled-button {
              opacity: 0.3;
            }

            &:focus {
              background-color: $primary;
            }
          }
        }
      }
    }


    .group-or-local-step2 {
      width: 400px;
      margin: 10px 16px 24px 10px;

      .number-action-capacity-one {
        padding: 10px 14px;
        background: $primary;
        border-radius: 5px;
        font-family: Inter;
        color: $white;
      }

      .number-action-capacity-one-disabled {
        padding: 10px 14px;
        background: $gray-6;
        border-radius: 5px;
        font-family: Inter;
        color: $white;
      }


      .number-action-capacity-two {
        padding: 10px;
        color: $primary;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: center;
      }

      .number-action-capacity-two-disabled {
        padding: 10px;
        color: $gray-6;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: center;
      }

      .number-action-capacity-description {
        padding: 10px;
        color: $dark-primary;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .encapsulate-cards {
        display: flex;
        border-top: 1px solid $gray-1;
        border-bottom: 1px solid $gray-1;
        padding-top: 22px;
        padding-bottom: 10px;

        .card-checkbox-one {
          border: 1px solid $gray-3;
          border-radius: 10px;
          margin-right: 10px;
          width: 175px;
          padding: 10px 10px 25px 10px;

          .title-card {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            color: $gray-4;
            text-align: center;
            padding-bottom: 4px;
          }

          .subtitle-card {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            color: $gray-4;
            text-align: center;
            padding: 0px 10px;
          }
        }

        .card-checkbox-two {
          border: 1px solid $gray-3;
          border-radius: 10px;
          padding: 10px;

          .title-card {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            color: $gray-4;
            text-align: center;
            padding-bottom: 4px;
          }

          .subtitle-card {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            color: $gray-4;
            text-align: center;
            padding: 0px 10px;
          }
        }
      }

      .d-buttons-action-save {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;

        .d-buttons-implements-save {
          display: flex;
          justify-content: center;
          width: 35%;
          margin: 0px 10px 0px 10px;

          .button-style {
            font-family: Inter;
            font-size: 12px;
            padding: 11px;
            border-radius: 11px;
            margin: 0px;
            background: $gray-1;
            cursor: pointer;
            color: $gray-6;

            &.disabled-button {
              opacity: 0.3;
            }

            &.focus {
              background-color: $primary;
            }
          }
        }
      }

    }
  }

  .section-two {
    .group-or-local-step3 {
      width: 400px;
      margin: 10px 16px 24px 10px;

      .number-action-capacity-one {
        padding: 10px 14px;
        background: $primary;
        border-radius: 5px;
        font-family: Inter;
        color: $white;
      }

      .number-action-capacity-one-disabled {
        padding: 10px 14px;
        background: $gray-6;
        border-radius: 5px;
        font-family: Inter;
        color: $white;
      }

      .number-action-capacity-two {
        padding: 10px;
        color: $primary;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: center;
      }

      .number-action-capacity-two-disabled {
        padding: 10px;
        color: $gray-6;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: center;
      }

      .d-section-descriptions-step3 {

        justify-content: space-between;
        border-top: 1px solid $gray-1;
        border-bottom: 1px solid $gray-1;
        padding: 22px 0px;

        .section-calendar {
          width: 100px;
        }

        .section-default {
          display: flex;
          margin-bottom: 18px;

          .d-inputs {
            display: flex;

            .d-input-one {
              width: 150px;
              margin-right: 20px;
            }

            .d-input-two {
              width: 150px;
            }
          }
        }
      }

      .d-buttons-action-save {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;

        .d-buttons-implements-save {
          display: flex;
          justify-content: center;
          width: 35%;
          margin: 0px 10px 0px 10px;

          .button-style {
            font-family: Inter;
            font-size: 12px;
            padding: 11px;
            border-radius: 11px;
            margin: 0px;
            background: $gray-1;
            cursor: pointer;
            color: $gray-6;

            &.disabled-button {
              opacity: 0.3;
            }

            &:focus {
              background-color: $primary;
            }
          }
        }
      }
    }
  }
}
