<section class="operations-capacity-scheduled">
  <div class="row mb-4">
    <div class="col">
      <app-back-router>Opciones</app-back-router>
    </div>
  </div>

  <div class="row mb-9">
    <div class="col">
      <h1 class="text-h3 text-black mb-5">Editar capacidad Programada</h1>
    </div>
  </div>


  <mat-accordion>
    <div class="row">
      <div class="col-12 col-xl-6 mb-4 mb-xl-0">
        <div class="row">
          <div class="col-12 mb-4">
            <app-operations-capacities-step-group-or-local>
            </app-operations-capacities-step-group-or-local>
          </div>

          <div class="col-12">
            <app-operations-capacities-step-edition-mode>
            </app-operations-capacities-step-edition-mode>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-6">
        <app-operations-capacities-step-scheduled-capacity>
        </app-operations-capacities-step-scheduled-capacity>
      </div>
    </div>
  </mat-accordion>
</section>
