.container-table-body-capacity-edition {
  width: 100%;
  margin-bottom: 20px;
  height: 1041px;
  background-color: white;

  .d-block-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  }

  .d-item-capacity-edition {
    width: 100%;
    columns: 4;
  }


}

.container-footer {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;

  .quantity-total {
    width: 50%;
    font-family: Muli;
    font-size: 19.935px;
  }

  .d-return-page {
    width: 25%;
    cursor: pointer;
    font-family: Muli;
    font-size: 16px;
    color: #16A2FF;
    display: flex;
    justify-content: flex-end;
  }

  .d-save-capacity {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: flex-end;

    .button-capacity-style {
      font-family: Muli;
      font-size: 12px;
      border: 1px solid #1B8F43;
      padding: 13px;
      border-radius: 25px;
      margin: 0px;
      background: #1B8F43;
      cursor: pointer;
      color: #FFFFFF;
    }
  }
}
