<div class="table-type-operation">
  <app-table-operation-type-section></app-table-operation-type-section>
</div>
<div class="container-table-body-capacity-edition">
  <div class="class">
    <app-table-title-header-capacity-edition>

    </app-table-title-header-capacity-edition>
  </div>
  <div class="d-block-container">
    <app-table-block-capacity-edition>

    </app-table-block-capacity-edition>
    <app-table-block-capacity-edition>

    </app-table-block-capacity-edition>
    <app-table-block-capacity-edition>

    </app-table-block-capacity-edition>
    <app-table-block-capacity-edition>

    </app-table-block-capacity-edition>
  </div>
  <div class="d-item-capacity-edition">
    <app-table-item-capacity-edition></app-table-item-capacity-edition>
  </div>
</div>