<form [formGroup]="capacityForms.form">
  <div class="table-type-operation">
    <app-table-operation-type-section (typeOperation)="valueNumberArray($event)"
      [showTypeOperations]="quantityOperations">
    </app-table-operation-type-section>
  </div>
  <div class="container-table-body-capacity-edition">
    <div class="">
      <app-table-title-header-capacity-edition>
      </app-table-title-header-capacity-edition>
    </div>
    <div class="d-block-container">
      <div *ngFor="let schedule of scheduleBlock">
        <app-table-block-capacity-edition [block]="schedule">
        </app-table-block-capacity-edition>
      </div>
    </div>
    <div class="d-item-capacity-edition">
      <div [hidden]="pageRad" class="item-columns">
        <div *ngFor="let segments of capacityForms.timeSegment01Array.controls; let i = index">
          <app-table-item-capacity-edition [frm]="segments"></app-table-item-capacity-edition>
        </div>
      </div>
      <div [hidden]="pageRet">
        <div *ngFor="let segments of capacityForms.timeSegment02Array.controls; let i = index">
          <app-table-item-capacity-edition [frm]="segments"></app-table-item-capacity-edition>
        </div>
      </div>
    </div>
  </div>

  <div class="container-footer">
    <div class="quantity-total">
      Capacidad Total del día: <strong class="quantity-total-value">{{quantityTotal}}</strong>
    </div>

    <div class="d-return-page" (click)="return()">
      <strong>volver a calendario</strong>
    </div>

    <div class="d-save-capacity">
      <p (click)="save()" class="button-capacity-style">Guardar Cambios</p>
    </div>
  </div>
</form>
