<form [formGroup]="capacityForms.form">
  <div class="table-type-operation">
    <app-table-operation-type-section (typeOperation)="valueNumberArray($event)"
      [showTypeOperations]="quantityOperations" [showActiveCapacityDefault]="showActiveCapacityDefault">
    </app-table-operation-type-section>
  </div>
  <div class="container-table-body-capacity-edition">
    <div>
      <app-table-title-header-capacity-edition [order]="quantityOrders" [type]="typeOperation"
        [totalCapacity]="totalCapacity">
      </app-table-title-header-capacity-edition>
    </div>
    <div class="d-block-container">
      <div *ngFor="let schedule of scheduleBlock">
        <app-table-block-capacity-edition [block]="schedule">
        </app-table-block-capacity-edition>
      </div>
    </div>
    <div class="d-item-capacity-edition">
      <div [hidden]="pageRad" class="item-columns">
        <div *ngFor="let segments of capacityForms.timeSegment01Array.controls; let i = index">
          <app-table-item-capacity-edition [frm]="segments"></app-table-item-capacity-edition>
        </div>
      </div>
    </div>
    <div class="d-item-capacity-edition">
      <div [hidden]="pageRet" class="item-columns">
        <div *ngFor="let segments of capacityForms.timeSegment02Array.controls; let i = index">
          <app-table-item-capacity-edition [frm]="segments"></app-table-item-capacity-edition>
        </div>
      </div>
    </div>
  </div>

  <div class="container-footer">
    <div class="quantity-total" *ngIf="typeOperation === 'RAD'">
      <span *ngIf="showActiveCapacityDefault">
        Nueva capacidad del mes: <strong class="quantity-total-value">{{quantityTotalRAD}}</strong>
      </span>
      <span *ngIf="!showActiveCapacityDefault">
        Nueva capacidad del día: <strong class="quantity-total-value">{{quantityTotalRAD}}</strong>
      </span>
    </div>
    <div class="quantity-total" *ngIf="typeOperation === 'RET'">
      <span *ngIf="showActiveCapacityDefault">
        Nueva capacidad del mes: <strong class="quantity-total-value">{{quantityTotalRET}}</strong>
      </span>
      <span *ngIf="!showActiveCapacityDefault">
        Nueva capacidad del día: <strong class="quantity-total-value">{{quantityTotalRET}}</strong>
      </span>
    </div>

    <div class="d-return-page" (click)="return()">
      <strong>volver a calendario</strong>
    </div>

    <div class="d-save-capacity">
      <p (click)="saveRAD()" class="button-capacity-style" *ngIf="typeOperation === 'RAD'">Guardar Cambios</p>
      <p (click)="saveRET()" class="button-capacity-style" *ngIf="typeOperation === 'RET'">Guardar Cambios</p>
    </div>
  </div>
</form>
