.container-table-body-capacity-edition {
  width: 100%;
  height: 1050px;
  background-color: white;

  .d-block-container {
    display: flex;
    margin: 30px 0px;
    justify-content: space-around;
  }

  .d-item-capacity-edition {
    width: 100%;
    columns: 4;

    .item-columns :nth-child(odd) {
      /* filas pares */
      background-color: #f5f5f5;
    }

    .item-columns:nth-child(even) {
      /* filas impares */
      background-color: #e5e5e5;
    }

  }


}

.container-footer {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 0;
  margin-left: -36px;
  margin-right: -36px;
  padding: 20px 36px;
  background-color: white;
  box-shadow: -4px -1px 6px rgba(102, 102, 102, 0.3);

  .quantity-total {
    width: 50%;
    font-family: Muli;
    font-size: 19.935px;
    display: flex;
    align-items: center;
    .quantity-total-value {
      margin-left: 12px;
    }
  }

  .d-return-page {
    width: 25%;
    cursor: pointer;
    font-family: Muli;
    font-size: 16px;
    color: #16A2FF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .d-save-capacity {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: flex-end;

    .button-capacity-style {
      font-family: Muli;
      font-size: 12px;
      border: 1px solid #1B8F43;
      padding: 13px;
      border-radius: 25px;
      margin: 0px;
      background: #1B8F43;
      cursor: pointer;
      color: #FFFFFF;
    }
  }
}
