.container-table-body-capacity-edition {
  width: 100%;
  margin-bottom: 20px;
  height: 1375px;
  background-color: white;

  .d-block-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  }

  .d-item-capacity-edition {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
