.steper--header {
  height: 70px;
}

.steper--steep {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 2px solid #d5dce1;
  text-align: center;
  border-radius: 50%;
  position: relative;
  margin: 0 2.3rem;
  // cursor: pointer;
  // max-height: 24px;
  .content-icon {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon {
      // width: 16px;
      // height: 16px;
    }
  }
  span,
  mat-icon {
    color: #d5dce1;
    // width: 24px;
    // height: 24px;
  }
  mat-icon {
    transform: scale(0.8);
  }
  > span {
    font-size: 0.8rem;
    position: absolute;
    bottom: -1.8rem;
    width: 120px;
  }
  > div {
    span {
      font-weight: 600;
      color: #d5dce1;
    }
  }
  &::before {
    content: "";
    background: #d5dce1;
    position: absolute;
    width: 70px;
    height: 1.5px;
    border-radius: 5px;
    left: -100px;
    background: #2697ff;
  }
  &.first {
    &::before {
      display: none;
    }
  }
  &.step-active,
  &.current {
    background: #2697ff;
    border: 2px solid #2697ff;
    div {
      span,
      mat-icon {
        color: #fff;
      }
    }
    .steper--label {
      color: #2697ff;
      min-width: 120px;
    }
    &::before {
      background: #2697ff;
    }
  }
  &.current {
    .steper--label {
      font-weight: 600;
      min-width: 120px;
    }
  }
}
.content-step-c {
  width: 25%;
  display: flex;
  justify-content: center;
}
.steper--steep {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #d5dce1;
  text-align: center;
  border-radius: 50%;
  position: relative;
  margin: 0 2.3rem;
  cursor: pointer;
  span,
  mat-icon {
    color: #d5dce1;
  }
  mat-icon {
    transform: scale(0.8);
  }
  > span {
    font-size: 0.8rem;
    position: absolute;
    bottom: -1.8rem;
  }
  > div {
    span {
      font-weight: 600;
      color: #d5dce1;
    }
  }
  &::before {
    content: "";
    background: #d5dce1;
    position: absolute;
    width: 52px;
    height: 3px;
    border-radius: 5px;
    left: -66px;
    background: #2697ff;
  }
  &.first {
    &::before {
      display: none;
    }
  }

  &.last {
    background: rgb(78, 196, 243) !important;
    border: 2px solid rgb(78, 196, 243) !important;
    div {
      span,
      mat-icon {
        color: #fff;
      }
    }
    .steper--label {
      color: rgb(78, 196, 243) !important;

      min-width: 120px;
    }
    &::before {
      background: rgb(78, 196, 243) !important;
    }
  }
  &.step-active,
  &.current {
    background: #2697ff;
    border: 2px solid #2697ff;
    div {
      span,
      mat-icon {
        color: #fff;
      }
    }
    .steper--label {
      color: #2697ff;
      min-width: 120px;
    }
    &::before {
      background: #2697ff;
    }
  }
  &.current {
    .steper--label {
      font-weight: 600;
      min-width: 120px;
    }
  }
}

////////////////@at-root
///
///
///
///
///
///
///
@import "src/sass/variables/colors.variable";
@import "src/sass/variables/fonts.variable";
@import "src/sass/variables/utilities.variable";

:host {
  display: block;
  letter-spacing: $letter-spacing-regular;

  .flow {
    display: flex;
    align-items: center;

    .previous-step {
      margin-right: 24px;
    }

    .next-step {
      margin-left: 24px;
    }

    .content {
      padding: 0;
      overflow: hidden;
      scroll-behavior: smooth;

      .steps {
        display: flex;

        .step {
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 190px;
          width: 100%;

          .status {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .line {
              border: 2px solid;
              min-width: 78px;
              width: 100%;

              &-hide {
                border-color: transparent !important;
                background-color: transparent !important;
              }

              &-done {
                border-color: rgb(78, 196, 243);
                background-color: rgb(78, 196, 243);
              }

              &-cancel {
                border-color: $danger;
              }

              &-pending {
                border-color: #f0f2f4;
                background-color: #f0f2f4;
              }

              &-left {
                // margin-right: 4px;
              }

              &-right {
                // margin-left: 4px;
              }
            }

            .icon {
              width: 28px;
              height: 28px;
            }
          }

          .info {
            width: 16px;
            height: 16px;
          }

          p {
            font-weight: 500;
          }
        }
      }
    }
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    app-icon {
      &::ng-deep mat-icon {
        color: $primary;
      }
    }
  }

  .disabled {
    cursor: not-allowed;
    border: 1px solid $gray-4;

    app-icon {
      &::ng-deep mat-icon {
        color: $gray-4;
      }
    }
  }
}

.card-step {
  &-container {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #f4f6f7;
    box-sizing: border-box;
    border-radius: 8px;
  }

  &__header {
    border-bottom: 1px solid #f4f6f7;
    padding-bottom: 16px;
    h2 {
      margin-left: 16px;
    }
  }
}

.disclaimer {
  border: 1px solid #888bff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  p {
    margin-left: 15px;
  }
}
.cmt-4 {
  margin-top: 4px !important;
}

.inpunt-content {
  border: 1px dashed #cbd2d9;
  border-radius: 16px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cmr-5 {
  margin-right: 5px;
}

.container-upload-file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    font-weight: 600;
    color: #2697ff;
    margin-top: 20px;
  }
}

.file-chose {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.drugstore-capacity-select {
  width: 100% !important;
}

:host ::ng-deep .option-container {
  max-height: 200px !important;
}
