<div class="select-tab" [formGroup]="_selectTabFormGroup">
  <ng-container *ngFor="let selectTab of selectTabList">
    <app-radio [radioValue]="selectTab"
               [formControlName]="_selectTabFormControlName"
               radioClass="select-tab-radio"
               class="select-tab-content">
      <ng-container *ngIf="!templateRef">{{selectTab}}</ng-container>
      <ng-template [ngTemplateOutlet]="templateRef"
                   [ngTemplateOutletContext]="{$implicit: selectTab}">
      </ng-template>
    </app-radio>
  </ng-container>
</div>
