<div class="select-tab-container">
    <ng-container *ngFor="let option of optionList">
        <label class="select-tab-label">
            <input
                    type="radio"
                    class="select-tab"
                    name="select-tab"
                    [value]="option"
                    [formControl]="optionControl"
                    (change)="changeSelectTab()">

            <span class="select-tab-content">
                <ng-container *ngIf="!templateRef">{{option}}</ng-container>
                <ng-template [ngTemplateOutlet]="templateRef"
                             [ngTemplateOutletContext]="{$implicit: option}">
                </ng-template>
            </span>
        </label>
    </ng-container>
</div>
