<div class="select-tab">
  <ng-container *ngFor="let selectTab of selectTabList">
    <app-radio [value]="selectTab"
               [(ngModel)]="_selectTabValue"
               (ngModelChange)="changeSelectTabValue()"
               innerClass="select-tab-radio"
               class="select-tab-content">
      <ng-container *ngIf="!templateRef">{{selectTab}}</ng-container>
      <ng-template [ngTemplateOutlet]="templateRef"
                   [ngTemplateOutletContext]="{$implicit: selectTab}">
      </ng-template>
    </app-radio>
  </ng-container>
</div>
