@import "src/sass/variables/colors.variable";
@import "src/sass/mixins/text.mixin";

.select-tab-container {
  flex-wrap: nowrap;
  display: flex;

  .select-tab {
    position: fixed;
    left: 99999px;
    opacity: 0;

    &:checked ~ .select-tab-content {
      background-color: $black;
      border-color: $black;
      color: $white;
      @include text-button
    }

    &[disabled] ~ .select-tab-content {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
    }
  }

  .select-tab-content {
    background-color: $white;
    border: 1px solid $gray-2;
    padding: 12px 14px;
    display: inline-block;
    @include text-label;
  }

  .select-tab-label {
    &:first-child .select-tab-content {
      border-radius: 4px 0 0 4px;
    }

    &:last-child .select-tab-content {
      border-radius: 0 4px 4px 0;
    }
  }
}
