@import "src/sass/variables/colors.variable";

:host .inner-sidenav-navigation-expansion-container {
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 0 0 40px;
  }

  ::ng-deep .inner-sidenav-navigation-expansion-content .inner-sidenav-navigation-expansion-child {
    padding: 13px 0;
    display: block;
    color: $gray-4;

    &:hover {
      color: $gray-6
    }

    &.inner-sidenav-navigation-active {
      color: $primary;
    }
  }
}


:host .inner-sidenav-navigation-expansion-container {
  .inner-sidenav-text {
    color: $gray-6;
    margin-left: 8px;
  }

  .inner-sidenav-navigation-expansion-icon {
    color: $gray-6;
    transition: transform .3s ease-in-out;
    display: inline-flex;
  }

  .inner-sidenav-navigation-expansion-icon-close {
    transform: rotate(180deg);
  }

  .inner-sidenav-navigation-expansion {
    border-radius: 4px;
    background-color: transparent;
    box-shadow: none;

    &:hover {
      background: rgba(0, 61, 153, 0.04);
    }

    .inner-sidenav-navigation-expansion-header {
      background: transparent;
      padding: 12px 16px;
    }

    .mat-expansion-panel-header-description {
      display: flex;
      justify-content: flex-end;
      margin: 0;
    }
  }

  ::ng-deep .inner-sidenav-navigation-expansion-active {
    .inner-sidenav-navigation-expansion {
      background: rgba(0, 61, 153, 0.04);
    }

    .inner-sidenav-text,
    .inner-sidenav-navigation-expansion-icon {
      color: $primary;
    }
  }
}
