
  .item-capacity {
    margin-bottom: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 10.83111px;
    line-height: 100%;
  }
  .time-segment {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12.83111px;
    line-height: 100%;
  }
