//****************************
// COLORS
//****************************

//Grays
$white: #ffffff
$light: #f6f6f6
$light-gray: #f2f2f2
$gray: #d9d9d9
$dark-gray: #b2b2b2
$dark: #737373
$black: #262626

/*Update Readme-colors*/
$green: #1B8F43
$dark-green: #13632E
$yellow: #FEF035
$dark-yellow: #CBBD01

$red: #FF3B72
$dark-red: #DF2156
$blue: #16A2FF
$dark-blue: #0068AD
$purple: #A360E6
$dark-purple: #701EC2
/*UI Colors*/
$success: #7EC626
$warning: #FFBF00
$danger: #E74848


/*Brand Colors*/
$primary: $green
$dark-primary: $dark-green
$secondary: $yellow
$dark-secondary: $dark-yellow
/*Support Colors*/
$support-one: $red
$dark-support-one: $dark-red
$support-two: $blue
$dark-support-two: $dark-blue
$support-three: $purple
$dark-support-three: $dark-purple

