.d-flex-center
  display: flex
  justify-content: center
  align-items: center

.d-flex-vertical-center
  display: flex
  align-items: center

.d-flex-horizontal-center
  display: flex
  justify-content: center

.d-flex-horizontal-end
  display: flex
  justify-content: flex-end
