@import "../variables/_fonts.scss"
.font-weight-regular
  font-weight: $font-weight-regular !important

.font-weight-medium
  font-weight: $font-weight-medium !important


.text-h1
  font-size: $font-size-h1 !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-regular !important
  line-height: $line-height-regular !important
  letter-spacing: $letter-spacing-extra-small !important

.text-h2
  font-size: $font-size-h2 !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-regular !important
  line-height: $line-height-regular !important

.text-h3
  font-size: $font-size-h3 !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-bold !important
  line-height: $line-height-regular !important
  letter-spacing: $letter-spacing-medium !important

.text-h4
  font-size: $font-size-h4 !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-bold !important
  line-height: $line-height-regular !important

.text-h5
  font-size: $font-size-h5 !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-bold !important
  line-height: $line-height-regular !important
  letter-spacing: $letter-spacing-regular !important

.text-subtitle-1
  font-size: $font-size-subtitle-1 !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-regular !important
  line-height: $line-height-regular !important
  letter-spacing: $letter-spacing-regular !important

.text-subtitle-2
  font-size: $font-size-subtitle-2 !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-bold !important
  line-height: $line-height-regular !important
  letter-spacing: $letter-spacing-small !important

.text-body
  font-size: $font-size-body !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-regular !important
  line-height: $line-height-regular !important
  letter-spacing: $letter-spacing-extra-large !important

.text-label
  font-size: $font-size-label !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-regular !important
  line-height: $line-height-regular !important
  letter-spacing: $letter-spacing-regular !important

.text-button
  font-size: $font-size-button !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-bold !important
  line-height: $line-height-regular !important
  letter-spacing: $letter-spacing-regular !important

.text-caption
  font-size: $font-size-caption !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-regular !important
  line-height: $line-height-medium !important
  letter-spacing: $letter-spacing-small !important

.text-tag
  font-size: $font-size-tag !important
  font-style: $font-style-normal !important
  font-weight: $font-weight-bold !important
  line-height: $line-height-regular !important
  letter-spacing: $letter-spacing-large !important
  text-transform: uppercase !important

