<section class="operations-capacity-zones pt-8 pb-15">
    <div class="row mb-4">
        <div class="col">
            <app-back-router>Home</app-back-router>
        </div>
    </div>

    <div class="row mb-10">
        <div class="col">
            <h1 class="text-h3 text-black mb-0">Zonas</h1>
        </div>

        <div class="col-3">
            <app-input-search placeholder="Buscar en lista"
                              [(ngModel)]="searchInput"
                              (ngModelChange)="filterBySearchInput()"></app-input-search>
        </div>
    </div>


    <div class="row">
        <div class="col-12 mb-8" *ngIf="dataSource.data.length">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="selector">
                    <th mat-header-cell customColumn="selector" *matHeaderCellDef>
                        <app-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="rowSelection.hasValue() && isAllSelected()"
                                      [indeterminate]="rowSelection.hasValue() && !isAllSelected()">
                        </app-checkbox>
                    </th>
                    <td mat-cell customColumn="selector" *matCellDef="let row">
                        <app-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? rowSelection.toggle(row) : null"
                                      [checked]="rowSelection.isSelected(row)">
                        </app-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="zoneCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                    <td mat-cell cell-bold *matCellDef="let element">{{element.code}}</td>
                </ng-container>

                <ng-container matColumnDef="zoneName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de zona</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="assignedStore">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Local asignado</th>
                    <td mat-cell *matCellDef="let element">{{element.assignedStore.name}}</td>
                </ng-container>

                <ng-container matColumnDef="serviceType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Despacho</th>
                    <td mat-cell cell-double-text *matCellDef="let element">
                        <ng-container *ngFor="let serviceType of element.serviceTypeList; let last = last">
                            <span>
                                {{serviceTypeName[serviceType]}}
                                <span class="ms-2" *ngIf="!last">-</span>
                            </span>
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="zoneState">
                    <th mat-header-cell header-cell-center *matHeaderCellDef>Estado</th>
                    <td mat-cell cell-center *matCellDef="let element">
                        <app-tag [tagStatus]="element.state ? 'success' : 'error'">
                            {{element.state ? 'activo' : 'inactivo'}}
                        </app-tag>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell customColumn="actions" *matHeaderCellDef></th>
                    <td mat-cell customColumn="actions"
                        *matCellDef="let element">
                        <app-tooltip class="me-4" value="Editar">
                            <app-button-action-icon (click)="editRow(element.code)"
                                                    iconName="edit">
                            </app-button-action-icon>
                        </app-tooltip>
                        <app-tooltip value="Más detalles">
                            <app-button-action-icon (click)="rowDetailDialog(element)"
                                                    iconName="launch">
                            </app-button-action-icon>
                        </app-tooltip>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row row-hover *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="col-12 d-flex-center" [hidden]="!dataSource.data.length">
            <app-paginator [pageSize]="10"></app-paginator>
        </div>
    </div>
</section>
