<label class="checkbox-container">
  <input
    type="checkbox"
    class="checkbox"
    [class.checkbox-indeterminate]="_indeterminate"
    [ngClass]="innerClass"
    [name]="name"
    [disabled]="disabled"
    [checked]="_checked"
    [value]="value"
    [(ngModel)]="_checked"
    (change)="chooseCheckbox()"
    (click)="checkboxClick($event)"
  />

  <span
    class="checkbox-mark d-flex justify-content-center align-items-center"
    [class.checkbox-checked]="_checked"

  >
    <app-icon
      svgName="done-white"
      svgWidth="8px"
      *ngIf="_checked"
      innerClass="mark bg-primary"
    ></app-icon>
  </span>

  <span class="checkbox-content">
    <ng-content></ng-content>
  </span>
</label>
