@import "src/sass/variables";

:host {
  ::ng-deep .button.button-outline {
    color: $primary;
    background-color: transparent;
    border-color: $light-primary;

    &:hover {
      color: $primary;
      background-color: $light-primary;
      border-color: $light-primary;
    }

    &.button-disabled {
      color: $gray-3 !important;
      background-color: transparent !important;
      border-color: $gray-3 !important;
    }

  }
}
