<app-button
  [innerClass]="'button-icon ' + innerClass"
  appearance="primary"
  [behavior]="behavior"
  [inlineStyle]="inlineStyle"
  [disabled]="disabled"
  (clicked)="clicked.emit($event)">
  <span class="d-inline-flex align-items-center">
    <app-icon class="d-inline-flex me-2 button-icon-icon"
              [class.button-icon-disabled]="disabled"
              [fontName]="iconName"
              [fontStyle]="iconStyle"
              fontSize="16px"
              fontColor="white"></app-icon>
    <ng-content></ng-content>
  </span>
</app-button>
