@import "src/sass/variables/colors.variable";

:host {
  app-button::ng-deep button {
    display: flex;
    align-items: center;
  }

  .button-icon-icon {
    &.button-icon-disabled {
      ::ng-deep .icon-font {
        color: $gray-4 !important;
      }
    }
  }
}
