@import "src/sass/variables/colors.variable"
@import "src/sass/variables/utilities.variable"

.time-picker-container
  position: absolute
  background-color: $white
  border: 0.5px solid $gray-1
  box-shadow: $box-shadow
  border-radius: $border-radius
  min-width: 170px
  width: 100%
  z-index: 10

  &.date-time-picker
    min-width: 215px

  .time-picker-content
    display: flex
    justify-content: space-evenly
    padding: 24px 16px

    .time-picker-element
      margin: 0 8px

      &:last-child
        margin-right: 0

      &:first-child
        margin-left: 0
