<div class="row justify-content-between mt-6">
    <div class="col-12 col-lg-6 col-xl-5 mb-6">
        <app-op-stores-edition-home-main-service-type-card
                *appSkeletonCard="!!storeServiceTypeList; row: 5; loading: !homeEditionLoader"
                [serviceType]="storeServiceTypeList.amPm"
                (edit)="editServiceType($event)"
                (add)="addServiceType($event)">
        </app-op-stores-edition-home-main-service-type-card>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 mb-6">
        <app-op-stores-edition-home-main-service-type-card
                *appSkeletonCard="!!storeServiceTypeList; row: 5; loading: !homeEditionLoader"
                [serviceType]="storeServiceTypeList.scheduled"
                (edit)="editServiceType($event)"
                (add)="addServiceType($event)">
        </app-op-stores-edition-home-main-service-type-card>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 mb-6">
        <app-op-stores-edition-home-main-service-type-card
                *appSkeletonCard="!!storeServiceTypeList; row: 5; loading: !homeEditionLoader"
                [serviceType]="storeServiceTypeList.express"
                (edit)="editServiceType($event)"
                (add)="addServiceType($event)">
        </app-op-stores-edition-home-main-service-type-card>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 mb-6">
        <app-op-stores-edition-home-main-service-type-card
                *appSkeletonCard="!!storeServiceTypeList; row: 5; loading: !homeEditionLoader"
                [serviceType]="storeServiceTypeList.ret"
                (edit)="editServiceType($event)"
                (add)="addServiceType($event)">
        </app-op-stores-edition-home-main-service-type-card>
    </div>
</div>
