<section>
  <div class="d-flex mt-5 mb-4">
    <app-router [router]="routerPath.ctRouteTracking">
      <div class="cursor-pointer d-flex-center">
        <app-icon
          svgName="arrow-left-secondary"
          innerClass="me-2"
          svgWidth="12px"
        ></app-icon>
        <span class="text-body-3-bold text-secondary-60">Volver</span>
      </div>
    </app-router>
  </div>
  <div class="d-flex justify-content-between mb-6">
    <div class="d-flex align-items-center">
      <span class="text-h6 text-neutral-100 me-3"
        >Asignación manual de ruta
      </span>
      <!-- <span class="local-pill">
        <app-icon svgName="operations" innerClass="me-2"></app-icon>
        <span class="text-body-2-regular text-neutral-100">
          IKF-061-DOS DE MAYO
        </span>
      </span> -->
    </div>
    <div>
      <fp-button
        color="primary"
        (clicked)="directToManualrouting('1')"
        [disabled]="!hasSelected"
      >
        <div class="d-flex align-items-center">
          <app-icon
            svgName="checklist"
            svgWidth="20px"
            [disabled]="!hasSelected"
          ></app-icon>
          <span class="ms-2">Asignar manualmente</span>
        </div>
      </fp-button>
    </div>
  </div>

  <app-filter-order [isErrorTab]="isErrorTab"></app-filter-order>
  <app-table-section (changeTab)="changeTab($event)"></app-table-section>
</section>
