<section class="not-found-page d-flex-center vh-100">
    <div class="content text-center mb-6">
        <app-icon svgName="404"
                  svgWidth="200px"></app-icon>
        <h1 class="text-h4 mt-5 mb-5">¡Oh, no!</h1>
        <p class="text-label text-gray-6 mb-5">La página que estás buscando posiblemente <br> no exista</p>

        <p class="mb-0">
            <app-router [router]="concatPath.base">
                <app-button appearance="primary">Ir a inicio</app-button>
            </app-router>
        </p>
    </div>
</section>
