@import "src/sass/variables";
@import "src/sass/utilities/text";
@import "src/sass/utilities/position";
//@import "src/sass/components/cards"

$select-height: 38px;

.select {
  position: relative;
  height: $select-height;
}

.select-icon {
  pointer-events: none;
  right: 16px;
  display: inline-flex;
  @extend .position-vertical-center
}

:host {

  ::ng-deep mat-select {

    .mat-select-trigger {
      background-color: $white;
      padding: 12px 16px;
      border: 1px solid $gray-3;
      border-radius: 4px;
      height: $select-height;
      display: block;
    }

    .mat-select-value {
      @extend .text-label;
    }

    .mat-select-arrow-wrapper {
      visibility: hidden;
    }

    .mat-select-placeholder {
      color: $gray-4;
      @extend .text-label;
    }

    &.select-active .mat-select-placeholder {
      color: $black;
    }

    &.select-focus:focus .mat-select-placeholder {
      color: $black;
    }

    &.mat-select-disabled .mat-select-trigger {
      background-color: $gray-2;
    }
  }
}

::ng-deep .mat-select-panel.select-component {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: 38px;
  padding-right: 16px;
  padding-left: 16px;
  overflow: initial;


  .option-container {
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 20px 40px rgba(9, 39, 85, 0.08);
    box-sizing: border-box;
    overflow: auto;
    max-height: 300px;
  }
  mat-option.select-basic-option,
  mat-option.select-basic-option.mat-option.mat-active {
    color: $black;
    background-color: transparent;
    height: $select-height;
    @extend .text-label;

    &:hover {
      background-color: $gray-1;
    }

    &.mat-selected {
      background-color: $light-primary;
    }
  }

  mat-option.select-basic-option.select-basic-option-clear,
  mat-option.select-basic-option.select-basic-option-clear.mat-active{
    color: $gray-4;
  }
}
