<div class="select">
  <mat-select
    disableRipple
    disableOptionCentering
    panelClass="select-component"
    [multiple]="multiple"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [value]="value"
    (valueChange)="selectionChange($event)">

    <mat-select-trigger class="trigger" *ngIf="customValue">
      <div class="trigger-content">
        <ng-content select="[trigger]"></ng-content>
      </div>
    </mat-select-trigger>

    <div class="option-container" [style.max-height]="containerMaxHeight">
      <mat-option class="select-basic-option select-basic-option-clear"
                  *ngIf="clearValue"
                  [class.select-square-option]="selectOptionSquare">{{clearValue}}</mat-option>
      <mat-option
        class="select-basic-option" [class.select-square-option]="selectOptionSquare"
        *ngFor="let option of optionList"
        [value]="option">
        <ng-container *ngIf="!templateRef">{{option}}</ng-container>
        <ng-template [ngTemplateOutlet]="templateRef"
                     [ngTemplateOutletContext]="{$implicit: option}">
        </ng-template>
      </mat-option>
    </div>

  </mat-select>

  <app-icon class="select-icon"
            fontName="keyboard_arrow_down"
            innerClass="text-gray-5"
            fontSize="14px"></app-icon>
</div>
