<div class="select">
  <mat-select
    disableRipple
    disableOptionCentering
    panelClass="select-component"
    [disabled]="selectDisabled"
    [placeholder]="placeholder"
    [value]="value"
    (valueChange)="selectionChange($event)">

    <div class="option-container">
      <mat-option class="select-basic-option select-basic-option-clear"
                  *ngIf="clearValue">{{clearValue}}</mat-option>
      <mat-option
        class="select-basic-option"
        *ngFor="let option of optionList"
        [value]="option">
        <ng-container *ngIf="!templateRef">{{option}}</ng-container>
        <ng-template [ngTemplateOutlet]="templateRef"
                     [ngTemplateOutletContext]="{$implicit: option}">
        </ng-template>
      </mat-option>
    </div>

  </mat-select>

  <app-icon class="select-icon"
            iconFontName="keyboard_arrow_down"
            iconClass="text-gray-5"
            iconFontSize="14px"></app-icon>
</div>
