@import "src/sass/variables"
@import "src/sass/mixins/text.mixin"

.button
  height: 40px
  display: inline-block
  color: $black
  text-align: center
  vertical-align: middle
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-color: transparent
  border: 1px solid transparent
  padding: 0 $spacer-4
  border-radius: $border-radius
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  @include text-h5

  &.button-disabled
    color: $gray-4 !important
    background-color: $gray-2 !important
    border-color: $gray-2 !important

  &:focus,
  &:active
    outline: none

  &.button-primary
    color: $white
    background-color: $primary-50
    border-color: $primary-50

    &:hover
      color: $white
      background-color: $primary-60
      border-color: $primary-60


  &.button-secondary
    color: $gray-6
    background-color: $white
    border-color: $white

    &:hover
      color: $gray-6
      background-color: $gray-0
      border-color: $gray-0

  &.button-outline
    color: $primary
    background-color: $white
    border-color: $primary

    &:hover
      color: $primary
      background-color: $light-primary
      border-color: $light-primary

    &.button-disabled
      color: $gray-4 !important
      background-color: $white !important
      border-color: $gray-2 !important

.btnServiceEditionStyle
  height: 48px
  padding-left: 32px
  padding-right: 32px

.btnEditZoneStyle
 height: 40px
 padding: 0px 24px