<section class="op-capacities-home-local-capacity">
  <div class="row mb-6">
    <div class="col-12">
      <app-select-search class="local-capacity-select"
                         placeholder="Elije un local"
                         [value]="capacitiesLocalSelection"
                         [optionList]="capacitiesLocalList"
                         (optionSelected)="changeCapacitiesLocalSelection($event)">
        <ng-template #optionSelectedTemplate
                     let-optionSelected>{{optionSelected?.localCode}} {{optionSelected?.name}}</ng-template>
        <ng-template #optionTemplate
                     let-option>{{option.localCode}} {{option.name}}</ng-template>
      </app-select-search>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-xl-3 mb-6 mb-xl-0">
      <app-op-capacities-local-default-capacity-card
        localCapacityName="AM/PM"
        (localCapacityViewMore)="localDefaultCapacityViewMore(this.capacityLocalServiceAmPm)"
        (localCapacityEditService)="localDefaultCapacityEditService(this.capacityLocalServiceAmPm)"
        [localCapacityQuantity]="capacityLocalServiceAmPm?.capacityQuantity"
        [localCapacityDisabled]="!capacityLocalServiceAmPm"
        [localCapacityDetail]="true">
      </app-op-capacities-local-default-capacity-card>
    </div>
    <div class="col-6 col-xl-3 mb-6 mb-xl-0">
      <app-op-capacities-local-default-capacity-card
        localCapacityName="Programado"
        (localCapacityViewMore)="localDefaultCapacityViewMore(this.capacityLocalServiceScheduled)"
        (localCapacityEditService)="localDefaultCapacityEditService(this.capacityLocalServiceScheduled)"
        [localCapacityQuantity]="capacityLocalServiceScheduled?.capacityQuantity"
        [localCapacityDisabled]="!capacityLocalServiceScheduled"
        [localCapacityDetail]="true">
      </app-op-capacities-local-default-capacity-card>
    </div>
    <div class="col-6 col-xl-3">
      <app-op-capacities-local-default-capacity-card
        localCapacityName="Express"
        (localCapacityEditService)="localDefaultCapacityEditService(this.capacityLocalServiceExpress)"
        [localCapacityQuantity]="capacityLocalServiceExpress?.capacityQuantity"
        [localCapacityDisabled]="!capacityLocalServiceExpress">
      </app-op-capacities-local-default-capacity-card>
    </div>
    <div class="col-6 col-xl-3">
      <app-op-capacities-local-default-capacity-card
        localCapacityName="RET"
        (localCapacityViewMore)="localDefaultCapacityViewMore(this.capacityLocalServiceRet)"
        (localCapacityEditService)="localDefaultCapacityEditService(this.capacityLocalServiceRet)"
        [localCapacityQuantity]="capacityLocalServiceRet?.capacityQuantity"
        [localCapacityDisabled]="!capacityLocalServiceRet"
        [localCapacityDetail]="true">
      </app-op-capacities-local-default-capacity-card>
    </div>
  </div>
</section>
