<div class="row" [formGroup]="presenter.filterForm">
  <div class="col-6">
    <app-select
      formControlName="searchCode"
      placeholder="Tipo"
      [customValue]="true"
      [optionList]="typesSearch"
      [value]="valueSelect"
      (optionChange)="selectionChange($event)"
    >
      <ng-container trigger>
        <app-icon [fontName]="valueSelect.icon"></app-icon>
        {{ valueSelect.name }}
      </ng-container>
      <ng-template let-type>
        <app-icon [fontName]="type.icon" fontSize="16px"></app-icon>
        {{ type.name }}
      </ng-template>
    </app-select>
  </div>
  <div class="col-6">
    <app-input
      formControlName="searchValue"
      appSearchCharacters
      [alphanumeric]="valueSelect.alphanumeric"
      [maxLength]="valueSelect.maxLength"
      labelClass="w-100"
      [buttonClear]="true"
      [placeholder]="'Buscar por ' + valueSelect.name"
      
    >
    </app-input>
  </div>
</div>
