@import "src/sass/variables"

.nav-headbar-breadcrumbs
  display: flex
  align-items: center

  .nav-headbar-breadcrumbs-text-logo
    font-weight: $font-weight-semi-bold
    font-size: $font-size-body-2
    line-height: $line-height-regular
    letter-spacing: 3.2px
    width: 100px
    text-transform: uppercase
    white-space: normal
    display: flex

  .nav-headbar-breadcrumbs-separator
    width: 16px
    margin: 0 $spacer-4
    border: 1px solid $light-primary
    opacity: 0.24
    transform: rotate(90deg)
