<label class="input-search-container"
     [ngClass]="inputLabelClass">
  <app-input
    inputLabelClass="input-search-label"
    [inputClass]="'input-search ' + inputClass"
    [inputError]="inputError"
    [inputId]="inputId"
    [inputName]="inputName"
    [inputType]="inputType"
    [(ngModel)]="inputValue"
    (ngModelChange)="changeInputValue()"
    [inputPlaceholder]="inputPlaceholder"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)">
  </app-input>

  <app-icon class="input-search-icon"
            svgName="search"
            svgWidth="12px"></app-icon>
</label>
