<ng-container [formGroup]="inputFormGroup">
  <label class="input-label"
         [ngClass]="'d-' + inputDisplay + ' ' + inputLabelClass">
    <input
      class="input-basic"
      [ngClass]="inputClass"
      [class.input-error]="inputError ||
       formGroup[inputFormControlName].invalid && inputFormGroup.touched"
      [id]="inputId"
      [name]="inputName"
      [formControlName]="inputFormControlName"
      [type]="inputType"
      [placeholder]="inputPlaceholder"
      [maxlength]="inputMaxLength"
      (blur)="inputBlurEvent.emit($event)"
      (focus)="inputFocusEvent.emit($event)"/>
  </label>
</ng-container>
