<div class="container-section-type-operation">
  <div [ngClass]="{
    'd-section-active-1': sectionDisabledOne,
    'd-section-disabled-1': sectionOne
  }" (click)="getRad()">
    RAD
  </div>
  <div [ngClass]="{
    'd-section-active-2': sectionDisabledTwo,
    'd-section-disabled-2': sectionTwo
  }" (click)="getRet()" *ngIf="showTypeOperations >= 2">
    RET
  </div>
  <div class="section-calendar-moth" *ngIf="!showActiveCapacityDefault">
    <img src="../../../../../../assets/img/icon-calendar.png" alt="" style="margin-right: 10px;">
    {{day}}
  </div>

  <div class="section-drugstore-selected">
    <img src="../../../../../../assets/img/icon-inkafarma.png" alt="" style="margin-right: 10px;">
    {{drugstore}}
  </div>
</div>
