<form [formGroup]="frm">
  <div class="container-calendar">
    <div class="header-item" *ngIf="item.dayType != 'empty'" >
      <div *ngIf="!item.pastDay" >
        <div class="checkbox-input-container" >
          <label class="checkbox-input-label">
            <input type="checkbox" class="checkbox-input" [checked]="checked" [disabled]="isDisabled"
              (click)="clickInput($event.target)" formControlName="day" >
            <span class="check-mark"></span>
          </label>
        </div>

      </div>
      <div>{{item.dayNumber}}</div>
    </div>

    <div class="body-item" *ngIf="item.dayType != 'empty' && !item.pastDay">
      <div class="d-item-one" *ngIf="checked">
        <div (click)="redirectCapacity()" ><strong class="d-strong">|</strong> Ir a Capacidad</div>
      </div>
      <div class="d-item-bloqued" *ngIf="!checked">
        <div class="d-border-s"> 
            <div>
              <img src="../../../../../../assets/img/alert.png" alt="">
            </div>
            <div class="d-img-bloqued">
              Bloqueado
            </div>
          </div>
      </div>
    </div>
  </div>

</form>
