.container-calendar {
  height: 118px;
  width: 121px;
  border-radius: 1px;
  border: 1px solid #F2F2F2;
  padding: 22px;

  .header-item {
    display: flex;
    justify-content: space-between;
  }

  .body-item {
    padding-top: 38px;
    padding-bottom: 10px;

    .d-item-one {
      padding: 11px 0px 0px 0px;
      font-size: 13px;
      border-radius: 7px;

      .d-capacity-item-one {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;
        color: black;
        border-radius: 0px;
        border: 0px solid #16A2FF;
        padding: 0px;
        margin-bottom: 8px;
        font-size: 12.44px;

      }

      .d-capacity-item-one-active {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;
        color: black;
        border-radius: 5px;
        border: 1px solid #16A2FF;
        padding: 5px;
        margin-bottom: 8px;
        cursor: pointer;

      }

      .d-capacity-item-one-red {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: red;
        padding-bottom: 5px;
      }

    }

    .d-item-bloqued {
      background-color: #FDCFD8;
      padding: 10px 5px 10px 6px;
      border: 1px solid #FDCFD8;
      border-radius: 15px;

      .d-border-s {
        display: flex;

        .d-img-bloqued {
          color: #E74848;
          font-size: 12px;
          font-family: Muli;
          font-weight: bold;
          margin-left: 10px;
          padding-top: 2px;
        }

      }
    }

    .d-item-two {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

    }
  }


  .d-order-item-two-red {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12.44px;
    color: red;
  }


  .d-order-item-two-green {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12.44px;
    color: green;
  }
}

@media(min-width: 768px) and (max-width: 1023px) {
  .container-calendar {
    height: 118px;
    width: 50px;
    border-radius: 1px;
    border: 1px solid #F2F2F2;
    padding: 22px;

    .d-item-one {
      font-size: 8px;
    }

    .d-item-bloqued {
      .d-border-s {
        .d-img-bloqued {
          margin-left: 10px;
        }
      }
    }
  }
}


@media(min-width: 1024px) and (max-width: 1225px) {

  .container-calendar {
    height: 118px;
    width: 94px;
    border-radius: 1px;
    border: 1px solid #F2F2F2;
    padding: 22px;

    .d-item-one {
      font-size: 8px;
    }

    .d-item-bloqued {
      .d-border-s {
        .d-img-bloqued {
          margin-left: 10px;
        }
      }
    }
  }
}
