<form [formGroup]="frm">
  <div class="container-calendar">
    <div class="header-item" *ngIf="item.dayType != 'empty'">
      <div *ngIf="!item.pastDay">
        <div class="checkbox-input-container">
          <label class="checkbox-input-label" [hidden]="showActiveChecks">
            <input type="checkbox" class="checkbox-input" [checked]="checked" [disabled]="isDisabled"
              (click)="clickInput($event.target)" formControlName="day">
            <span class="check-mark"></span>
          </label>
        </div>

      </div>
      <div>{{item.dayNumber}}</div>
    </div>

    <div class="body-item" *ngIf="item.dayType != 'empty' && !item.pastDay">
      <div class="d-item-one" *ngIf="checked">
        <div class="d-capacity-item-one" *ngIf="!showLinks">
         Capacidad: <strong>{{item.capacity}}</strong>
        </div>
        <div (click)="redirectCapacity()" *ngIf="showLinks" class="d-capacity-item-one-active">
          <strong style="font-size: 16px; color: #16A2FF;">|</strong>Capacidad: <strong>{{item.capacity}}</strong>
        </div>

      </div>
      <div *ngIf="checked"
        [ngClass]="{'d-order-item-two-red': item.orders > item.capacity, 'd-order-item-two-green': item.capacity >= item.orders }">
        Pedidos: <strong>{{item.orders}}</strong>
      </div>
      <div class="d-item-bloqued" *ngIf="!checked">
        <div class="d-border-s">
          <div>
            <img src="../../../../../../assets/img/alert.png" alt="">
          </div>
          <div class="d-img-bloqued">
            Bloqueado
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
