<app-card innerClass="p-4">
  <div class="row mb-4">
    <div class="col-12 d-flex align-items-center">
      <h4 class="text-h4 text-gray-7 mb-0">
        <span>Zona backup</span>
      </h4>
    </div>
  </div>
  <hr class="m-0 bg-gray-3" />
  <div class="row mb-5 mt-5">
    <div class="col-12 d-flex align-items-center">
      <app-icon class="me-5" svgName="ellipse-success"></app-icon>
      <h5 class="text-h5 mb-0 ms-3">
        {{ zoneDetail.name }}
        <span class="text-gray-5 mx-3">-</span>
        <span class="text-gray-5 text-nowrap">COD {{ zoneDetail.code }}</span>
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-card-static-information
        class="d-block mb-5"
        svgName="store"
        svgWidth="24px"
      >
        <ng-container information-title>Local de atención</ng-container>
        <ng-container information-caption>
          <ng-container *ngIf="zoneDetail.assignedStore">
            {{ zoneDetail.assignedStore.code }}
            {{ zoneDetail.assignedStore.name }}
          </ng-container>
          <ng-container *ngIf="!zoneDetail.assignedStore">
            Sin local de atención
          </ng-container>
        </ng-container>
      </app-card-static-information>

      <app-card-static-information
        class="d-block mb-5"
        svgName="store"
        svgWidth="24px"
      >
        <ng-container information-title>Local backup</ng-container>
        <ng-container information-caption
          >{{ zoneDetail.zoneBackup.assignedStoreCode }}
          {{ zoneDetail.zoneBackup.assignedStoreName }}
        </ng-container>
      </app-card-static-information>

      <app-card-static-information
        class="d-block mb-5"
        svgName="crosshair"
        svgWidth="24px"
      >
        <ng-container information-title>Zona backup</ng-container>
        <ng-container information-caption
          >{{ zoneBackupDetail.name }} -
          {{ zoneBackupDetail.code }}</ng-container
        >
      </app-card-static-information>

      <app-card-static-information
        class="d-block mb-5"
        svgName="time-circle"
        svgWidth="24px"
      >
        <ng-container information-title>
          Horario de atención {{ segmentName }} de zona backup</ng-container
        >
        <ng-container information-caption>{{ startAndEndHour }}</ng-container>
      </app-card-static-information>

      <app-card-static-information
        class="d-block mb-5"
        svgName="hourglass"
        svgWidth="24px"
      >
        <ng-container information-title>
          Lapso de cierre de ventana - GAP de zona backup</ng-container
        >
        <ng-container information-caption>{{ segmentGap }}</ng-container>
      </app-card-static-information>
    </div>
  </div>
</app-card>
