<section class="operations-stores-edition-service-type pt-12 pb-15">
    <div class="row mb-8">
        <div class="col-12">
            <h3 class="text-h3 mb-0">Edición de locales</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <app-op-stores-edition-service-type-detail-form-card
                    (cancelServiceTypeEdition)="cancelServiceTypeEdition()">
            </app-op-stores-edition-service-type-detail-form-card>
        </div>
    </div>
</section>
