<mat-accordion class="p-5">
  <mat-expansion-panel
    [expanded]="expanded"
    (closed)="expanded = false"
    (opened)="expanded = true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="d-inline-flex align-items-center justify-content-between w-100">
          <div class="d-inline-flex">
            <app-icon [svgName]="svgName" [svgWidth]="svgSize" [svgHeight]="svgSize"></app-icon>
            <p class="text-body-1-bold text-gray-6 mb-0 mx-4">{{ title }}</p>
          </div>
          <div class="icon-rotate" [class.rotate]="expanded">
            <app-tooltip [value]="expanded ? 'Ocultar' : 'Mostrar'">
              <app-button-action-icon
                iconStyle="edge"
                iconName="expand_more">
              </app-button-action-icon>
            </app-tooltip>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <hr class="mt-0 text-gray-1">
    <ng-content></ng-content>
  </mat-expansion-panel>
</mat-accordion>

