<section class="operations-zones-edition-home pt-8 pb-15">
    <div class="row mb-8">
        <div class="col-12 mb-4">
            <app-back-router>Zonas</app-back-router>
        </div>

        <div class="col-12">
            <h3 class="text-h3 mb-0">Edición de zonas</h3>
        </div>
    </div>

    <div [class.container-loader]="updateEditionLoader">
        <div class="row mb-6"
             [class.container-loader]="saveEditionLoader">
            <div class="col-12">
                <app-op-zones-edition-home-zone-detail-card
                        *appSkeletonCard="!!zoneDetail; row: 5; loading: !homeEditionLoader"
                        [zoneDetail]="zoneDetail"
                        (edit)="editZone()">
                </app-op-zones-edition-home-zone-detail-card>
            </div>
        </div>

        <app-tab-group [hidden]="(!zoneDetail || !zoneServiceTypeList) && !homeEditionLoader"
                       (selectIndexChange)="setTabSettingsSelectionIndex($event)"
                       [selectedIndex]="tabSettingsSelectionIndex">
            <app-tab label="Configuración principal">
                <app-op-zones-edition-home-main-setting-tab
                        class="d-block"
                        [class.container-loader]="saveEditionLoader"
                        [zoneChannelServiceTypeList]="zoneServiceTypeList"
                        [homeEditionLoader]="homeEditionLoader"
                        (add)="addServiceType($event)"
                        (edit)="editServiceType($event)">
                </app-op-zones-edition-home-main-setting-tab>
            </app-tab>

            <app-tab label="Configuración backup">
                <app-op-zones-edition-home-backup-setting-tab
                        class="d-block"
                        [class.container-loader]="saveEditionLoader"
                        [zoneBackup]="zoneDetail?.zoneBackup"
                        [zoneBackupDetail]="zoneBackupDetail"
                        [zoneBackupServiceTypeList]="zoneBackupServiceTypeList"
                        (editBackupZone)="editBackupZone()"
                        (editServiceType)="editBackupServiceType($event)">
                </app-op-zones-edition-home-backup-setting-tab>
            </app-tab>
        </app-tab-group>
    </div>


    <app-empty-result (action)="backRoute()"
                      *ngIf="(!zoneDetail || !zoneServiceTypeList) && !homeEditionLoader">
        <ng-container empty-result-title>Esta zona no está disponible.</ng-container>
        <ng-container empty-result-action>Ir a lista de zonas</ng-container>
    </app-empty-result>

</section>
