<section class="operations-zones-edition-home pt-8 pb-15">
    <div class="row mb-8">
        <div class="col-12 mb-4">
            <app-back-router>Zonas</app-back-router>
        </div>

        <div class="col-12">
            <h3 class="text-h3 mb-0">Edición de zonas</h3>
        </div>
    </div>


    <div class="row mb-6" *ngIf="zoneDetail">
        <div class="col-12">
            <app-op-zones-edition-home-zone-detail-card
                    [zoneDetail]="zoneDetail"
                    (edit)="editStore()">
            </app-op-zones-edition-home-zone-detail-card>
        </div>
    </div>

    <div class="row justify-content-between" *ngIf="zonesServiceTypeList">
        <div class="col-5 mb-6">
            <app-op-zones-edition-home-service-type-card
                    [serviceType]="zonesServiceTypeList.amPm"
                    (edit)="editServiceType($event)">
            </app-op-zones-edition-home-service-type-card>
        </div>
        <div class="col-5 mb-6">
            <app-op-zones-edition-home-service-type-card
                    [serviceType]="zonesServiceTypeList.scheduled"
                    (edit)="editServiceType($event)">
            </app-op-zones-edition-home-service-type-card>
        </div>
        <div class="col-5 mb-6">
            <app-op-zones-edition-home-service-type-card
                    [serviceType]="zonesServiceTypeList.express"
                    (edit)="editServiceType($event)">
            </app-op-zones-edition-home-service-type-card>
        </div>
        <div class="col-5 mb-6">
            <app-op-zones-edition-home-service-type-card
                    [serviceType]="zonesServiceTypeList.ret"
                    (edit)="editServiceType($event)">
            </app-op-zones-edition-home-service-type-card>
        </div>
    </div>

</section>
