@import "src/sass/variables/colors.variable";

.drugstore-default-capacity-card {
  padding: 30px 24px 24px;
  background-color: $white;
  border: 1px solid $gray-1;
  border-radius: 8px;
  text-align: center;

  &:hover {
    box-shadow: 0 20px 40px rgba(9, 39, 85, 0.08);
  }

  .capacity-card-name {
    color: $gray-5;
  }

  .capacity-card-quantity,
  .capacity-card-text {
    color: $black;
  }

  &.capacity-card-disabled {
    background-color: $gray-1;
    border-color: $gray-2;
    pointer-events: none;

    .capacity-card-name,
    .capacity-card-quantity,
    .capacity-card-text {
      color: $gray-4;
    }
  }
}
