<div
  class="alert-container"
  [class.background-danger]="data?.status === eAlertStatus.error"
  [class.background-warning]="data?.status === eAlertStatus.warning"
  [class.background-success]="data?.status === eAlertStatus.success"
  [class.bg-white]="
    data?.status === eAlertStatus.lightSuccess ||
    data?.status === eAlertStatus.lightError
  "
>
  <div>
    <app-icon
      [fontName]="fontNameIcon"
      [svgName]="svgLightIcon"
      svgWidth="32px"
      [innerClass]="innerClassIcon"
      fontSize="24px"
    >
    </app-icon>
  </div>
  <div class="ms-3">
    <span
      class="alert-text"
      [class]="classAlertText"
      [innerHTML]="data?.message"
    >
    </span>
  </div>
</div>
