@import 'src/sass/variables';
@import 'src/sass/mixins/text.mixin';
@import 'src/sass/mixins/display.mixin';

::ng-deep .mat-snack-bar-container.alert {
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  max-width: 609px;
  margin-bottom: 40px;
}

.alert-container {
  padding: 18px 24px;
  border-radius: $border-radius;
  @include d-flex-vertical-center;

  .alert-text {
    color: $white;
    margin-left: 12px;
    @include text-body-1-regular;
  }
}
