<section class="nav-headbar-profile-preview d-flex-center">
    <span class="nav-headbar-profile-preview-avatar">
        <app-icon fontName="person"
                  fontSize="16px"
                  innerClass="text-gray-5"></app-icon>
    </span>

    <span class="text-body-2-regular text-gray-1 mx-3">
        {{user?.name}} {{user?.firstLastName}} {{user?.secondLastName}}
    </span>

    <span>
        <app-icon fontName="expand_more"
                  fontSize="16px"
                  innerClass="text-white"></app-icon>
    </span>
</section>
