@import "src/sass/variables"
@import "src/sass/mixins/display.mixin"

.nav-headbar-profile-preview
  &-avatar
    height: 32px
    width: 32px
    border-radius: $border-radius-round
    background-color: $white
    @include d-flex-center
