<app-select
  placeholder="Local"
  [multiple]="true"
  [customValue]="true"
  [value]="selectedLocals"
  [optionList]="locals"
  [selectOptionSquare]="true"
  [showClearValueForButton]="true"
  [enableSearch]="true"
  [enableNoSpace]="true"
  (optionChange)="selectionChange($event)"
  (filterList)="filterOptionList($event)"
  (clearValueForButton)="clearValues()">
  <ng-container trigger>{{ valueSelect }}</ng-container>
  <ng-template let-localCode>{{ getLocalName(localCode) }}</ng-template>
</app-select>
