<div [formGroup]="presenter.filterForm">
  <app-select
    formControlName="localId"
    placeholder="Local"
    [multiple]="true"
    [customValue]="true"
    [value]="selectedLocals"
    [optionList]="locals"
    [selectOptionSquare]="true"
    [showClearValueForButton]="true"
    [enableSearch]="true"
    [enableNoSpace]="true"
    (optionChange)="selectionChange($event)"
    (filterList)="filterOptionList($event)"
    (clearValueForButton)="clearValues()"
  >
    <ng-container trigger>
      <app-tooltip
        [value]="othersSelects"
        innerClass="multiline"
        class="content-text"
      >
        {{ valueSelect }}
      </app-tooltip>
    </ng-container>
    <ng-template let-localCode>{{ getLocalName(localCode) }}</ng-template>
  </app-select>
</div>
