<app-card>
  <form [formGroup]="form.form$">
    <div class="row mb-6">
      <div class="col-12">
        <app-switch [formControlName]="controlNameList.state">
          <span class="text-h5">Local {{stateControlName}}</span>
        </app-switch>
      </div>
    </div>

    <div class="row mb-6">
      <div class="col-6">
        <app-form-field>
          <app-form-field-label>Inicio</app-form-field-label>
          <app-input-time
            name="start-hour-time"
            format="12"
            [class.time-input]="!form.stateControl.value"
            [maxHour]="form.endHourControl.value"
            (timeChange)="updateStartHourControl($event)"
            [formControlName]="controlNameList.startHour">
          </app-input-time>
        </app-form-field>
      </div>
      <div class="col-6">
        <app-form-field>
          <app-form-field-label>Fin</app-form-field-label>
          <app-input-time
            name="end-hour-time"
            format="12"
            [class.time-input]="!form.stateControl.value"
            [minHour]="form.startHourControl.value"
            (timeChange)="updateEndHourControl($event)"
            [formControlName]="controlNameList.endHour"></app-input-time>
        </app-form-field>
      </div>
    </div>

    <div class="row mb-7" *ngIf="form.companyArray.controls.length">
      <div class="col-12">
        <app-form-field>
          <app-form-field-label>Marcas</app-form-field-label>
          <div class="row mt-4" [formArrayName]="controlNameList.company">
            <ng-container *ngFor="let companyControl of form.companyArray.controls; let index = index"
                          [formGroupName]="index">
              <div class="col-6">
                <app-checkbox [formControlName]="controlNameList.companyChecked">
                  {{companyName[companyControl.value[controlNameList.companyName]]}}
                </app-checkbox>
              </div>
            </ng-container>
          </div>
        </app-form-field>
      </div>
    </div>

    <div class="row mb-9">
      <div class="col-6">
        <app-form-field>
          <app-form-field-label>Latitud</app-form-field-label>
          <app-input [formControlName]="controlNameList.latitude"></app-input>
        </app-form-field>
      </div>
      <div class="col-6">
        <app-form-field>
          <app-form-field-label>Longitud</app-form-field-label>
          <app-input [formControlName]="controlNameList.longitude"></app-input>
        </app-form-field>
      </div>
    </div>

    <div class="card-actions d-flex-horizontal-end pt-5 border-top border-gray-1">
      <app-button appearance="secondary" class="me-4" (clicked)="cancelEditionEvent()">
        Cancelar edición
      </app-button>
      <app-button appearance="primary" [disabled]="form.form$.invalid" (clicked)="saveEditionEvent()">
        Guardar cambios
      </app-button>
    </div>
  </form>
</app-card>
