@import "src/sass/variables";

:host {
  ::ng-deep .button.button-secondary {
    color: $gray-6;
    background-color: $gray-1;
    border-color: $gray-1;

    &:hover {
      color: $gray-6;
      background-color: $gray-2;
      border-color: $gray-2;
    }

  }
}
