<div class="mb-4">
  <div
    class="d-flex align-items-center justify-content-end mb-3"
    *ngIf="filterList?.length > 0"
  >
    <div class="p-1 cursor-pointer me-2" (click)="scrollContainer(-100)">
      <app-icon svgName="arrow-left-nav"></app-icon>
    </div>
    <div class="p-1 cursor-pointer" (click)="scrollContainer(100)">
      <app-icon svgName="arrow-right-nav"></app-icon>
    </div>
  </div>

  <div #containerElement class="panel-pill__list">
    <ng-container *ngFor="let filter of filterList">
      <app-carrier-filter-pill
        [filter]="filter"
        (delete)="deleteFilter(filter)"
      ></app-carrier-filter-pill>
    </ng-container>
  </div>
</div>
