<div class="container-header-body-calendar">

  <div class="d-buttons-implements-change-moth">
    <app-calendar-button></app-calendar-button>
    <app-calendar-button></app-calendar-button>
    <div class="lable-month">
      Abril 2020
    </div>
  </div>

  <div class="d-implemenst-dropdown">
    <app-dropdown></app-dropdown>
  </div>

  <div class="d-buttons-implements-save">
    <button type="button" class="btn btn-outline-success">Success</button>
  </div>
</div>
<div class="container-calendar">
  <div class="calendar-title">
    <div *ngFor="let day of daysName" class="item-title">
      <app-calendar-header [day]="day.day"></app-calendar-header>
    </div>
  </div>
  <div class="calendar-detail">
    <div *ngFor="let day of daysNumber" class="day_number">
      <app-calendar-item [tay]="day" (redirect)="redirectEditCapacity()" >
      </app-calendar-item>
    </div>
  </div>
</div>
