// @import "~src/scss/main";

.custom-button-container {
  &.cb--container-full {
    width: 100%;
    display: flex;
  }
  &.cb--left {
    justify-content: flex-start;
  }
  &.cb--right {
    justify-content: flex-end;
  }
  &.cb--center {
    justify-content: center;
  }
  .custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;
    transition: .1s linear;
    outline: none;
    &.cb--full {
      flex: 1;
    }
    &.cb--disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
