<div class="custom-button-container"
  [ngClass]="{
    'cb--container-full': isContainerFull,
    'cb--left': position === 'left',
    'cb--right': position === 'rigth',
    'cb--center': position === 'center'
  }">
  <button class="custom-button"
    [ngClass]="{
      'cb--full': isFull,
      'cb--disabled': isDisabled
    }"
    [disabled]="isDisabled"
    [ngStyle]="customAttributes"
    (click)="buttonClick()"
    #customButton
    (mouseover)="customButtonOver()"
    (mouseout)="customButtonOut()">
    <ng-content></ng-content> <!-- aqui agregar: texto, texto + icono -->
  </button>
</div>