@import "src/sass/variables";

:host {
  ::ng-deep .button.button-primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;

    &:hover {
      color: $white;
      background-color: $dark-primary;
      border-color: $dark-primary;
    }

  }
}
