<div class="row mt-6" *ngIf="channelTabList?.length > 1">
    <div class="col d-flex-horizontal-end align-items-center pe-0">
        <span class="text-subtitle-2">Canal de atención:</span>
    </div>
    <div class="col-3">
        <app-select placeholder="Agrega una etiqueta a la zona"
                    [optionList]="channelTabList"
                    [value]="channelSelected"
                    (optionChange)="channelChange($event)">
            <ng-template let-option>{{channelName[option] || option}}</ng-template>
        </app-select>
    </div>
    <div class="col-12 mt-4">
        <hr class="m-0 bg-gray-3">
    </div>
</div>

<div class="row justify-content-between mt-6" *ngFor="let item of companyTabList">
    <div class="col-12 col-lg-6 col-xl-5 mb-6" >
        <app-op-zones-edition-home-main-service-type-card
                *appSkeletonCard="!!zoneServiceTypeList; row: 5; loading: !homeEditionLoader"
                [serviceType]="zoneServiceTypeList.amPm"
                [company]="item"
                (edit)="editServiceType($event)"
                (add)="addServiceType($event)">
        </app-op-zones-edition-home-main-service-type-card>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 mb-6">
        <app-op-zones-edition-home-main-service-type-card
                *appSkeletonCard="!!zoneServiceTypeList; row: 5; loading: !homeEditionLoader"
                [serviceType]="zoneServiceTypeList.scheduled"
                [company]="item"
                (edit)="editServiceType($event)"
                (add)="addServiceType($event)">
        </app-op-zones-edition-home-main-service-type-card>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 mb-6">
        <app-op-zones-edition-home-main-service-type-card
                *appSkeletonCard="!!zoneServiceTypeList; row: 5; loading: !homeEditionLoader"
                [serviceType]="zoneServiceTypeList.express"
                [company]="item"
                (edit)="editServiceType($event)"
                (add)="addServiceType($event)">
        </app-op-zones-edition-home-main-service-type-card>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 mb-6">
        <app-op-zones-edition-home-main-service-type-card
                *appSkeletonCard="!!zoneServiceTypeList; row: 5; loading: !homeEditionLoader"
                [serviceType]="zoneServiceTypeList.ret"
                [company]="item"
                (edit)="editServiceType($event)"
                (add)="addServiceType($event)">
        </app-op-zones-edition-home-main-service-type-card>
    </div>
</div>
