<div class="row mt-6">
  <div class="col-12">
    <h4 class="text-h4 mb-0 text-gray-7">Tipos de servicios de la zona principal</h4>
  </div>
  <div class="col-4 mt-4">
    <!-- <app-select-zone></app-select-zone> -->
    <app-select
      placeholder="Canal de venta"
      [multiple]="true"
      [selectOptionSquare]="true"
      [showClearValueForButton]="true"
      [optionList]="zoneDetail?.channelList"
      (optionChange)="channelChange($event)"
    >
      <ng-template let-option>{{ channelName[option] || option }}</ng-template>
    </app-select>
  </div>
  <div class="col-4 mt-4">
    <app-select
      placeholder="Marca"
      [multiple]="true"
      [selectOptionSquare]="true"
      [showClearValueForButton]="true"
      [optionList]="zoneDetail?.companyList"
      (optionChange)="companyChange($event)"
    >
      <ng-template let-option>{{ companyName[option] || option }}</ng-template>
    </app-select>
  </div>
  <div class="col-4 mt-4 d-flex align-items-center justify-content-around">
    <div class="d-flex align-items-center">
      <app-icon
        class="d-inline-block me-1 mt-1"
        [svgName]="'ellipse-success'"
      ></app-icon>
      <p class="mb-0 text-gray-5">Activo</p>
    </div>
    <div class="d-flex align-items-center">
      <app-icon
        class="d-inline-block me-1 mt-1"
        [svgName]="'elipse-error'"
      ></app-icon>
      <p class="mb-0 text-gray-5">Inactivo</p>
    </div>
    <div class="d-flex align-items-center">
      <app-icon
        class="d-inline-block me-1 mt-1"
        [svgName]="'ellipse-disabled'"
      ></app-icon>
      <p class="mb-0 text-gray-5">Inhabilitado</p>
    </div>
  </div>
</div>
<div
  class="row mt-6"
  *ngFor="
    let zonesChannel of zonesChannelServiceTypeRegistered
      | channelFilter: channelSelected
  "
>
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <h2 class="text-h2 mb-0 text-black">
        {{ getSegmentChannelName(zonesChannel.channel) }}
      </h2>
    </div>
    <div class="col-12">
      <p class="text-body-1-regular mb-0 text-gray-4">
        {{ zonesChannel.zonesRegistered.length }} servicios
      </p>
    </div>
  </div>
  <ng-container
    *ngFor="
      let service of zonesChannel.zonesRegistered
        | companyFilter: companiesSelected
    "
  >
    <div class="col-4 col-lg-6 col-xlg-4 mb-6">
      <app-op-zones-edition-home-main-service-type-card
        [serviceType]="service"
        (edit)="editServiceType($event)"
        (add)="addServiceType($event)"
      >
      </app-op-zones-edition-home-main-service-type-card>
    </div>
  </ng-container>
</div>
<!-- <div
  class="row justify-content-between mt-6"
  *ngFor="let item of companyTabList"
>
  <div class="col-12 col-lg-6 col-xlg-4 mb-6">
    <app-op-zones-edition-home-main-service-type-card
      *appSkeletonCard="
        !!zoneServiceTypeList;
        row: 5;
        loading: !homeEditionLoader
      "
      [serviceType]="zoneServiceTypeList.amPm"
      [company]="item"
      (edit)="editServiceType($event)"
      (add)="addServiceType($event)"
    >
    </app-op-zones-edition-home-main-service-type-card>
  </div>

  <div class="col-12 col-lg-6 col-xlg-4 mb-6">
    <app-op-zones-edition-home-main-service-type-card
      *appSkeletonCard="
        !!zoneServiceTypeList;
        row: 5;
        loading: !homeEditionLoader
      "
      [serviceType]="zoneServiceTypeList.scheduled"
      [company]="item"
      (edit)="editServiceType($event)"
      (add)="addServiceType($event)"
    >
    </app-op-zones-edition-home-main-service-type-card>
  </div>

  <div class="col-12 col-lg-6 col-xlg-4 mb-6">
    <app-op-zones-edition-home-main-service-type-card
      *appSkeletonCard="
        !!zoneServiceTypeList;
        row: 5;
        loading: !homeEditionLoader
      "
      [serviceType]="zoneServiceTypeList.express"
      [company]="item"
      (edit)="editServiceType($event)"
      (add)="addServiceType($event)"
    >
    </app-op-zones-edition-home-main-service-type-card>
  </div>

  <div class="col-12 col-lg-6 col-xlg-4 mb-6">
    <app-op-zones-edition-home-main-service-type-card
      *appSkeletonCard="
        !!zoneServiceTypeList;
        row: 5;
        loading: !homeEditionLoader
      "
      [serviceType]="zoneServiceTypeList.ret"
      [company]="item"
      (edit)="editServiceType($event)"
      (add)="addServiceType($event)"
    >
    </app-op-zones-edition-home-main-service-type-card>
  </div>
</div> -->
