<div class="container-title-header">
  <div class="d-section-title-one">
    <div class="d-capacity-cuantity">
      130
    </div>
    <div class="d-type-operation">
      de capacidad RAD
    </div>
  </div>
  <div class="d-section-title-two">
    <div class="d-registration-requests">
      130
    </div>
    <div class="d-type-operation">
      pedidos de registro
    </div>
  </div>

  <div class="d-section-title-three">
    <div class="">
      <app-input-text-customer></app-input-text-customer>
    </div>
    <div class="">
      <app-buttons-customer></app-buttons-customer>
    </div>
  </div>
</div>
