<section class="operations-capacity-express pt-6 pt-md-8 pb-8 pb-md-15">
  <div class="row mb-4">
    <div class="col">
      <app-back-router>Opciones</app-back-router>
    </div>
  </div>

  <div class="row mb-5 mb-md-9">
    <div class="col">
      <h1 class="text-h3 text-black mb-5">
        Edición de capacidad e interval time flexible
      </h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-xlg-8">
      <!-- <app-operations-capacities-step-express-resources></app-operations-capacities-step-express-resources> -->
      <app-op-intervals-step-set-express></app-op-intervals-step-set-express>
    </div>
  </div>
</section>
