
<div class="row d-content-title-manager">
  <div class="title-module-manager">Capacidades</div>
  <div class="subTitle-module-manager">Selecciona el tipo de despacho comenzar a editar las capacidades.</div>
</div>


<div class="row d-row-column">
  <div class="d-card-home" (click)="redirect()">
    <section class="block-left">
      <img src="../../../assets/img/AMPM.png" alt="100px" width="40px">
    </section>
    <section class="block-center">
      <p class="label-title-card">AM/PM</p>
      <p class="label-sub-title-card"> Edita las capacidades del rango de la mañana y tarde</p>
    </section>
    <section class="block-rigth">
      <img src="../../../assets/img/next_rigth.png" alt="">
    </section>
  </div>


  <div class="d-card-home" (click)="redirectExpress()">
    <section class="block-left">
      <img src="../../../assets/img/Moto.png" alt="100px" width="40px">
    </section>
    <section class="block-center">
      <p class="label-title-card">EXPRESS</p>
      <p class="label-sub-title-card"> Edita la disponibilidad de recursos para este servicio en el día</p>
    </section>
    <section class="block-rigth">
      <img src="../../../assets/img/next_rigth.png" alt="">
    </section>
  </div>

</div>

<div class="row d-row-column">
  <div class="d-card-home" (click)="redirectProgrammed()">
    <section class="block-left">
      <img src="../../../assets/img/Calendar.png" alt="100px" width="40px">
    </section>
    <section class="block-center">
      <p class="label-title-card">PROGRAMADO</p>
      <p class="label-sub-title-card">Edita las capacidades por rangos de horas en el día</p>
    </section>
    <section class="block-rigth">
      <img src="../../../assets/img/next_rigth.png" alt="">
    </section>
  </div>

</div>
