<section class="operations-capacity-ret pt-6 pt-md-8 pb-8 pb-md-15">
  <div class="row mb-4">
    <div class="col">
      <app-back-router>Opciones</app-back-router>
    </div>
  </div>

  <div class="row mb-5 mb-md-9">
    <div class="col">
      <h1 class="text-h3 text-black mb-5">Editar capacidad RET</h1>
    </div>
  </div>

  <mat-accordion>
    <div class="row justify-content-center">
      <div class="d-none col-12 col-xlg-6 mb-4 mb-xlg-0">
        <div class="row">
          <div class="col-12 mb-4">
            <app-op-capacities-step-group-or-drugstore></app-op-capacities-step-group-or-drugstore>
          </div>

          <div class="col-12">
            <app-op-capacities-step-edition-mode></app-op-capacities-step-edition-mode>
          </div>
        </div>
      </div>

      <div class="col-12 col-xlg-7">
        <app-op-capacities-step-capacity-table></app-op-capacities-step-capacity-table>
      </div>
    </div>
  </mat-accordion>
</section>
