@import "src/sass/variables";
@import "src/sass/mixins/text.mixin";

.tooltip {
  display: unset;
}

::ng-deep .mat-tooltip.multiline {
  text-align: center;
  white-space: pre-line;
}

::ng-deep .mat-tooltip-panel {
  .bottom-43-right-21 {
    bottom: 43px!important;
    right: 21px!important;
  }
}

::ng-deep .mat-tooltip.tooltip {
  display: inline-flex;
  position: relative;
  background: $gray-6;
  border-radius: $border-radius;
  padding: 9px 8px;
  overflow: initial;
  color: $white;
  @include text-body-2-regular;

  &:after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    background: $gray-6;
    left: -5px;
    top: calc(50% - 5px);
    transform: rotate(45deg);
    transition: width 1s;
  }

  &.left,
  &.before{
    &:after {
      left: auto;
      right: -5px;
    }
  }

  &.below{
    &:after {
      left: calc(50% - 5px);
      top: -5px;
    }
  }

  &.above{
    &:after {
      left: calc(50% - 5px);
      bottom: -5px;
      top: auto;
    }
  }
}

