<section>
  <div class="d-flex align-items-center pb-4 border-bottom">
    <app-icon svgName="detail-route-map" svgWidth="32px"></app-icon>
    <h6 class="text-h4 text-neutral-100 ms-4 my-0">Detalle de ruta</h6>
  </div>
  <div class="d-flex py-5 text-body-3-regular text-neutral-100">
    <p class="my-0 me-3">
      <span class="text-body-3-bold">H.P:</span> Hora planificada
    </p>
    <p class="my-0"><span class="text-body-3-bold">H.R:</span> Hora real</p>
  </div>
  <div class="d-flex">
    <div class="me-5 position-relative">
      <app-icon svgName="detail-route-check" svgWidth="28px"></app-icon>
      <div class="detail-route-state"></div>
    </div>
    <div class="p-4 bg-neutral-10 rounded-3 flex-grow-1">
      <div class="d-flex mb-3 justify-content-between">
        <span class="text-body-3-bold text-neutral-100">Asignado</span>
        <span class="text-body-4-bold text-success-60">-15 min</span>
      </div>
      <div>
        <span class="text-body-3-regular text-neutral-60">H.P: 9:00 a.m. > H.R: 8:45 a.m.</span>
      </div>
    </div>
  </div>
</section>
