@import "src/sass/variables/colors.variable";

.head-border {
  border-bottom: 1.2px solid $neutral-30;
}

.detail-route-state::after {
  content: "";
  display: block;
  width: 1.8px; /* Adjust the width as needed */
  height: calc(100% - 28px); /* Adjust the height as needed */
  background-color: $secondary-60; /* Adjust the color as needed */
  position: absolute;
  top: 28px;
  left: calc(50% - 0.9px);
}
