@import "~sass/variables/colors";
@import "~sass/utilities/text";
@import "~sass/mixins";

.input-datepicker-container {
  .input-datepicker-label {
    margin: 0;
    position: relative;
  }

  .input-datepicker-input {
    background-color: $white;
    padding: 12px 40px 12px 16px;
    border: 1px solid $gray-3;
    border-radius: 4px;
    color: $black;
    height: 38px;
    @extend .text-label;

    @include placeholder {
      color: $gray-4;
      @extend .text-label;
    }
  }
}

:host {
  .input-datepicker-container {
    .input-datepicker-icon {
      position: absolute;
      right: 0;
      top: 0;

      ::ng-deep {
        .mat-icon-button {
          height: 38px;
          width: auto;
          padding-right: 16px;
          padding-left: 12px;
          outline: none;
        }

        .mat-button-focus-overlay {
          display: none;
        }
      }
    }
  }
}

