@import "src/sass/variables/variables";
@import "src/sass/utilities/breakpoints";

.inner-sidenav-container {
  height: 100%;

  .inner-sidenav {
    overflow-y: initial;
    transform: none;
  }

  .mat-drawer-content {
    margin-left: 84px !important;
    @include media-breakpoint-up(lg) {
      margin-left: 240px !important;
    }
  }

  .inner-sidenav-content-close {
    margin-left: 84px !important;
  }

  .inner-sidenav-close {
    visibility: visible !important;
    transform: none;

    .inner-sidenav-menu {
      width: 84px;
    }
  }
}


.inner-sidenav-menu {
  width: 240px;
  height: 100%;
  background: $gray-1;
  transition: width .5s;
  visibility: visible !important;

  .inner-sidenav-button {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid $gray-3;
    background-color: $white;
    height: 24px;
    width: 24px;
    right: -12px;
    top: 58px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;

    &.inner-sidenav-button-close {
      transform: rotate(180deg);
    }

    .inner-sidenav-icon {
      color: $gray-4;
    }
  }
}
