@import "src/sass/variables"
@import "src/sass/mixins"

.input-datepicker-container
  .datepicker-input
    background-color: $white
    padding: 0 40px 0 16px
    border: 1px solid $gray-2
    border-radius: $border-radius

