@import "src/sass/variables/colors.variable";
@import "src/sass/mixins";

.input-datepicker-container {
  .datepicker-input {
    background-color: $white;
    padding: 12px 40px 12px 16px;
    border: 1px solid $gray-3;
    border-radius: 4px;
  }
}
