<section>
  <app-carrier-header
    (download)="downloadMotorized()"
    [loadingTable]="loadingTable$ | async"
  ></app-carrier-header>

  <app-carrier-filter-menu
    [localList]="localList$ | async"
    [carrierStateList]="carrierStateList$ | async"
    [filterForm]="filterForm"
    (search)="executeSearch()"
  ></app-carrier-filter-menu>

  <app-carrier-panel-pill
    [filterList]="filterList"
    (delete)="deleteOptionFilter($event)"
  ></app-carrier-panel-pill>

  <app-carrier-table
    [displayTime]="displayTime"
    (navigate)="navigateToCarrierRoute($event)"
    (sort)="sortColumn($event)"
  ></app-carrier-table>
</section>
