<section>
  <app-carrier-header
    (download)="downloadMotorized()"
    [loadingTable]="loadingTable$ | async"
  ></app-carrier-header>

  <app-carrier-filter-menu
    [localList]="localList$ | async"
    [carrierStateList]="carrierStateList$ | async"
    [filterForm]="filterForm"
    (search)="executeSearch()"
  ></app-carrier-filter-menu>

  <app-carrier-panel-pill
    [filterList]="filterList"
    (delete)="deleteOptionFilter($event)"
  ></app-carrier-panel-pill>

  <app-carrier-table
    (navigate)="navigateToCarrierRoute($event)"
  ></app-carrier-table>
  <!-- <div class="row mb-6">
    <div class="col-lg-4"></div>

    <div class="col-lg-4 d-flex-center">
      <app-paginator
        [length]="totalOrder"
        [pageIndex]="page - 1"
        [pageSize]="pageSize"
      >
      </app-paginator>
    </div>
  </div> -->
</section>
