.status-text{
  font-size: 12px;
  font-weight: bold;
}
.ml-2{
  margin-left: 5px;
}
.pill-card{
  border: 1px solid #DDE2ED;
  padding: 8px;
  font-size: 14px;
  color: #304165;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;

  .btn{
    background: none;
    border: none;
    height: 14px;
    width: 14px;
  }
}
.content-pills{
  display: flex;
  overflow-x: scroll;
  column-gap: 10px;
  padding-bottom: 7px;
}

.content-pills::-webkit-scrollbar {
  height: 3px;
  padding-top: 5px;
  cursor: pointer;
}

.content-pills::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.content-pills::-webkit-scrollbar-thumb {
  background-color: rgba(195, 195, 195,0.8);
  // outline: 1px solid slategrey;

}

.content-pills::-webkit-scrollbar:vertical {
  display: none;
}
