.container-calendar {
  height: 140px;
  width: 128px;
  border-radius: 1px;
  border: 1px solid #F2F2F2;
  padding: 22px;

  .header-item {
    display: flex;
    justify-content: space-between;
  }

  .body-item {
    padding-top: 74px;
    .d-item-one {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      cursor: pointer;
    }
    .d-item-two {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

    }
  }
}
