@import "src/sass/variables/fonts.variable";

.product {
  letter-spacing: $letter-spacing-regular;

  .prescription {
    .mat-tooltip-trigger {
      top: 100px;
    }
  }

  .title {
    font-size: 10px !important;
  }

  .name {
    margin-top: 2px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.text-hidden {
  visibility: hidden;
}

.text-decoration-line {
  text-decoration: line-through;
  font-size: 11px !important;
}
.text-total-price {
  font-size: 12px !important;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87) !important;
}
