<app-card innerClass="px-6 pt-6 pb-15">
  <form [formGroup]="form$">
    <div class="row mb-5">
      <div class="col-12 d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <app-icon
            class="me-5"
            [svgName]="segmentState ? 'ellipse-success' : 'ellipse-danger'"
          ></app-icon>
          <h5 class="text-h5 mb-0 ms-3">
            {{ serviceTypeName[zoneServiceType?.code] }}
          </h5>
        </div>
        <div class="d-flex align-items-center">
          <span class="text-h5 me-2">Desactivar servicio</span>
          <app-switch
            [formControlName]="controlNameList.state"
            innerClass="bg-gray-0"
            backgroundClass="bg-secondary"
            class="d-flex align-items-center"
          >
          </app-switch>
        </div>
        <!-- <app-tag
          [appearance]="tagAppearance.coloredWhitePill"
          [tagColor]="segmentChannelColor"
        >
          {{ segmentChannelName }}
        </app-tag>
        <app-tag
          [appearance]="tagAppearance.coloredWhitePill"
          [tagColor]="segmentCompanyColor"
        >
          <span class="me-2">
            <app-icon [svgName]="segmentCompanyIcon" svgWidth="17px"></app-icon>
          </span>
          {{ segmentCompanyName }}
        </app-tag> -->
      </div>
    </div>
    <hr class="m-0 bg-gray-3" />
    <div class="d-flex mt-5 mb-5 align-items-center">
      <div>
        <app-tag
          *ngIf="zoneServiceType?.channel"
          [appearance]="tagAppearance.coloredFullBluePill"
          [tagColor]="segmentChannelColor"
          innerClass="p-3 border border-complementary-three"
        >
          {{ segmentChannelName }}
        </app-tag>
      </div>
      <div>
        <app-tag
          [appearance]="tagAppearance.coloredFullLilacPill"
          [tagColor]="'dark-complementary-four'"
          class="ms-3 d-flex align-items-center"
          *ngIf="zoneServiceType?.flagServiceType === 'P'"
          innerClass="p-3 border border-complementary-four"
        >
          Precio personalizado
        </app-tag>
      </div>
      <div>
        <app-tag
          [appearance]="tagAppearance.coloredFullGreasePill"
          [tagColor]="segmentCompanyColor"
          class="ms-3 d-flex align-items-center"
          innerClass="p-3 border border-gray-1"
        >
          <div class="d-flex justify-content-between align-items-center">
            <span class="me-2 d-flex align-items-center">
              <app-icon
                [svgName]="segmentCompanyIcon"
                svgWidth="22px"
              ></app-icon>
            </span>
            {{ segmentCompanyName }}
          </div>
        </app-tag>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-12">
        <h5 class="text-h5 mb-0">
          <span class="text-black"
            >Selecciona el horario de inicio y fin para el servicio
            {{ serviceTypeName[zoneServiceType?.code] }}:</span
          >
        </h5>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-6">
        <app-form-field>
          <app-form-field-label>Inicio</app-form-field-label>
          <app-input-time
            name="start-hour-time"
            format="12"
            [minHour]="zonesStoreServiceType.startHour"
            [maxHour]="_serviceTypeDetailForm.endHourControl.value"
            (timeChange)="updateStartHourControl($event)"
            [formControlName]="controlNameList.startHour"
          >
          </app-input-time>
        </app-form-field>
      </div>
      <div class="col-6">
        <app-form-field>
          <app-form-field-label>Fin</app-form-field-label>
          <app-input-time
            name="end-hour-time"
            format="12"
            [options]="{ minutesGap: 30 }"
            [minHour]="_serviceTypeDetailForm.startHourControl.value"
            [maxHour]="zonesStoreServiceType.endHour"
            (timeChange)="updateEndHourControl($event)"
            [formControlName]="controlNameList.endHour"
          >
          </app-input-time>
        </app-form-field>
      </div>
    </div>

    <ng-container *ngIf="zoneServiceType.code !== serviceTypeCode.express">
      <div class="row mt-5 mb-5">
        <div class="col-12">
          <h5 class="text-h5 mb-0">
            <span class="text-black">
              Ingresa la duraci&oacute;n de las ventanas:
            </span>
          </h5>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-6">
          <app-form-field>
            <app-form-field-label> Duraci&oacute;n </app-form-field-label>
            <div class="row mx-0">
              <app-input
                [formControlName]="controlNameList.intervalTime"
                placeholder="horas"
              >
              </app-input>
            </div>
            <div class="row mx-0">
              <p
                class="d-inline-flex align-items-center ms-3 mb-0"
                *appRouterAccess="configurationPath"
              >
                <app-icon
                  fontName="info"
                  fontSize="24px"
                  innerClass="text-gray-5 me-2"
                ></app-icon>
                <span class="text-body-2-regular text-gray-5"
                  >Puedes editar este valor en
                  <app-router [router]="configurationPath">
                    <span
                      class="text-decoration-underline text-gray-5 font-weight-bold"
                      >configuraciones</span
                    >
                  </app-router>
                </span>
              </p>
            </div>
          </app-form-field>
        </div>
        <div class="col-6">
          <app-form-field>
            <app-form-field-label> N° de ventanas </app-form-field-label>
            <div class="row mx-0">
              <div class="col-7 ps-0">
                <app-input [formControlName]="controlNameList.splitSegment">
                </app-input>
              </div>
              <div class="col-5 pe-0">
                <app-button
                  (clicked)="openServiceTypeDetailDialog()"
                  appearance="outline"
                  innerClass="w-100"
                >
                  Ver detalle
                </app-button>
              </div>
            </div>
          </app-form-field>
        </div>
      </div>
    </ng-container>

    <div class="row mt-5 mb-5">
      <div class="col-12">
        <h5 class="text-h5 mb-0">
          <span class="text-black">
            Lapso de cierre de ventana horaria para toma de pedidos - GAP:
          </span>
        </h5>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-6">
        <app-input
          [formControlName]="controlNameList.segmentGap"
          placeholder="GAP"
        >
        </app-input>
      </div>
      <div class="col-6">
        <span class="text-body-1-regular ms-3">minutos</span>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-12">
        <h5 class="text-h5 mb-0">
          <span class="text-black">
            Selecciona el valor de flete del servicio:
          </span>
        </h5>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-6">
        <app-radio
          (change)="hideInput()"
          labelClass="default-radio"
          [checked]="isCostDefault"
          >Monto por defecto: S/ {{ defaultServiceCost }} soles</app-radio
        >
      </div>
      <div class="col-6">
        <app-radio (change)="showInput()" [checked]="!isCostDefault"
          >Monto personalizado:</app-radio
        >
      </div>
    </div>

    <ng-container *ngIf="showCustomAmount">
      <div class="row mb-5">
        <div class="col-6 offset-6">
          <app-input
            [formControlName]="controlNameList.customAmount"
            placeholder="S/ 0.00"
            [error]="getErrorServiceCost()"
            appAmountReverse
          ></app-input>
          <p *ngIf="getErrorServiceCost()" class="text-danger mt-1 pe-1">
            El campo se encuentra vacío
          </p>
        </div>
      </div>
    </ng-container>

    <div
      class="card-actions d-flex-horizontal-end pt-5 border-top border-gray-1"
    >
      <app-button
        appearance="secondary"
        class="me-4"
        (clicked)="cancelEditionEvent()"
        >Cancelar edición</app-button
      >
      <app-button
        appearance="primary"
        [disabled]="form$.invalid"
        [pathAccess]="zoneServiceTypePath"
        (editionAccess)="saveEditionEvent()"
      >
        Guardar cambios
      </app-button>
    </div>
  </form>
</app-card>
{{ form$.value | json}}