<app-card>
    <form [formGroup]="form$">

        <div class="row mb-6">
            <div class="col-12 d-flex-vertical-center justify-content-between">
                <app-switch [formControlName]="controlNameList.state">
                    <span class="text-h5">{{serviceTypeName[zoneServiceType?.code]}}</span>
                </app-switch>

                <app-tag [appearance]="tagAppearance.coloredWhitePill"
                         [tagColor]="segmentChannelColor">
                    {{segmentChannelName}}
                </app-tag>
            </div>
        </div>

        <div class="row mb-6">
            <div class="col-5">
                <app-form-field>
                    <app-form-field-label>Inicio</app-form-field-label>
                    <app-input-time name="start-hour-time"
                                    format="12"
                                    [minHour]="zonesStoreServiceType.startHour"
                                    [maxHour]="_serviceTypeDetailForm.endHourControl.value"
                                    (timeChange)="updateStartHourControl($event)"
                                    [formControlName]="controlNameList.startHour">
                    </app-input-time>
                </app-form-field>
            </div>
            <div class="col-5">
                <app-form-field>
                    <app-form-field-label>Fin</app-form-field-label>
                    <app-input-time name="end-hour-time"
                                    format="12"
                                    [options]="{minutesGap: 30}"
                                    [minHour]="_serviceTypeDetailForm.startHourControl.value"
                                    [maxHour]="zonesStoreServiceType.endHour"
                                    (timeChange)="updateEndHourControl($event)"
                                    [formControlName]="controlNameList.endHour">
                    </app-input-time>
                </app-form-field>
            </div>
        </div>

        <ng-container *ngIf="zoneServiceType.code !== serviceTypeCode.express">

            <div class="row mb-4">
                <div class="col-12">
                    <app-form-field>
                        <app-form-field-label>Duración de ventanas horarias</app-form-field-label>
                        <div class="d-flex-vertical-center">
                            <app-input [formControlName]="controlNameList.intervalTime"
                                       placeholder="horas"
                                       class="d-inline-block interval-time-input">
                            </app-input>

                            <p class="d-inline-flex align-items-center ms-3 mb-0"
                               *appRouterAccess="configurationPath">
                                <app-icon fontName="info"
                                          fontSize="24px"
                                          innerClass="text-gray-5 me-2"></app-icon>
                                <span class=" text-caption text-gray-5">Puedes editar este valor en
                            <app-router [router]="configurationPath">
                                <span class="text-decoration-underline text-gray-5 font-weight-bold">
                                    configuraciones
                                </span>
                            </app-router>
                        </span>
                            </p>
                        </div>
                    </app-form-field>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <app-form-field>
                        <app-form-field-label>Resultado de número de ventanas horarias</app-form-field-label>
                        <app-input [formControlName]="controlNameList.splitSegment"
                                   class="d-inline-block me-4 service-segment-input">
                        </app-input>
                        <app-button (clicked)="openServiceTypeDetailDialog()"
                                    appearance="outline">Ver detalle
                        </app-button>
                    </app-form-field>
                </div>
            </div>

        </ng-container>

        <div class="row mb-9">
            <div class="col-12">
                <app-form-field>
                    <app-form-field-label>Lapso de cierre de ventana horaria para toma de pedidos - GAP</app-form-field-label>
                    <app-input-number [formControlName]="controlNameList.segmentGap"
                                      placeholder="GAP"
                                      class="d-inline-block segment-gap-input">
                    </app-input-number>
                    <span class="text-label ms-3">minutos</span>
                </app-form-field>
            </div>
        </div>


        <div class="card-actions d-flex-horizontal-end pt-5 border-top border-gray-1">
            <app-button appearance="secondary"
                        class="me-4"
                        (clicked)="cancelEditionEvent()">
                Cancelar edición
            </app-button>
            <app-button appearance="primary"
                        appEditionAccess
                        [disabled]="form$.invalid"
                        (access)="saveEditionEvent()">
                Guardar cambios
            </app-button>
        </div>
    </form>
</app-card>
