<app-account-card>
    <ng-container account-card-title>Recupera tu contraseña</ng-container>
    <ng-container account-card-content>

        <div class="recover-password-caption text-center mb-7">
            <p class="text-subtitle-1 text-gray-6 mb-0">Enviaremos un código de acceso a tu usuario</p>
        </div>


        <form [formGroup]="recoverPasswordUserForm.form$"
              (ngSubmit)="formSubmitted()"
              [class.container-loader]="submitForm">

            <div class="user mb-10">
                <app-form-field>
                    <app-form-field-label>Usuario</app-form-field-label>
                    <app-input formControlName="username"
                               labelClass="d-block"
                               id="username"
                               placeholder="Escribe aquí tu usuario">
                    </app-input>
                    <app-form-field-error>{{recoverPasswordUserForm.usernameControl.controlError}}</app-form-field-error>
                </app-form-field>
            </div>


            <div class="submit mb-4">
                <app-button [disabled]="recoverPasswordUserForm.form$.invalid"
                            innerClass="w-100"
                            appearance="primary"
                            behavior="submit">
                    Enviar código
                </app-button>
            </div>

            <div class="cancel">
                <app-button (click)="formCancel()"
                            innerClass="w-100"
                            appearance="ghost"
                            behavior="button">
                    Cancelar
                </app-button>
            </div>
        </form>

    </ng-container>
</app-account-card>
